<footer>
  <div class="bottom-buttons">
    <!-- line -->
    <div class="line"></div>
    <!-- bottom buttons-->
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <a class="thank main_btn delay_04s" data-toggle="modal" data-target="#thank-popup">
            <span class="text">
                <span class="img"></span>
                Поблагодарить
            </span>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <a class="complain main_btn delay_04s" data-toggle="modal" data-target="#complain-popup">
            <span class="text">
                <span class="img"></span>
                Пожаловаться
            </span>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <a class="advice main_btn delay_04s" data-toggle="modal" data-target="#advice-popup">
            <span class="text">
                <span class="img"></span>
                Посоветовать
            </span>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <a class="ask main_btn delay_04s" data-toggle="modal" data-target="#ask-popup">
            <span class="text">
                <span class="img"></span>
                Спросить
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 general-information">
          <p><span class="copy">&copy;&nbsp;</span>2016</p>
          <br>

          <p><b>Частное торговое унитарное предприятие «БОСИКОМ»</b></p>
          <br>

          <p>Адрес:</p>

          <p>220141, г. Минск, пр-т Независимости, д. 168, корп. 2, офис 183<br>
            <br>
            УНП:&nbsp;192585230&nbsp;<br>
            <br>
            <b>Свидетельство о государственной регистрации</b>

          <p>
            № 192585230 от&nbsp; 30 декабря 2015 г.&nbsp;<br>
            <br>
            <b>Регистрационный номер в торговом реестре</b>
          </p>

          <p>
            №301806 14 января 2016 г.&nbsp;<br>
          </p>

          <p>
            &nbsp;&nbsp;
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 v2">
          <div class="mobile-phone-block">
            <span class="icons">
                <span class="velcom"></span>
                <span class="mts"></span>
                <span class="life"></span>
            </span>
            <span class="mobile">7577</span>
          </div>
          <div class="clr"></div>
          <div class="city-phone-block">
            <span class="city"><span>+375 17</span> 276-75-77</span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="row pay-info">
            <div class="col-md-12">
              <!-- <img src="/bitrix/templates/jlab/img/pic_pay.png" alt="" style="padding-bottom: 50px;"> -->
              <img width="237" alt="bank_logo_kart.jpg" src="../../img/bank_logo_kart.jpg" height="36"
                   title="bank_logo_kart.jpg"></div>
          </div>
          <div class="row copyright-block">
            <div class="col-md-12">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>