<span class="popup-menu-bg"></span>
<span class="popup-search-bg"></span>
<header class="v2">
  <div class="phone-row">
    <div class="container">
      <div class="row">
        <div class="col-md-12 right-to-left phones">
          <span class="city">+375 17 276-75-77</span>
            <span>
                <span class="velcom"></span>
                <span class="mts"></span>
                <span class="life"></span>
                <span class="mobile">7577</span>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div class="mosaic-row">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <a href="#" id="logo">
            <img src="../../img/logo.png" alt="logo" width="291" height="54">
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="work-time-basket">
            <div id="working-hours">
              <p>
                Магазин работает:
              </p>

              <p>
                c 9:00 до 22:00
              </p></div>
            <div id="basket" class="delay_04s">
              <a href="/cart/">
                <span>0</span>
              </a>
            </div>


          </div>
        </div>
        <div id="title-search" class="col-md-12">
          <form action="/search/" id="searchform">
            <input type="search" class="form-control" autocomplete="off" name="q" placeholder="Поиск по сайту" value="">
            <input type="button" value="Поиск" title="Найти">
            <input name="s" type="hidden" value=""/>
          </form>
        </div>
        <div class="search-icon hidden-xs"></div>
      </div>
    </div>
  </div>
  <div class="min-search-block">
    <div id="title-search" class="col-md-12">
      <form action="/search/">
        <input type="search" class="form-control" autocomplete="off" name="q" placeholder="Поиск по сайту" value="">
        <input type="button" value="Поиск" title="Найти">
        <input name="s" type="hidden" value=""/>
      </form>
    </div>
  </div>
  <div class="container main-buttons-box ind-buttons-box posinit">
    <div class="row posinit">
      <div class="col-xs-12 col-sm-6 col-md-3 js-top-menu-element posinit">
        <a href="#plitka" class="but but1 but-red bg bg-red delay_04s1 a-url">
          <!-- <span class="img"></span> -->
          <div class="img-block">
            <img src="../../img/but6_w.png" alt="">
            <img src="../../img/but6_c.png" alt="">
          </div>
          <span class="text">Плитка</span>
          <span class="clearfix"></span>
        </a>
          <nav class="header-menu-top plitka" id="plitka">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-6 col-lg-2">
                          <div class="title-menu">Плитка <i class="fa fa-caret-right"></i></div>
                          <ul class="menu-first-level menu-level">
                              <li class="active"><a href="./menu-l0.html">Настенная</a></li>
                              <li><a href="./menu-l0-1.html">Напольная</a></li>
                              <li><a href="./menu-l0-2.html">Мозаика</a></li>
                              <li><a href="./menu-l0.html">Декоры</a></li>
                              <li><a href="./menu-l0.html">Фризы</a></li>
                              <li><a href="./menu-l0.html">Клинкерная</a></li>
                          </ul>
                      </div>
                      <div class="col-sm-5 col-lg-2">
                          <div class="menu-second-level" id="colection1">
                              <div class="title-menu">Коллекции <i class="fa fa-caret-right"></i></div>
                              <ul class="menu-level">
                                  <li class="active"><a href="./menu-l1.html">Коллекция 1</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 2</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 3</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 4</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 5</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 6</a></li>
                                  <li><a href="./menu-l1.html">Коллекция с очень длинным названием 7</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 8</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 9</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 10</a></li>
                              </ul>
                              <div class="all-colect"><a href="#">Все коллекции  <i class="fa fa-caret-right"></i></a></div>
                          </div>
                      </div>
                      <div class="col-lg-offset-1 col-lg-7 col-sm-1 jq-showmenublock col-xs-offset-0 col-sm-offset-0 col-xs-12 visible-lg-inline-block" >
                          <div class="col-md-12">

                          </div>
                      </div>
                  </div>
              </div>
          </nav>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 js-top-menu-element posinit" id="bx_1847241719_19">
        <a href="#santekhnika" class="but but2 but-green bg bg-green a-url delay_04s1 ">
          <!-- <span class="img"></span> -->
          <div class="img-block">
            <img src="../../img/but4_w.png" alt="">
            <img src="../../img/but4_c.png" alt="">
          </div>
          <span class="text">Сантехника</span>
          <span class="clearfix"></span>
        </a>
        <nav class="header-menu-top santekhnika" id="santekhnika">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-lg-2">
                      <div class="title-menu">Сантехника <i class="fa fa-caret-right"></i></div>
                      <ul class="menu-first-level2 menu-level">
                          <li class="active"><a href="./menu-h2.html">Настенная</a></li>
                          <li><a href="./menu-h2.html">Напольная</a></li>
                          <li><a href="./menu-h2.html">Мозаика</a></li>
                          <li><a href="./menu-h2.html">Декоры</a></li>
                          <li><a href="./menu-h2.html">Фризы</a></li>
                          <li><a href="./menu-h2.html">Клинкерная</a></li>
                      </ul>
                  </div>
                  <div class="col-md-8 col-lg-10 js-hit-towarov">
                  </div>
              </div>
          </div>
      </nav>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3  js-top-menu-element posinit" id="bx_1847241719_16">
        <a href="#vanny" class="but but3 but-blue bg bg-blue a-url  delay_04s1">
          <!-- <span class="img"></span> -->
          <div class="img-block">
            <img src="../../img/but2_w_1_.png" alt="">
            <img src="../../img/but2_c.png" alt="">
          </div>
          <span class="text">Ванны</span>
          <span class="clearfix"></span>
        </a>
          <nav class="header-menu-top vanny" id="vanny">
              <div class="container">
                  <div class="row">
                      <div class="col-md-4 col-lg-2">
                          <div class="title-menu">Ванны <i class="fa fa-caret-right"></i></div>
                          <ul class="menu-first-level2 menu-level">
                              <li class="active"><a href="./menu-h2.html">Ванны</a></li>
                              <li><a href="./menu-h2.html">Напольная</a></li>
                              <li><a href="./menu-h2.html">Мозаика</a></li>
                              <li><a href="./menu-h2.html">Декоры</a></li>
                              <li><a href="./menu-h2.html">Фризы</a></li>
                              <li><a href="./menu-h2.html">Клинкерная</a></li>
                          </ul>
                      </div>
                      <div class="col-md-8 col-lg-10 js-hit-towarov">
                      </div>
                  </div>
              </div>
          </nav>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 js-top-menu-element posinit" id="bx_1847241719_22">
        <a href="#mebel-dlya-vannoy" class="but but4 but-orange bg bg-orange  a-url delay_04s1">
          <!-- <span class="img"></span> -->
          <div class="img-block">
            <img src="../../img/but7_w.png" alt="">
            <img src="../../img/but7_c.png" alt="">
          </div>
          <span class="text">Мебель для ванной</span>
          <span class="clearfix"></span>
        </a>
          <nav class="header-menu-top mebel-dlya-vannoy" id="mebel-dlya-vannoy">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-6 col-lg-2">
                          <div class="title-menu">Мебель для ванной <i class="fa fa-caret-right"></i></div>
                          <ul class="menu-first-level menu-level">
                              <li class="active"><a href="./menu-l0.html">Настенная</a></li>
                              <li><a href="./menu-l0-1.html">Напольная</a></li>
                              <li><a href="./menu-l0-2.html">Мозаика</a></li>
                              <li><a href="./menu-l0.html">Декоры</a></li>
                              <li><a href="./menu-l0.html">Фризы</a></li>
                              <li><a href="./menu-l0.html">Клинкерная</a></li>
                          </ul>
                      </div>
                      <div class="col-sm-5 col-lg-2">
                          <div class="menu-second-level" id="colection1">
                              <div class="title-menu">Мебель для ванной <i class="fa fa-caret-right"></i></div>
                              <ul class="menu-level">
                                  <li class="active"><a href="./menu-l1.html">Мебель для ванной 1</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 2</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 3</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 4</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 5</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 6</a></li>
                                  <li><a href="./menu-l1.html">Коллекция с очень длинным названием 7</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 8</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 9</a></li>
                                  <li><a href="./menu-l1.html">Коллекция 10</a></li>
                              </ul>
                              <div class="all-colect"><a href="#">Все коллекции  <i class="fa fa-caret-right"></i></a></div>
                          </div>
                      </div>
                      <div class="col-lg-offset-1 col-lg-7 col-sm-1 jq-showmenublock col-xs-offset-0 col-sm-offset-0 col-xs-12 visible-lg-inline-block" >
                          <div class="col-md-12">

                          </div>
                      </div>
                  </div>
              </div>
          </nav>
      </div>
    </div>
  </div>

  <div class="container mosaic-button-row hidden-xs">
    <div class="row">
      <div class="col-md-12">
        <div class="button-wrapper">
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="navbar navbar-default navbar-static-top hidden-xs" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          <li><a href="/delivery/">Доставка</a></li>
          <li><a href="/ustanovka-i-servis/">Установка и сервис</a></li>
          <li><a href="/payment/">Оплата</a></li>
          <li><a href="/job/">Работа с нами</a></li>
          <li><a href="/contacts/">Контакты</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="preims hidden-xs">
    <div class="container">
      <ul>
        <li class="preim-1"><a href="/nashi-preimushchestva/#prices">Только честные цены</a></li>
        <li class="preim-2"><a href="/nashi-preimushchestva/#garantii">Гарантия качества</a></li>
        <li class="preim-3"><a href="/nashi-preimushchestva/#dostavka">Быстрая профессиональная доставка</a></li>
        <li class="preim-4"><a href="/nashi-preimushchestva/#servis">Качественная установка и сервис</a></li>
        <li class="preim-5"><a href="/nashi-preimushchestva/#oplata">Удобные способы оплаты</a></li>
      </ul>
    </div>
  </div>
</header>
<div class="search-result-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="">
                    <input type="text" value="ванна" />
                    <span class="cancel-bt"></span>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="title-menu">Плитка <i class="fa fa-caret-right"></i></div>
                <ul class="menu-first-level menu-level">
                    <li class="active"><a href="./menu-l0.html">Все категории</a></li>
                    <li><a href="./menu-l0-1.html">Плитка</a></li>
                    <li><a href="./menu-l0-2.html">Сантехника</a></li>
                    <li><a href="./menu-l0.html">Ванны</a></li>
                    <li><a href="./menu-l0.html">Мебель для ванных</a></li>
                    <li><a href="./menu-l0.html">Клинкерная</a></li>
                </ul>

            </div>
            <div class="col-md-9">
                <div class="products-list products_list-list ">
                    <div class="row product-item">
                        <div class="col-sm-3">
                            <div class="img-wrap">
                                <img src="../../images/product-prev-01.png" alt="img" class="img-responsive" />
                                <div class="discount">-10%</div>s
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h5><a href="#">Плитка персиковая Santek Монако7С 400x275</a></h5>
                            <div class="rating-wrap">
                                <div class="rating"></div>
                                <span class="count">15</span>
                            </div>
                            <div class="description">
                                <p>Страна: Польша</p>
                                <p>Тип: Напольный</p>
                                <p>Подвод воды: Боковой</p>
                                <p>Выпуск: Косой</p>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="price">8 999 990 <span class="small">000</span></div>
                            <div class="share">
                                <span class="old">9 999 900 000</span>
                                <span class="discount">Экономия 1 000 000 000</span>
                            </div>
                            <div class="parameters">
                                <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                                <div class="units">
                                    <ul>
                                        <li>м2</li>
                                        <li class="active">шт</li>
                                    </ul>
                                </div>
                                <a class="button" href="#">В корзину</a>
                            </div>
                            <div class="buy-one-click">
                                <a class="buy" href="#">Купить в один клик</a>
                                <form>
                                    <input type="submit" value="Купить" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                                    <span class="bt-close-one-click"></span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row product-item">
                        <div class="col-sm-3">
                            <div class="img-wrap">
                                <img src="../../images/product-prev-01.png" alt="img" class="img-responsive" />
                                <div class="discount">-10%</div>s
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h5><a href="#">Плитка персиковая Santek Монако7С 400x275</a></h5>
                            <div class="rating-wrap">
                                <div class="rating"></div>
                                <span class="count">15</span>
                            </div>
                            <div class="description">
                                <p>Страна: Польша</p>
                                <p>Тип: Напольный</p>
                                <p>Подвод воды: Боковой</p>
                                <p>Выпуск: Косой</p>
                            </div>
                        </div>
                        <div class="col-sm5">
                            <div class="price">8 999 990 <span class="small">000</span></div>
                            <div class="share">
                                <span class="old">9 999 900 000</span>
                                <span class="discount">Экономия 1 000 000 000</span>
                            </div>
                            <div class="parameters">
                                <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                                <div class="units">
                                    <ul>
                                        <li>м2</li>
                                        <li class="active">шт</li>
                                    </ul>
                                </div>
                                <a class="button" href="#">В корзину</a>
                            </div>
                            <div class="buy-one-click">
                                <a class="buy" href="#">Купить в один клик</a>
                                <form>
                                    <input type="submit" value="Купить" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                                    <span class="bt-close-one-click"></span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row product-item">
                        <div class="col-sm-3">
                            <div class="img-wrap">
                                <img src="../../images/product-prev-01.png" alt="img" class="img-responsive" />
                                <div class="discount">-10%</div>s
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h5><a href="#">Плитка персиковая Santek Монако7С 400x275</a></h5>
                            <div class="rating-wrap">
                                <div class="rating"></div>
                                <span class="count">15</span>
                            </div>
                            <div class="description">
                                <p>Страна: Польша</p>
                                <p>Тип: Напольный</p>
                                <p>Подвод воды: Боковой</p>
                                <p>Выпуск: Косой</p>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="price">8 999 990 <span class="small">000</span></div>
                            <div class="share">
                                <span class="old">9 999 900 000</span>
                                <span class="discount">Экономия 1 000 000 000</span>
                            </div>
                            <div class="parameters">
                                <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                                <div class="units">
                                    <ul>
                                        <li>м2</li>
                                        <li class="active">шт</li>
                                    </ul>
                                </div>
                                <a class="button" href="#">В корзину</a>
                            </div>
                            <div class="buy-one-click">
                                <a class="buy" href="#">Купить в один клик</a>
                                <form>
                                    <input type="submit" value="Купить" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                                    <span class="bt-close-one-click"></span>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>