<script src="../../js/modernizr.js"></script>
<!-- jquery.maskedinput.js -->
<script src="../../js/jquery.maskedinput.js"></script>
<!-- jquery.touchSwipe.min.js -->
<script src="../../js/jquery.touchSwipe.min.js"></script>
<!-- jquery.carouFredSel-6.2.1-packed.js -->
<script src="../../js/jquery.carouFredSel-6.2.1-packed.js"></script>
<!-- nouislider.js include -->
<!-- my_ui.js include -->
<!-- jquery.pickmeup.js -->
<script src="../../js/jquery.pickmeup.js"></script>
<!-- parallax include -->
<script src="../../js/parallax.js"></script>
<!-- jquery.dotdotdot.min.js -->
<script src="../../js/jquery.dotdotdot.min.js"></script>
<!-- lightbox -->
<script src="../../js/lightbox.min.js"></script>
<!-- mousewheel -->
<script src="../../js/jquery.mousewheel.js"></script>
<!-- bootstrap select -->
<script src="../../js/bootstrap-select.min.js"></script>
<!-- slick slider -->
<script src="../../js/slick.js"></script>
<!-- elevate zoom -->
<script src="../../js/jquery.elevatezoom.js"></script>
<!-- rating -->
<!-- formstyler -->
<script src="../../js/jquery.formstyler.js"></script>
<!-- rating -->
<script src="../../js/bootstrap-rating.js"></script>
<!-- jQuery validate -->
<script src="../../js/jquery.validate.min.js"></script>
<script src="../../js/jquery.form.min.js"></script>
<!-- my owner scripts -->
<script src="../../js/scripts.js"></script>
<script src="../../js/scripts_gl.js"></script>
<script src="../../js/jquery.maskedinput.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script src="../../js/common.js"></script>
