<!-- build:section layout.head -->
<!-- /build -->

<body>

<!-- build:section layout.header -->
<!-- /build -->

<div class="breadcrumbs">
  <div class="container">
    <ul>
      <li>
        <a href="#">Главная 2</a>
      </li>
      <li>
        <a href="#">Каталог</a>
      </li>
      <li>
        <a href="#">Сантехника</a>
      </li>
    </ul>
  </div>
</div>

<section class="categories-section-e">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">Полукруглые распашные душевые кабины <span>28</span></div>
            </div>
            <div class="col-md-3 hidden-xs" id="left-col-cat">
                <div class="full-filters-e">
                    <div class="block-filter">
                        <div class="title">Тип</div>
                        <div class="checkbox-e"><input type="checkbox" id="cb1" /> <label for="cb1">Прямоугольные раздвижные</label></div>
                        <div class="checkbox-e"><input type="checkbox" id="cb2" /> <label for="cb2">Полукрыглые распашные</label></div>
                        <div class="checkbox-e"><input type="checkbox" id="cb3" /> <label for="cb3">Прямоугольные распашные</label></div>
                        <div class="checkbox-e"><input type="checkbox" id="cb4" /> <label for="cb4">Квадратные раздвижные</label></div>
                        <div class="checkbox-e"><input type="checkbox" id="cb5" /> <label for="cb5">Прямоугольные распашные</label></div>
                    </div>
                    <div class="block-filter">
                        <div class="title">Цена (минимальная)</div>
                        <div class="tow-input">
                            <input type="text" name="" id="" placeholder="от"><input type="text" name="" id="" placeholder="до">
                        </div>
                    </div>
                    <div class="block-filter">
                        <div class="title">Производитель</div>
                        <div class="checkbox-e"><input type="checkbox" id="cb6" /> <label for="cb6">Armatura</label></div>
                        <div class="checkbox-e"><input type="checkbox" id="cb7" /> <label for="cb7">Canela Spring</label></div>
                        <div class="checkbox-e"><input type="checkbox" id="cb8" /> <label for="cb8">Cersanit</label></div>
                        <div class="checkbox-e"><input type="checkbox" id="cb9" /> <label for="cb9">Cordivari</label></div>
                        <div class="checkbox-e"><input type="checkbox" id="cb10" /> <label for="cb10">Emalia</label></div>
                        <div class="select-e">
                            <a href="#">Все 58 вариантов <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                    <div class="block-filter">
                        <div class="title">Производитель</div>
                        <div class="checkbox-e"><input type="checkbox" id="cb11" /> <label for="cb11">Armatura</label></div>
                        <div class="checkbox-e"><input type="checkbox" id="cb12" /> <label for="cb12">Canela Spring</label></div>
                        <div class="checkbox-e"><input type="checkbox" id="cb13" /> <label for="cb13">Cersanit</label></div>
                        <div class="checkbox-e"><input type="checkbox" id="cb14" /> <label for="cb14">Cordivari</label></div>
                        <div class="checkbox-e"><input type="checkbox" id="cb15" /> <label for="cb15">Emalia</label></div>
                        <div class="select-e">
                            <a href="#">Все 35 вариантов <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                    <div class="block-filter">
                        <div class="title">Высот.а, см</div>
                        <div class="tow-input">
                            <input type="text" name="" id="" placeholder="150"><input type="text" name="" id="" placeholder="240">
                        </div>
                    </div>
                    <div class="block-filter">
                        <div class="title">Ширина, см</div>
                        <div class="tow-input">
                            <input type="text" name="" id="" placeholder="60"><input type="text" name="" id="" placeholder="220">
                        </div>
                    </div>
                    <div class="block-filter no-border">
                        <div class="title">Глубина, см</div>
                        <div class="tow-input">
                            <input type="text" name="" id="" placeholder="50"><input type="text" name="" id="" placeholder="160">
                        </div>
                    </div>
                    <div class="title2">Дополнительные параметры</div>
                    <div class="find-all">Найдено 568 товаров</div>
                    <div class="block-filter no-border">
                        <a href="#" class="bt-filter-reset">Сбросить все фильтры</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9" id="right-col-cat">
                <div class="category-list">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="item-categor">
                                <a href="#">
                                    <span class="img"><img src="./images/pic-small.png" alt="" class="img-responsive" /></span>
                                    <spna class="coll">15</spna>
                                    <span class="titles">Прямоугольные раздвижные</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="item-categor">
                                <a href="#">
                                    <span class="img"><img src="./images/pic-small.png" alt="" class="img-responsive" /></span>
                                    <spna class="coll">15</spna>
                                    <span class="titles">Полукрыглые распашные</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="item-categor">
                                <a href="#">
                                    <span class="img"><img src="./images/pic-small.png" alt="" class="img-responsive" /></span>
                                    <spna class="coll">15</spna>
                                    <span class="titles">Прямоугольные распашные</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="item-categor">
                                <a href="#">
                                    <span class="img"><img src="./images/pic-small.png" alt="" class="img-responsive" /></span>
                                    <spna class="coll">15</spna>
                                    <span class="titles">Квадратные раздвижные</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="item-categor">
                                <a href="#">
                                    <span class="img"><img src="./images/pic-small.png" alt="" class="img-responsive" /></span>
                                    <spna class="coll">15</spna>
                                    <span class="titles">Прямоугольные распашные</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="categories-filter-order-e">
                    <div class="instoke">
                        <div class="checkbox-e"><input type="checkbox" id="cb0" /> <label for="cb0">В наличии</label></div>
                    </div>
                    <div class="show-list-table hidden-xs">
                        <span class="active"><i class="fa fa-th-list"></i></span>
                        <span><i class="fa fa-th"></i></span>
                    </div>
                    <div class="orderblock">
                        <select name="" id="">
                            <option value="Сначала популярные">Сначала популярные</option>
                            <option value="Сначала популярные">Сначала популярные</option>
                            <option value="Сначала популярные">Сначала популярные</option>
                        </select>
                    </div>
                </div>
                <div class="products-list products_list-list">
                    <div class="row product-item">
                        <div class="col-md-3">
                            <div class="img-wrap">
                                <img src="../../images/product-prev-01.png" alt="img" class="img-responsive" />
                                <div class="discount">-10%</div>s
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-4">
                            <h5><a href="#">Плитка персиковая Santek Монако7С 400x275</a></h5>
                            <div class="rating-wrap">
                                <div class="rating"></div>
                                <span class="count">15</span>
                            </div>
                            <div class="description">
                                <p>Страна: Польша</p>
                                <p>Тип: Напольный</p>
                                <p>Подвод воды: Боковой</p>
                                <p>Выпуск: Косой</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5">
                            <div class="price">8 999 990 <span class="small">000</span></div>
                            <div class="share">
                                <span class="old">9 999 900 000</span>
                                <span class="discount">Экономия 1 000 000 000</span>
                            </div>
                            <div class="parameters">
                                <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                                <a class="button full" href="#">В корзину</a>
                            </div>
                            <div class="buy-one-click">
                                <a class="buy" href="#">Купить в один клик</a>
                                <form>
                                    <input type="submit" value="Купить" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                                    <span class="bt-close-one-click"></span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row product-item">
                        <div class="col-md-3">
                            <div class="img-wrap">
                                <img src="../../images/product-prev-01.png" alt="img" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-4">
                            <h5><a href="#">Ванна акриловая, угловая</a></h5>
                            <div class="rating-wrap">
                                <div class="rating"></div>
                                <span class="count">15</span>
                            </div>
                            <div class="description">
                                <p>Страна: Польша</p>
                                <p>Тип: Напольный</p>
                                <p>Подвод воды: Боковой</p>
                                <p>Выпуск: Косой</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5">
                            <div class="price">8 999 990 <span class="small">000</span></div>
                            <div class="parameters">
                                <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                                <a class="button full" href="#">В корзину</a>
                            </div>
                            <div class="buy-one-click">
                                <a class="buy" href="#">Купить в один клик</a>
                                <form>
                                    <input type="submit" value="Купить" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                                    <span class="bt-close-one-click"></span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row product-item">
                        <div class="col-md-3">
                            <div class="img-wrap">
                                <img src="../../images/product-prev-01.png" alt="img" class="img-responsive" />
                                <div class="mark green">Товар в корзине</div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-4">
                            <h5><a href="#">Ванна акриловая, угловая</a></h5>
                            <div class="rating-wrap">
                                <div class="rating"></div>
                                <span class="count">15</span>
                            </div>
                            <div class="description">
                                <p>Страна: Польша</p>
                                <p>Тип: Напольный</p>
                                <p>Подвод воды: Боковой</p>
                                <p>Выпуск: Косой</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5">
                            <div class="price">8 999 990 <span class="small">000</span></div>
                            <div class="parameters inbasket">
                                <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                                <a class="button full" href="#">В корзину</a>
                                <a class="button-cancel" href="#">Отменить</a>
                            </div>
                            <div class="buy-one-click">
                                <a class="buy" href="#">Купить в один клик</a>
                                <form>
                                    <input type="submit" value="Купить" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                                    <span class="bt-close-one-click"></span>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row product-item">
                        <div class="col-md-3">
                            <div class="img-wrap">
                                <img src="../../images/product-prev-01.png" alt="img" class="img-responsive" />
                                <div class="mark gray">Нет на складе</div>
                                <div class="discount">-10%</div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-4">
                            <h5><a href="#">Ванна акриловая, угловая</a></h5>
                            <div class="rating-wrap">
                                <div class="rating"></div>
                                <span class="count">15</span>
                            </div>
                            <div class="description">
                                <p>Страна: Польша</p>
                                <p>Тип: Напольный</p>
                                <p>Подвод воды: Боковой</p>
                                <p>Выпуск: Косой</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5">
                            <div class="price">8 999 990 <span class="small">000</span></div>
                            <div class="parameters fororders">
                                <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                                <a class="button full" href="#">В корзину</a>
                                <a class="button-cancel" href="#">Отменить</a>
                                <a class="button-order" href="#">Заказать</a>
                            </div>
                            <div class="buy-one-click">
                                <a class="buy" href="#">Купить в один клик</a>
                                <form>
                                    <input type="submit" value="Купить" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                                    <span class="bt-close-one-click"></span>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="show-tovar-col-e">
                    <div class="select-show">
                        <select name="" id="">
                            <option value="">По 24 товара</option>
                            <option value="">По 48 товара</option>
                            <option value="">По 72 товара</option>
                            <option value="">По 90 товара</option>
                        </select>
                    </div>
                    <div class="show">Показать еще 24 товара</div>
                </div>
                <div class="page-navigation-e">
                    <ul>
                        <li><a href="#"><i class="fa fa-caret-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="viewed-products products-list top-border">
    <div class="container">
        <h3><a href="#">Вы просматривали</a> <span class="count">19</span></h3>

        <div class="viewed-slider">
            <div class="slide">
                <div class="product-item">
                    <a class="remove" href="#"></a>
                    <div class="img-wrap">
                        <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    </div>
                    <div class="text-wrap">
                        <h5>
                            <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
                        </h5>
                        <div class="rating-wrap">
                            <div class="rating"></div>
                            <span class="count">15</span>
                        </div>
                        <div class="price">999 990 <span class="small">000</span></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="product-item">
                    <a class="remove" href="#"></a>
                    <div class="img-wrap">
                        <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    </div>
                    <div class="text-wrap">
                        <h5>
                            <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
                        </h5>
                        <div class="rating-wrap">
                            <div class="rating"></div>
                            <span class="count">15</span>
                        </div>
                        <div class="price">999 990 <span class="small">000</span></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="product-item">
                    <a class="remove" href="#"></a>
                    <div class="img-wrap">
                        <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    </div>
                    <div class="text-wrap">
                        <h5>
                            <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
                        </h5>
                        <div class="rating-wrap">
                            <div class="rating"></div>
                            <span class="count">15</span>
                        </div>
                        <div class="price">999 990 <span class="small">000</span></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="product-item">
                    <a class="remove" href="#"></a>
                    <div class="img-wrap">
                        <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    </div>
                    <div class="text-wrap">
                        <h5>
                            <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
                        </h5>
                        <div class="rating-wrap">
                            <div class="rating"></div>
                            <span class="count">15</span>
                        </div>
                        <div class="price">999 990 <span class="small">000</span></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="product-item">
                    <a class="remove" href="#"></a>
                    <div class="img-wrap">
                        <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    </div>
                    <div class="text-wrap">
                        <h5>
                            <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
                        </h5>
                        <div class="rating-wrap">
                            <div class="rating"></div>
                            <span class="count">15</span>
                        </div>
                        <div class="price">999 990 <span class="small">000</span></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="product-item">
                    <a class="remove" href="#"></a>
                    <div class="img-wrap">
                        <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    </div>
                    <div class="text-wrap">
                        <h5>
                            <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
                        </h5>
                        <div class="rating-wrap">
                            <div class="rating"></div>
                            <span class="count">15</span>
                        </div>
                        <div class="price">999 990 <span class="small">000</span></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="product-item">
                    <a class="remove" href="#"></a>
                    <div class="img-wrap">
                        <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    </div>
                    <div class="text-wrap">
                        <h5>
                            <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
                        </h5>
                        <div class="rating-wrap">
                            <div class="rating"></div>
                            <span class="count">15</span>
                        </div>
                        <div class="price">999 990 <span class="small">000</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="notfind-section-e">
    <div class="container">
        Не нашли, что искали?<br><a href="#">Отправьте нам</a> ваши пожелания и мы найдем ваш товар
    </div>
</section>


<section class="about-section-e">
    <div class="container">
        <div class="title">Об этой странице</div>
        <div>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояси пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка.</div>
    </div>
</section>

<!-- build:section layout.footer -->
<!-- /build -->




<!-- scripts
___________________________________________________________________________-->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>