<!-- build:section layout.head -->
<!-- /build -->

<body>

<!-- build:section layout.header -->
<!-- /build -->

<div class="breadcrumbs">
  <div class="container">
    <ul>
      <li>
        <a href="#">Главная 2</a>
      </li>
      <li>
        <a href="#">Каталог</a>
      </li>
      <li>
        <a href="#">Сантехника</a>
      </li>
    </ul>
  </div>
</div>

<div class="seo-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="seoslider">
                    <img src="./images/big-vana-pic.jpg" alt="" class="img-responsive" />
                    <img src="./images/big-vana-pic1.jpg" alt="" class="img-responsive" />
                    <img src="./images/big-vana-pic2.jpg" alt="" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-6">
                <h3>Ares</h3>
                <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна,в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.</p>
            </div>
        </div>
    </div>
</div>

<section class="categories-section-e">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">Товары коллекции <span>37</span></div>
            </div>
            <div class="col-md-12">
                <div class="categories-list-tovar-e products-list">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="product-item">
                                <div class="img-wrap">
                                    <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                                    <div class="discount">-10%</div>
                                </div>
                                <div class="text-wrap">
                                    <h5>
                                        <a href="#">Акриловая ванна Pupa</a>
                                    </h5>
                                    <div class="rating-wrap">
                                        <div class="rating"></div>
                                        <span class="count">15</span>
                                    </div>
                                    <div class="price">8 999 990 <span class="small">000</span></div>
                                    <div class="share">
                                        <span class="old">9 999 900 000</span>
                                        <span class="discount">Экономия 1 000 000 000</span>
                                    </div>
                                </div>
                                <div class="button-block">
                                    <div class="parameters">
                                        <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                                        <div class="units">
                                            <ul>
                                                <li>м2</li>
                                                <li class="active">шт</li>
                                            </ul>
                                        </div>
                                        <a class="button" href="#">В корзину</a>
                                    </div>
                                    <div class="buy-one-click">
                                        <a class="buy" href="#">Купить в один клик</a>
                                        <form>
                                            <input type="submit" value="ok" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="product-item">
                                <div class="img-wrap">
                                    <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                                    <div class="mark gray">Нет на складе</div>
                                </div>
                                <div class="text-wrap">
                                    <h5>
                                        <a href="#">Акриловая ванна M103 из качественных сплетений</a>
                                    </h5>
                                    <div class="rating-wrap">
                                        <div class="rating"></div>
                                        <span class="count">15</span>
                                    </div>
                                    <div class="price">8 999 990 <span class="small">000</span></div>
                                </div>
                                <div class="button-block">
                                    <div class="parameters">
                                        <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                                        <div class="units">
                                            <ul>
                                                <li>м2</li>
                                                <li class="active">шт</li>
                                            </ul>
                                        </div>
                                        <a class="button" href="#">В корзину</a>
                                    </div>
                                    <div class="buy-one-click">
                                        <a class="buy" href="#">Купить в один клик</a>
                                        <form>
                                            <input type="submit" value="ok" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="product-item">
                                <div class="img-wrap">
                                    <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                                    <div class="mark green">Товар в корзине</div>
                                </div>
                                <div class="text-wrap">
                                    <h5>
                                        <a href="#">Акриловая ванна M103 из качественных сплетений</a>
                                    </h5>
                                    <div class="rating-wrap">
                                        <div class="rating"></div>
                                        <span class="count">15</span>
                                    </div>
                                    <div class="price">8 999 990 <span class="small">000</span></div>
                                </div>
                                <div class="button-block">
                                    <div class="parameters">
                                        <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                                        <div class="units">
                                            <ul>
                                                <li>м2</li>
                                                <li class="active">шт</li>
                                            </ul>
                                        </div>
                                        <a class="button" href="#">В корзину</a>
                                    </div>
                                    <div class="buy-one-click">
                                        <a class="buy" href="#">Купить в один клик</a>
                                        <form>
                                            <input type="submit" value="ok" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="product-item">
                                <div class="img-wrap">
                                    <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                                    <div class="mark gray">Нет на складе</div>
                                </div>
                                <div class="text-wrap">
                                    <h5>
                                        <a href="#">Акриловая ванна M103 из качественных сплетений</a>
                                    </h5>
                                    <div class="rating-wrap">
                                        <div class="rating"></div>
                                        <span class="count">15</span>
                                    </div>
                                    <div class="price">8 999 990 <span class="small">000</span></div>
                                </div>
                                <div class="button-block">
                                    <div class="parameters">
                                        <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                                        <div class="units">
                                            <ul>
                                                <li>м2</li>
                                                <li class="active">шт</li>
                                            </ul>
                                        </div>
                                        <a class="button" href="#">В корзину</a>
                                    </div>
                                    <div class="buy-one-click">
                                        <a class="buy" href="#">Купить в один клик</a>
                                        <form>
                                            <input type="submit" value="ok" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="product-item">
                                <div class="img-wrap">
                                    <div class="product-images">
                                        <div class="img">
                                            <img src="../../images/product-prev-02.png" alt="img" width="176" height="87"/>
                                        </div>
                                        <div class="img">
                                            <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-wrap">
                                    <h5>
                                        <a href="#">Акриловая ванна G. W. TigerWelcamstrefa</a>
                                    </h5>
                                    <div class="rating-wrap">
                                        <div class="rating"></div>
                                        <span class="count">15</span>
                                    </div>
                                    <div class="price">8 999 990 <span class="small">000</span></div>
                                </div>
                                <div class="button-block">
                                    <div class="parameters">
                                        <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                                        <div class="units">
                                            <ul>
                                                <li>м2</li>
                                                <li class="active">шт</li>
                                            </ul>
                                        </div>
                                        <a class="button" href="#">В корзину</a>
                                    </div>
                                    <div class="buy-one-click">
                                        <a class="buy" href="#">Купить в один клик</a>
                                        <form>
                                            <input type="submit" value="ok" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="product-item">
                                <div class="img-wrap">
                                    <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                                    <div class="mark gray">Нет на складе</div>
                                </div>
                                <div class="text-wrap">
                                    <h5>
                                        <a href="#">Акриловая ванна M103 из качественных сплетений</a>
                                    </h5>
                                    <div class="rating-wrap">
                                        <div class="rating"></div>
                                        <span class="count">15</span>
                                    </div>
                                    <div class="price">8 999 990 <span class="small">000</span></div>
                                </div>
                                <div class="button-block">
                                    <div class="parameters">
                                        <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                                        <div class="units">
                                            <ul>
                                                <li>м2</li>
                                                <li class="active">шт</li>
                                            </ul>
                                        </div>
                                        <a class="button" href="#">В корзину</a>
                                    </div>
                                    <div class="buy-one-click">
                                        <a class="buy" href="#">Купить в один клик</a>
                                        <form>
                                            <input type="submit" value="ok" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="viewed-products products-list top-border">
    <div class="container">
        <h3><a href="#">Вы просматривали</a> <span class="count">19</span></h3>

        <div class="viewed-slider">
            <div class="slide">
                <div class="product-item">
                    <a class="remove" href="#"></a>
                    <div class="img-wrap">
                        <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    </div>
                    <div class="text-wrap">
                        <h5>
                            <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
                        </h5>
                        <div class="rating-wrap">
                            <div class="rating"></div>
                            <span class="count">15</span>
                        </div>
                        <div class="price">999 990 <span class="small">000</span></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="product-item">
                    <a class="remove" href="#"></a>
                    <div class="img-wrap">
                        <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    </div>
                    <div class="text-wrap">
                        <h5>
                            <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
                        </h5>
                        <div class="rating-wrap">
                            <div class="rating"></div>
                            <span class="count">15</span>
                        </div>
                        <div class="price">999 990 <span class="small">000</span></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="product-item">
                    <a class="remove" href="#"></a>
                    <div class="img-wrap">
                        <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    </div>
                    <div class="text-wrap">
                        <h5>
                            <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
                        </h5>
                        <div class="rating-wrap">
                            <div class="rating"></div>
                            <span class="count">15</span>
                        </div>
                        <div class="price">999 990 <span class="small">000</span></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="product-item">
                    <a class="remove" href="#"></a>
                    <div class="img-wrap">
                        <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    </div>
                    <div class="text-wrap">
                        <h5>
                            <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
                        </h5>
                        <div class="rating-wrap">
                            <div class="rating"></div>
                            <span class="count">15</span>
                        </div>
                        <div class="price">999 990 <span class="small">000</span></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="product-item">
                    <a class="remove" href="#"></a>
                    <div class="img-wrap">
                        <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    </div>
                    <div class="text-wrap">
                        <h5>
                            <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
                        </h5>
                        <div class="rating-wrap">
                            <div class="rating"></div>
                            <span class="count">15</span>
                        </div>
                        <div class="price">999 990 <span class="small">000</span></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="product-item">
                    <a class="remove" href="#"></a>
                    <div class="img-wrap">
                        <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    </div>
                    <div class="text-wrap">
                        <h5>
                            <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
                        </h5>
                        <div class="rating-wrap">
                            <div class="rating"></div>
                            <span class="count">15</span>
                        </div>
                        <div class="price">999 990 <span class="small">000</span></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="product-item">
                    <a class="remove" href="#"></a>
                    <div class="img-wrap">
                        <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    </div>
                    <div class="text-wrap">
                        <h5>
                            <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
                        </h5>
                        <div class="rating-wrap">
                            <div class="rating"></div>
                            <span class="count">15</span>
                        </div>
                        <div class="price">999 990 <span class="small">000</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="notfind-section-e">
    <div class="container">
        Не нашли, что искали?<br><a href="#">Отправьте нам</a> ваши пожелания и мы найдем ваш товар
    </div>
</section>


<section class="about-section-e">
    <div class="container">
        <div class="title">Об этой странице</div>
        <div>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояси пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка.</div>
    </div>
</section>

<!-- build:section layout.footer -->
<!-- /build -->




<!-- scripts
___________________________________________________________________________-->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>