<!-- build:section layout.head -->
<!-- /build -->

<body>

<!-- build:section layout.header -->
<!-- /build -->


<div class="breadcrumbs">
  <div class="container">
    <ul>
      <li>
        <a href="#">Главная</a>
      </li>
      <li>Контактная информация</li>
    </ul>
  </div>
</div>


<section class="contact-section">
    <div class="container">
        <h1>Контактная информация</h1>
        <div class="maps-block">
            <div class="conta-info">
                <div class="adres">220141, г. Минск, пр-т Независимости, д. 168, корп. 2, офис 183</div>
                <div class="time">Время работы: с 9:00 до 22:00 <br>Без выходных</div>
                <div class="phone"><a href="tel:+375292767577">+375 (29) 276-75-77 <br>
                    7577</a></div>
            </div>
            <div id="map">
            </div>
        </div>
    </div>
</section>

<section class="contact-form-section">
    <div class="container">
        <div class="col-sm-6 center-block">
            <form id="contact-form">
                <div class="title">Напишите нам</div>
                <div class="form-row">
                    <input type="text" name="name" id="" placeholder="Робин Бобин"  />
                </div>
                <div class="form-row">
                    <input type="text" name="email" id="" placeholder="email"  />
                </div>
                <div class="form-row">
                    <textarea name="messag" id="" ></textarea>
                </div>
                <div class="form-row">
                    <input type="submit" value="Отправить" />
                </div>
            </form>
        </div>
    </div>
</section>

<!-- build:section layout.footer -->
<!-- /build -->




<!-- scripts
___________________________________________________________________________-->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>