<!-- build:section layout.head -->
<!-- /build -->

<body>

<!-- build:section layout.header -->
<!-- /build -->


<div class="breadcrumbs">
  <div class="container">
    <ul>
      <li>
        <a href="#">Главная</a>
      </li>
      <li>
        <a href="#">Каталог</a>
      </li>
      <li>
        <a href="#">Сантехника</a>
      </li>
      <li>
        <a href="#">Душевые кабины</a>
      </li>
      <li>Полукруглые распашные душевые кабины</li>
    </ul>
  </div>
</div>


<section class="detail-section-01">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="product-viewer-wrap">
          <div class="prod-photo">
            <img class="zoom-img" src="../../images/product-358x358.jpg" data-zoom-image="images/product-618x1010.jpg" alt="img" width="358" height="358"/>
          </div>
          <div id="gallery" class="products-preview">
            <ul>
              <li>
                <a href="#" class="elevatezoom-gallery active" data-update="" data-image="images/product-358x358.jpg" data-zoom-image="images/product-618x1010.jpg">
                  <img src="../../images/product-01-65x65.jpg" alt="img" width="65" height="65">
                </a>
              </li>
              <li>
                <a href="#" class="elevatezoom-gallery" data-update="" data-image="images/product-02-358x358.jpg" data-zoom-image="images/product-02-618x618.jpg">
                  <img src="../../images/product-02-65x65.jpg" alt="img" width="65" height="65">
                </a>
              </li>
              <li>
                <a href="#" class="elevatezoom-gallery" data-update="" data-image="images/product-358x358.jpg" data-zoom-image="images/product-618x1010.jpg">
                  <img src="../../images/product-03-65x65.jpg" alt="img" width="65" height="65">
                </a>
              </li>
              <li>
                <a href="#" class="elevatezoom-gallery" data-update="" data-image="images/product-02-358x358.jpg" data-zoom-image="images/product-02-618x618.jpg">
                  <img src="../../images/product-04-65x65.jpg" alt="img" width="65" height="65">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="top-info">
          <div class="row">
            <div class="col-md-8">
              <h1>Акриловая ванна SantekМонако</h1>

              <ul>
                <li>Артикул: 561469</li>
                <li>Цвет: Белый</li>
                <li>Материал: Мрамор</li>
                <li>Назначение: для ванной комнаты</li>
                <li>Гладкость: высокая</li>
              </ul>
            </div>

            <div class="col-md-4">
              <div class="buy-info">
                <div class="buy-head">
                  <div class="rating-wrap">
                    <div class="rating"></div>
                  </div>
                  <span class="reviews">15</span>
                  <a class="view" href="#">Посмотреть отзывы</a>
                </div>

                <div class="price">
                  <span class="large">8 999 990</span>
                  <span class="small">000</span>
                </div>

                <div class="share">
                  <span class="old">9 999 900 000</span>
                    <span class="discount">Экономия 1 000 000 000</span>
                </div>

                <div class="parameters">
                  <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                  <div class="units">
                    <ul>
                      <li>м2</li>
                      <li class="active">шт</li>
                    </ul>
                  </div>
                  <a class="button" href="#">В корзину</a>
                </div>

                  <div class="buy-one-click">
                      <a class="buy" href="#">Купить в один клик</a>
                      <form>
                          <input type="submit" value="Ок" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                          <span class="bt-close-one-click"></span>
                      </form>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="product-description">
          <h4>
            <a class="title" href="#">Описание</a>
          </h4>

          <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consectetur cumque dolor dolores
              eius, facere in iste minima nam natus nihil obcaecati praesentium quam quos recusandae repellendus, sint,
              voluptas.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem impedit minima molestias
              officiis sit tempora voluptatum? Commodi eius hic illo iusto mollitia officia similique sint soluta
              tempora tempore ut, veritatis.</p>
          </div>
        </div>

        <div class="product-feature">
          <h4>Прочие характеристики</h4>

          <table>
            <tr>
              <th>
                <span>Назначение:</span>
              </th>
              <td>для ванной комнаты</td>
            </tr>
            <tr>
              <th>
                <span>Материал:</span>
              </th>
              <td>керамическая</td>
            </tr>
            <tr>
              <th>
                <span>Поверхность:</span>
              </th>
              <td>глазурованная</td>
            </tr>
            <tr>
              <th>
                <span>Рельеф:</span>
              </th>
              <td>да</td>
            </tr>
            <tr>
              <th>
                <span>Цвет:</span>
              </th>
              <td>Белый</td>
            </tr>
            <tr>
              <th>
                <span>Рисунок:</span>
              </th>
              <td>мозаика</td>
            </tr>
            <tr>
              <th>
                <span>М2 в коробке:</span>
              </th>
              <td>44</td>
            </tr>
            <tr>
              <th>
                <span>Поставщик:</span>
              </th>
              <td>ООО Церсанит Трейд</td>
            </tr>
            <tr>
              <th>
                <span>Адрес поставщика:</span>
              </th>
              <td>Ул. Молодежная 15, пгт Фряново, Щелковский р-н,
                Московская обл., 141147, РФ</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="related-products products-list">
  <div class="container">
    <h3><a href="#">Товары коллекции Ares </a> <span class="count">8</span></h3>
    <div class="related-slider">
      <div class="slide">
        <div class="product-item">
          <div class="img-wrap">
            <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
            <div class="mark gray">Нет на складе</div>
          </div>
          <div class="text-wrap">
            <h5>
              <a href="#">Акриловая ванна M103 из качественных сплетений</a>
            </h5>
            <div class="rating-wrap">
              <div class="rating"></div>
              <span class="count">15</span>
            </div>
            <div class="price">8 999 990 <span class="small">000</span></div>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="product-item">
          <div class="img-wrap">
            <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
            <div class="discount">-10%</div>
          </div>
          <div class="text-wrap">
            <h5>
              <a href="#">Акриловая ванна Pupa</a>
            </h5>
            <div class="rating-wrap">
              <div class="rating"></div>
              <span class="count">15</span>
            </div>
            <div class="price">8 999 990 <span class="small">000</span></div>
            <div class="share">
              <span class="old">9 999 900 000</span>
              <span class="discount">Экономия 1 000 000 000</span>
            </div>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="product-item">
          <div class="img-wrap">
            <div class="product-images">
              <div class="img">
                <img src="../../images/product-prev-02.png" alt="img" width="176" height="87"/>
              </div>
              <div class="img">
                <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
              </div>
            </div>
          </div>
          <div class="text-wrap">
            <h5>
              <a href="#">Акриловая ванна G. W. TigerWelcamstrefa</a>
            </h5>
            <div class="rating-wrap">
              <div class="rating"></div>
              <span class="count">15</span>
            </div>
            <div class="price">8 999 990 <span class="small">000</span></div>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="product-item">
          <div class="img-wrap">
            <div class="product-images">
              <div class="img">
                <img src="../../images/product-prev-03.png" alt="img" width="174" height="136"/>
              </div>
              <div class="img">
                <img src="../../images/product-prev-02.png" alt="img" width="176" height="87"/>
              </div>
            </div>
          </div>
          <div class="text-wrap">
            <h5>
              <a href="#">Ванна Nasy правосторонняя, с уклоном</a>
            </h5>
            <div class="rating-wrap">
              <div class="rating"></div>
              <span class="count">15</span>
            </div>
            <div class="price">8 999 990 <span class="small">000</span></div>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="product-item">
          <div class="img-wrap">
            <img src="../../images/product-prev-03.png" alt="img" width="174" height="136"/>
          </div>
          <div class="text-wrap">
            <h5>
              <a href="#">Ванна Nasy правосторонняя, с уклоном</a>
            </h5>
            <div class="rating-wrap">
              <div class="rating"></div>
              <span class="count">15</span>
            </div>
            <div class="price">8 999 990 <span class="small">000</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="viewed-products products-list">
  <div class="container">
    <h3><a href="#">Вы просматривали</a> <span class="count">19</span></h3>

    <div class="viewed-slider">
      <div class="slide">
        <div class="product-item">
          <a class="remove" href="#"></a>
          <div class="img-wrap">
            <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
          </div>
          <div class="text-wrap">
            <h5>
              <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
            </h5>
            <div class="rating-wrap">
              <div class="rating"></div>
              <span class="count">15</span>
            </div>
            <div class="price">999 990 <span class="small">000</span></div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product-item">
          <a class="remove" href="#"></a>
          <div class="img-wrap">
            <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
          </div>
          <div class="text-wrap">
            <h5>
              <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
            </h5>
            <div class="rating-wrap">
              <div class="rating"></div>
              <span class="count">15</span>
            </div>
            <div class="price">999 990 <span class="small">000</span></div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product-item">
          <a class="remove" href="#"></a>
          <div class="img-wrap">
            <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
          </div>
          <div class="text-wrap">
            <h5>
              <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
            </h5>
            <div class="rating-wrap">
              <div class="rating"></div>
              <span class="count">15</span>
            </div>
            <div class="price">999 990 <span class="small">000</span></div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product-item">
          <a class="remove" href="#"></a>
          <div class="img-wrap">
            <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
          </div>
          <div class="text-wrap">
            <h5>
              <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
            </h5>
            <div class="rating-wrap">
              <div class="rating"></div>
              <span class="count">15</span>
            </div>
            <div class="price">999 990 <span class="small">000</span></div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product-item">
          <a class="remove" href="#"></a>
          <div class="img-wrap">
            <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
          </div>
          <div class="text-wrap">
            <h5>
              <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
            </h5>
            <div class="rating-wrap">
              <div class="rating"></div>
              <span class="count">15</span>
            </div>
            <div class="price">999 990 <span class="small">000</span></div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product-item">
          <a class="remove" href="#"></a>
          <div class="img-wrap">
            <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
          </div>
          <div class="text-wrap">
            <h5>
              <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
            </h5>
            <div class="rating-wrap">
              <div class="rating"></div>
              <span class="count">15</span>
            </div>
            <div class="price">999 990 <span class="small">000</span></div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="product-item">
          <a class="remove" href="#"></a>
          <div class="img-wrap">
            <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
          </div>
          <div class="text-wrap">
            <h5>
              <a href="#">Акриловая ваннаG. W. TigerWelcamstrefa</a>
            </h5>
            <div class="rating-wrap">
              <div class="rating"></div>
              <span class="count">15</span>
            </div>
            <div class="price">999 990 <span class="small">000</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="reviews-section">
  <div class="container">
    <h3><a href="#">Отзывы</a> <span class="count">7</span></h3>

    <div class="review-item">
      <div class="author">
        <h5><a href="#">Robin-bobin</a></h5>
        <div class="about">Автор 15 отзывов</div>
      </div>
      <div class="rate">
        <div class="number orange">2</div>
        <ul>
          <li>плохая модель</li>
          <li>Опыт использования: менее месяца</li>
        </ul>
      </div>
      <div class="text">
        <div class="item"><strong>Достоинства:</strong> <span>Ровная эмаль, приятная форма</span></div>
        <div class="item"><strong>Недостатки:</strong> Дефекты эмали, неровные края, кривая геометрия</div>
        <div class="item">
          <strong>Комментарий:</strong>
          <span>После тщательного осмотра при покупке ванна показалась мне очень удачной и симпатичной - гладкая,
            белоснежная, хорошей формы. Потом обнаружились микроскопические дефекты в покрытии (непрокрашенные точки)
            и, самое печальное - кривая геометрия бортов, которая стала очевидной при укладке плитки. Горизонтальный
            стык гуляет по всему периметру - придется маскировать герметиком, с непредсказуемым результатом.
            Читала про эти проблемы с нашими ванными, но понадеялась на удачу. Разочарована очень и жалею, что не послушалась
            советов купить испанца или француза.</span>
        </div>
      </div>
      <div class="foot">
        <div class="date">23 октября 2013, Москва</div>
        <div class="likes-block">
          <ul>
            <li>
              <a class="like" href="#">24</a>
            </li>
            <li>
              <a class="dislike" href="#">5</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="review-item">
      <div class="author">
        <h5><a href="#">Пользователь скрыл свои данные</a></h5>
      </div>
      <div class="rate">
        <div class="number green">4</div>
        <ul>
          <li>хорошая модель</li>
          <li>Опыт использования: несколько месяцев</li>
        </ul>
      </div>
      <div class="text">
        <div class="item"><strong>Достоинства:</strong>
          <span>-Чугун (полвека должен стоять и не уставать).<br/>
                -Надежно выглядит в сравнении с акрилом.<br/>
                -Форма больше нравится в сравнении с французами или испанцами</span>
        </div>
        <div class="item"><strong>Недостатки:</strong> Появились пятна (точки) на дне похожие на ржавчину через неделю
          использования. Оказалось их можно стереть, только постараться.</div>
        <div class="item">
          <strong>Комментарий:</strong>
          <span>Месяц использования те же пятна. Вероятно эмаль такая.
                PS. (дополнение от 11.2014- почти год пользования): все белым бело и никаких пятен, меняю оценку 3 пока на 4.</span>
        </div>
      </div>
      <div class="foot">
        <div class="date">20 октября 2013, Москва</div>
        <div class="likes-block">
          <ul>
            <li>
              <a class="like" href="#">24</a>
            </li>
            <li>
              <a class="dislike" href="#">5</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <a class="more" href="#">Еще отзывы (5)</a>
  </div>
</section>

<section class="notfind-section-e">
    <div class="container">
        Не нашли, что искали?<br><a href="#">Отправьте нам</a> ваши пожелания и мы найдем ваш товар
    </div>
</section>

<section class="reklama-footer-section-e">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="./images/baby_1.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-6">
                <div class="title">Ребенок плачет от перепадов температурыводы и резкого напора?</div>
                <div class="descript">Теперь все будет хорошо и со скидкой <strong>10%</strong>.<br>С термостатным <span>Смесителем Minimax S</span>.</div>
                <div>
                    <a href="#" class="bt-show-tovar">Посмотреть товар</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="foto-tovar">
                    <div class="imagestovar">
                        <img src="./images/tov8.jpg" alt="" class="img-responsive" />
                    </div>
                    <div class="discont">
                        -10%
                    </div>
                    <div class="title">Смеситель Minimax Sиз закаленной стали</div>
                    <div class="price">8 999 990 <span>000</span><div class="oldprice">12 000 900 000</div></div>
                    <a href="#" class="bt-cart"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-section-e">
    <div class="container">
        <div class="title">Об этой странице</div>
        <div>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояси пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка.</div>
    </div>
</section>

<!-- build:section layout.footer -->
<!-- /build -->




<!-- scripts
___________________________________________________________________________-->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>