<!-- build:section layout.head -->
<!-- /build -->

<body>

<!-- build:section layout.header -->
<!-- /build -->

<div class="parallax-box">
  <div class="main">
    <ul id="scene">
      <li class="layer" data-depth="0.20"><img src="../../img/square1.png" alt=""></li>
      <li class="layer" data-depth="0.20"><img src="../../img/square2.png" alt=""></li>
      <li class="layer" data-depth="0.60"><img src="../../img/square3.png" alt=""></li>
      <li class="layer" data-depth="0.40"><img src="../../img/square4.png" alt=""></li>
      <li class="layer" data-depth="0.10"><img src="../../img/square5.png" alt=""></li>
      <li class="layer" data-depth="0.50"><img src="../../img/square6.png" alt=""></li>
      <li class="layer" data-depth="0.20"><img src="../../img/square7.png" alt=""></li>
    </ul>
  </div>
</div>
<div id="index-page">
  <div class="wrapper-main-slider">
    <div class="main-slider">
      <div class="slide" style="background: url(../../img/10895_shkafchik_cersanit_alpina_dlya_umyv_li.jpg);"
           id="bx_3218110189_9042">
        <div class="slide-info-wrap">
          <div class="slide-info delay_04s">
            <span class="slide-title">АКЦИЯ &quot;Купи 2 - получи 4&quot; до 31.03</span>

            <p>

            <h3 style="text-align: center;"><span style="color: #ff0000;">КУПИ&nbsp;<span style="color: #9d0a0f;">шкафчик + пенал</span> и <span
                style="color: #9d0a0f;">получи</span>&nbsp;</span></h3>

            <h3 style="text-align: center;"><span style="color: #ff0000;">УМЫВАЛЬНИК + МЫЛЬНИЦУ + СТАКАН + ДОЗАТОР <span
                style="color: #9d0a0f;">в подарок</span>!</span><a
                href="http://bathicom.by/catalog/mebel-dlya-vannoy/komplekt-mebeli-dlya-vannoy-galaxy-/?lang=ru">
              <p style="display: inline !important;">
                <img src="../../img/Galaxy 3 podarki.jpg" height="240" width="174">
              </p>
            </a></h3>
 <span style="color: #ff0000;"><br>
 </span>
            </p>
          </div>
        </div>
      </div>
      <div class="slide" style="background: url(../../img/6.jpg);">
        <div class="slide-info-wrap">
          <div class="slide-info delay_04s">
            <span class="slide-title">АКЦИЯ &quot;2+1&quot; до 31.03</span>

            <p>

            <h3 style="text-align: center;"><span style="color: #ee1d24;">КУПИ шкафчик + пенал&nbsp;и получи УМЫВАЛЬНИК в подарок!</span>
            </h3>

            <h3 style="text-align: center;">
              <a href="http://bathicom.by/catalog/mebel-dlya-vannoy/komplekt-mebeli-dlya-vannoy-alpina-/?lang=ru">
                <img src="../../img/Alpina 3 tovara-2.jpg" height="240" align="middle" width="209">
              </a>
            </h3></p>
          </div>
        </div>
      </div>
      <div class="slide" style="background: url(../../img/1397066702_2.jpg);">
        <div class="slide-info-wrap">
          <div class="slide-info delay_04s">
            <span class="slide-title">АКЦИЯ </span>

            <p>
            <blockquote>
              <b>
                <h2 style="color: #ff0000; text-align: center;">НЕДЕЛЯ лучших предложений</h2>

                <h2 style="color: #ff0000; text-align: center;">на плитку Cersanit</h2>

                <h3 style="text-align: center;"><span style="font-size: 26pt;"><span
                    style="font-size: 20pt;">звоните:</span> <span style="color: #0c004b;">7577</span></span></h3>
              </b>
            </blockquote>
            <h3 style="text-align: center;"></h3>

            <h3 style="text-align: center;"></h3>

            <p style="text-align: center;">
              <img style="text-align: center;" src="../../img/Interier Arte светло-бежевая.jpg" height="117" width="160">
              <span style="text-align: center;">&nbsp;&nbsp;</span>
              <img style="text-align: center;" src="../../img/Interier Linea зеленая+бежевая.jpg" height="118" width="160">
              <span style="text-align: center;">&nbsp;&nbsp;</span>
              <img style="text-align: center;" src="../../img/Interiero Felina бежевая.jpg" height="118" width="157">
              <span style="text-align: center;">&nbsp;&nbsp;</span>
              <img style="text-align: center;" src="../../img/Interiero Abis.jpg" height="118" width="157">
            </p>
            <h4 style="text-align: center;"><b>Срок действия акции: <span style="color: #ff0000;">до 31.03.2016<br>
</span></b></h4></p>
          </div>
        </div>
      </div>
      <div class="slide" style="background: url(../../img/interiero-bugi-cream.jpg);" >
        <div class="slide-info-wrap">
          <div class="slide-info delay_04s">
            <span class="slide-title">АКЦИЯ &quot;3+1&quot; до 31.03</span>

            <p>

            <p style="text-align: center;">
            </p>

            <p style="text-align: center;">
            </p>
            <b><span style="color: #ee1d24;">
<p style="font-size: 15pt; text-align: center;">
</p>
<h3 style="text-align: center;">Купи шкафчик + пенал + умывальник и получи ЗЕРКАЛО в подарок!</h3>
<h3 style="text-align: center;">
  <b><a href="http://bathicom.by/catalog/mebel-dlya-vannoy/komplekt-mebeli-alpina/?lang=ru">
    <img src="../../img/Alpina komplect 4 tovara 2.jpg" height="240" width="240">
  </a>&nbsp;&nbsp;
    <a href="http://bathicom.by/catalog/mebel-dlya-vannoy/rasprodazha/">
      <img src="../../img/Galaxy 3.jpg" height="240" width="177">
    </a>
  </b>
</h3>
<p style="font-size: 15pt;">
</p>
 </span></b>

            <p>
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>
            &nbsp;&nbsp;&nbsp; <br>
          </b></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container slider-buttons">
      <div class="row">
        <a id="slide-prev" class="delay_04s"><span></span></a>
        <a id="slide-next" class="delay_04s"><span></span></a>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- line -->
  <div class="line"></div>
  <!-- about company -->
  <div class="container ind-about-company">
    <div class="row">
      <div class="col-md-12">
        <span class="title_h1">О компании</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 info-block">
        <p>Частное Унитарное Предприятие «БОСИКОМ» — это динамично развивающаяся компания, которая занимает лидирующие
          позиции на отечественном рынке изделий и оборудования для ванных комнат. Мы реализуем сантехническую продукцию
          ведущих европейских марок, таких как Roca (Испания), Grohe (Германия), WasserKRAFT (Германия), Sanplast
          (Польша), Cersanit (Польша), которые пользуются огромной популярностью у белорусского потребителя.<br>
          <br>
          <img width="307" alt="o_kompanii.jpg" src="../../img/o_kompanii.jpg" height="184"
               title="o_kompanii.jpg">Наш каталог включает широкий спектр товаров и дизайнерских решений для
          обустройства&nbsp;ванных комнат и санузлов: керамическая плитка и грес, душевые кабины и поддоны, ванны и
          гидромассаж, умывальники, смесители, унитазы, биде, инсталляции, полотенцесушители, мебель и аксессуары для
          ванных комнат. Каждое реализуемое нами изделие отвечает строгим стандартам качества Европейского Союза и
          обеспечено государственным Сертификатом качества Республики Беларусь. Широкий модельный ряд, многообразие
          брендов и коллекций, представленных в нашем каталоге, позволит обустроить ванную комнату на любой вкус.

          Используя комплексный подход в работе, мы предлагаем потребителям не только высококачественные товары, но и
          профессиональную консультацию, техническую поддержку, помощь в демонтаже и установке нового оборудования,
          гарантийное и послегарантийное обслуживание. Наши цели — максимально упростить процесс приобретения и
          получения товара, обеспечить качественный сервис, установить прозрачные отношения с каждым клиентом.<br></p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 sections-block">
        <div class="row">
          <div class="col-md-12 one-section" id="bx_1373509569_413">
            <a href="/strakhovka/">
              <img src="../../img/95747_3663.jpg" class="delay_04s" alt="">
              <span>Страховка</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- build:section layout.footer -->
<!-- /build -->

<!-- scripts
___________________________________________________________________________-->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>