    <div class="title-menu-hit">Хиты продаж 1222222<i class="fa fa-caret-right"></i></div>
    <div class="categories-list-tovar-e products-list">
        <div class="col-md-6">
            <div class="product-item">
                <div class="img-wrap">
                    <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    <div class="discount">-11%</div>
                </div>
                <div class="text-wrap">
                    <h5>
                        <a href="#">Акриловая ванна Pupa</a>
                    </h5>
                    <div class="rating-wrap">
                        <div class="rating"></div>
                        <span class="count">15</span>
                    </div>
                    <div class="price">8 999 990 <span class="small">000</span></div>
                    <div class="share">
                        <span class="old">9 999 900 000</span>
                        <span class="discount">Экономия 1 000 000 000</span>
                    </div>
                </div>
                <div class="button-block">
                    <div class="parameters">
                        <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                        <div class="units">
                            <ul>
                                <li>м2</li>
                                <li class="active">шт</li>
                            </ul>
                        </div>
                        <a class="button" href="#">В корзину</a>
                    </div>
                    <div class="buy-one-click">
                        <a class="buy" href="#">Купить в один клик</a>
                        <form>
                            <input type="submit" value="ok" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                            <span class="bt-close-one-click"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-item">
                <div class="img-wrap">
                    <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    <div class="discount">-11%</div>
                </div>
                <div class="text-wrap">
                    <h5>
                        <a href="#">Акриловая ванна Pupa</a>
                    </h5>
                    <div class="rating-wrap">
                        <div class="rating"></div>
                        <span class="count">15</span>
                    </div>
                    <div class="price">8 999 990 <span class="small">000</span></div>
                    <div class="share">
                        <span class="old">9 999 900 000</span>
                        <span class="discount">Экономия 1 000 000 000</span>
                    </div>
                </div>
                <div class="button-block">
                    <div class="parameters">
                        <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                        <div class="units">
                            <ul>
                                <li>м2</li>
                                <li class="active">шт</li>
                            </ul>
                        </div>
                        <a class="button" href="#">В корзину</a>
                    </div>
                    <div class="buy-one-click">
                        <a class="buy" href="#">Купить в один клик</a>
                        <form>
                            <input type="submit" value="ok" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                            <span class="bt-close-one-click"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-item">
                <div class="img-wrap">
                    <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    <div class="discount">-11%</div>
                </div>
                <div class="text-wrap">
                    <h5>
                        <a href="#">Акриловая ванна Pupa</a>
                    </h5>
                    <div class="rating-wrap">
                        <div class="rating"></div>
                        <span class="count">15</span>
                    </div>
                    <div class="price">8 999 990 <span class="small">000</span></div>
                    <div class="share">
                        <span class="old">9 999 900 000</span>
                        <span class="discount">Экономия 1 000 000 000</span>
                    </div>
                </div>
                <div class="button-block">
                    <div class="parameters">
                        <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                        <div class="units">
                            <ul>
                                <li>м2</li>
                                <li class="active">шт</li>
                            </ul>
                        </div>
                        <a class="button" href="#">В корзину</a>
                    </div>
                    <div class="buy-one-click">
                        <a class="buy" href="#">Купить в один клик</a>
                        <form>
                            <input type="submit" value="ok" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                            <span class="bt-close-one-click"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-item">
                <div class="img-wrap">
                    <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    <div class="discount">-11%</div>
                </div>
                <div class="text-wrap">
                    <h5>
                        <a href="#">Акриловая ванна Pupa</a>
                    </h5>
                    <div class="rating-wrap">
                        <div class="rating"></div>
                        <span class="count">15</span>
                    </div>
                    <div class="price">8 999 990 <span class="small">000</span></div>
                    <div class="share">
                        <span class="old">9 999 900 000</span>
                        <span class="discount">Экономия 1 000 000 000</span>
                    </div>
                </div>
                <div class="button-block">
                    <div class="parameters">
                        <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                        <div class="units">
                            <ul>
                                <li>м2</li>
                                <li class="active">шт</li>
                            </ul>
                        </div>
                        <a class="button" href="#">В корзину</a>
                    </div>
                    <div class="buy-one-click">
                        <a class="buy" href="#">Купить в один клик</a>
                        <form>
                            <input type="submit" value="ok" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                            <span class="bt-close-one-click"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    $('.js-hit-towarov .rating').rating();
    $('.js-hit-towarov input.count-input[type="number"]').styler();
</script>
