<div class="col-lg-4 col-md-11">
    <div class="title-menu">Унитазы 1  2<i class="fa fa-caret-right"></i></div>
    <ul class="menu-level menu-second-level2">
        <li class="active"><a href="./menu-h3.html">Напольные 1</a></li>
        <li><a href="./menu-h3.html">Подвесные 2</a></li>
        <li><a href="./menu-h3.html">Приставные 3</a></li>
        <li><a href="./menu-h3.html">Комплектующие для унитаза 4</a></li>
        <li><a href="./menu-h3.html">Коллекция 5</a></li>
        <li><a href="./menu-h3.html">Коллекция 6</a></li>
        <li><a href="./menu-h3.html">Коллекция с очень длинным названием 7</a></li>
        <li><a href="./menu-h3.html">Коллекция 8</a></li>
        <li><a href="./menu-h3.html">Коллекция 9</a></li>
        <li><a href="./menu-h3.html">Коллекция 10</a></li>
    </ul>
    <div class="all-colect"><a href="#">Все коллекции  <i class="fa fa-caret-right"></i></a></div>
</div>
<div class="col-lg-8 col-md-1 js-hit-towarov2">
    <div class="title-menu-hit">Хиты продаж 1  2<i class="fa fa-caret-right"></i></div>
    <div class="categories-list-tovar-e products-list">
        <div class="col-md-6">
            <div class="product-item">
                <div class="img-wrap">
                    <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    <div class="discount">-10%</div>
                </div>
                <div class="text-wrap">
                    <h5>
                        <a href="#">Акриловая ванна Pupa</a>
                    </h5>
                    <div class="rating-wrap">
                        <div class="rating"></div>
                        <span class="count">15</span>
                    </div>
                    <div class="price">8 999 990 <span class="small">000</span></div>
                    <div class="share">
                        <span class="old">9 999 900 000</span>
                        <span class="discount">Экономия 1 000 000 000</span>
                    </div>
                </div>
                <div class="button-block">
                    <div class="parameters">
                        <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                        <div class="units">
                            <ul>
                                <li>м2</li>
                                <li class="active">шт</li>
                            </ul>
                        </div>
                        <a class="button" href="#">В корзину</a>
                    </div>
                    <div class="buy-one-click">
                        <a class="buy" href="#">Купить в один клик</a>
                        <form>
                            <input type="submit" value="ok" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                            <span class="bt-close-one-click"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-item">
                <div class="img-wrap">
                    <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    <div class="discount">-10%</div>
                </div>
                <div class="text-wrap">
                    <h5>
                        <a href="#">Акриловая ванна Pupa</a>
                    </h5>
                    <div class="rating-wrap">
                        <div class="rating"></div>
                        <span class="count">15</span>
                    </div>
                    <div class="price">8 999 990 <span class="small">000</span></div>
                    <div class="share">
                        <span class="old">9 999 900 000</span>
                        <span class="discount">Экономия 1 000 000 000</span>
                    </div>
                </div>
                <div class="button-block">
                    <div class="parameters">
                        <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                        <div class="units">
                            <ul>
                                <li>м2</li>
                                <li class="active">шт</li>
                            </ul>
                        </div>
                        <a class="button" href="#">В корзину</a>
                    </div>
                    <div class="buy-one-click">
                        <a class="buy" href="#">Купить в один клик</a>
                        <form>
                            <input type="submit" value="ok" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                            <span class="bt-close-one-click"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-item">
                <div class="img-wrap">
                    <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    <div class="discount">-10%</div>
                </div>
                <div class="text-wrap">
                    <h5>
                        <a href="#">Акриловая ванна Pupa</a>
                    </h5>
                    <div class="rating-wrap">
                        <div class="rating"></div>
                        <span class="count">15</span>
                    </div>
                    <div class="price">8 999 990 <span class="small">000</span></div>
                    <div class="share">
                        <span class="old">9 999 900 000</span>
                        <span class="discount">Экономия 1 000 000 000</span>
                    </div>
                </div>
                <div class="button-block">
                    <div class="parameters">
                        <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                        <div class="units">
                            <ul>
                                <li>м2</li>
                                <li class="active">шт</li>
                            </ul>
                        </div>
                        <a class="button" href="#">В корзину</a>
                    </div>
                    <div class="buy-one-click">
                        <a class="buy" href="#">Купить в один клик</a>
                        <form>
                            <input type="submit" value="ok" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                            <span class="bt-close-one-click"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-item">
                <div class="img-wrap">
                    <img src="../../images/product-prev-01.png" alt="img" width="176" height="92"/>
                    <div class="discount">-10%</div>
                </div>
                <div class="text-wrap">
                    <h5>
                        <a href="#">Акриловая ванна Pupa</a>
                    </h5>
                    <div class="rating-wrap">
                        <div class="rating"></div>
                        <span class="count">15</span>
                    </div>
                    <div class="price">8 999 990 <span class="small">000</span></div>
                    <div class="share">
                        <span class="old">9 999 900 000</span>
                        <span class="discount">Экономия 1 000 000 000</span>
                    </div>
                </div>
                <div class="button-block">
                    <div class="parameters">
                        <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                        <div class="units">
                            <ul>
                                <li>м2</li>
                                <li class="active">шт</li>
                            </ul>
                        </div>
                        <a class="button" href="#">В корзину</a>
                    </div>
                    <div class="buy-one-click">
                        <a class="buy" href="#">Купить в один клик</a>
                        <form>
                            <input type="submit" value="ok" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                            <span class="bt-close-one-click"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $('.js-hit-towarov .rating').rating();
    $('.js-hit-towarov input.count-input[type="number"]').styler();
</script>
