<div class="title-menu-hit">Хиты продаж 1222222<i class="fa fa-caret-right"></i></div>
<div class="products-list products_list-list">
    <div class="product-item">
        <div class="row">
        <div class="col-md-3">
            <div class="img-wrap">
                <img src="../../images/product-prev-01.png" alt="img" class="img-responsive" />
                <div class="discount">-10%</div>s
            </div>
        </div>
        <div class="col-lg-5 col-md-4">
            <h5><a href="#">Плитка персиковая Santek Монако7С 400x275</a></h5>
            <div class="rating-wrap">
                <div class="rating"></div>
                <span class="count">15</span>
            </div>
            <div class="description">
                <p>Страна: Польша</p>
                <p>Тип: Напольный</p>
                <p>Подвод воды: Боковой</p>
                <p>Выпуск: Косой</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-5">
            <div class="product-item-price">
                <div class="price">8 999 990 <span class="small">000</span></div>
                <div class="share">
                    <span class="old">9 999 900 000</span>
                    <span class="discount">Экономия 1 000 000 000</span>
                </div>
                <div class="parameters">
                    <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                    <a class="button" href="#">В корзину</a>
                </div>
                <div class="buy-one-click">
                    <a class="buy" href="#">Купить в один клик</a>
                    <form>
                        <input type="submit" value="Купить" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                        <span class="bt-close-one-click"></span>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="product-item">
        <div class="row">
        <div class="col-md-3">
            <div class="img-wrap">
                <img src="../../images/product-prev-01.png" alt="img" class="img-responsive" />
                <div class="discount">-10%</div>s
            </div>
        </div>
        <div class="col-lg-5 col-md-4">
            <h5><a href="#">Плитка персиковая Santek Монако7С 400x275</a></h5>
            <div class="rating-wrap">
                <div class="rating"></div>
                <span class="count">15</span>
            </div>
            <div class="description">
                <p>Страна: Польша</p>
                <p>Тип: Напольный</p>
                <p>Подвод воды: Боковой</p>
                <p>Выпуск: Косой</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-5">
            <div class="product-item-price">
                <div class="price">8 999 990 <span class="small">000</span></div>
                <div class="share">
                    <span class="old">9 999 900 000</span>
                    <span class="discount">Экономия 1 000 000 000</span>
                </div>
                <div class="parameters">
                    <input class="count-input" min="1" value="1" type="number" placeholder=""/>
                    <a class="button" href="#">В корзину</a>
                </div>
                <div class="buy-one-click">
                    <a class="buy" href="#">Купить в один клик</a>
                    <form>
                        <input type="submit" value="Купить" /><input type="text" class="masktel" placeholder="+375 (XX) XXX-XX-XX" />
                        <span class="bt-close-one-click"></span>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<style type="text/css">
    .product-item:after {
        content: '';
        display: block;
        height: 0;
        clear: both;
    }
</style>
<script>
    $('.js-hit-towarov .rating').rating();
    $('.js-hit-towarov input.count-input[type="number"]').styler();
</script>
