
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
    background-color: #fff;
    border: 1px solid black;
    cursor: text;
    display: table;
    opacity: 0.4 !important;
    overflow: hidden;
    word-break: normal;
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
    z-index: 50 !important;
	overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
}


