.clr {
    clear: both;
}

@media (max-width: 480px) {
    header.v2 .phone-row span {
        font-size: 18px;
    }
}

header.v2 .mosaic-row .work-time-basket {
    float: right;
}

header.v2 .mosaic-row .work-time-basket #working-hours {
    margin-right: 2px;
    width: 156px;
}

@media (max-width: 767px) {
    header.v2 .mosaic-row .work-time-basket {
        float: left;
    }
}

header.v2 .phone-row {
    padding: 5px 0 0 0;
}
header.v2 .phone-row span {
    vertical-align: top;
}

header.v2 .phone-row span span {
    display: inline-block;
}

header .phone-row .phones {
    color: #020303;
    font-size: 1.6em;
}

header.v2 .phone-row .phones .city {
    background: url(../img/phone-city.png) no-repeat 0 3px;
    padding-left: 35px;
    padding-top: 3px;
    padding-bottom: 10px;
    margin-right: 20px;
}

header.v2 .phone-row .phones .velcom,
header.v2 .phone-row .phones .mts,
header.v2 .phone-row .phones .life {
    width: 22px;
    height: 24px;
}

header.v2 .phone-row .phones .velcom {
    background: url(../img/phone-velcom.png) no-repeat 0 2px;
}
header.v2 .phone-row .phones .mts {
    background: url(../img/phone-mts.png) no-repeat 0 2px;
}
header.v2 .phone-row .phones .life {
    background: url(../img/phone-life.png) no-repeat 0 2px;
}

header.v2 .phone-row .phones .mobile {
    padding-bottom: 10px;
    font-size: 1.2em;
}

header.v2 .mosaic-row {
    position: relative;
}

header.v2 .mosaic-row #title-search {
    display: block;
    position: absolute;
    top: 26px;
    left: 50%;
    width: 293px;
    margin-left: -109px;
}

header.v2 .mosaic-row #title-search input.form-control {
    height: 18px;
    padding: 2px 2px 2px 25px;
    border: 1px solid #b8c7d1;
    border-radius: 4px;
    background: #fff url(../img/lupa.png) no-repeat 4px 4px;
}

header.v2 .min-search-block input[type=button],
header.v2 .mosaic-row #title-search input[type=button] {
    display: none;
}

@media (max-width: 992px) {
    header.v2 .mosaic-row #title-search {
        display: block;
        margin-left: -55px;
        width: 159px;
    }
}

@media (max-width: 767px) {
    header.v2 .mosaic-row #title-search {
        display: none;
    }
    header.v2 .mosaic-row .work-time-basket #working-hours {
        width: 235px;
        border-right: 0 none;
    }
}

@media (min-width: 768px) {
    header.v2 .mosaic-row .search-icon {
        display: none;
    }
}

header.v2 .mosaic-row .search-icon {
    position: absolute;
    top: 35px;
    left: 360px;
    width: 51px;
    height: 50px;
    border: 1px solid #b8c7d1;
    border-radius: 2px;
    background: #fff url(../img/search-icon.png) no-repeat center center;
}

header.v2 .min-search-block {
    display: none;
}

header.v2 .min-search-block.active {
    display: block;
}

header.v2 .min-search-block #title-search {
    padding-left: 0;
    padding-right: 0;
}

footer .v2 .mobile-phone-block {
    margin-top: 10px;
}

footer .v2 .mobile-phone-block .icons {
    float: left;
}

footer .v2 .mobile-phone-block .mobile {
    float: left;
    font-size: 2.6em;
    font-weight: bold;
    padding: 29px 0 0 25px;
}

footer .v2 .mobile-phone-block .velcom,
footer .v2 .mobile-phone-block .mts,
footer .v2 .mobile-phone-block .life {
    display: block;
    width: 22px;
    height: 30px;
}

footer .v2 .mobile-phone-block .velcom {
    background: url(../img/phone-velcom.png) no-repeat 0 2px;
}

footer .v2 .mobile-phone-block .mts {
    background: url(../img/phone-mts.png) no-repeat 0 2px;
}

footer .v2 .mobile-phone-block .life {
    background: url(../img/phone-life.png) no-repeat 0 2px;
}

footer .v2 .city-phone-block {
    margin-top: 20px;
    margin-bottom: 30px;
}

footer .v2 .city-phone-block .city {
    font-size: 1.4em;
    font-weight: bold;
    background: url(../img/phone-city.png) no-repeat 0 3px;
    padding: 3px 0 4px 45px;
}

footer .v2 .city-phone-block .city span {
    color: #7b7a7a;
}

header.v2 .navbar-default.navbar-dop {
    position: initial;
    margin-top: 20px;
    //background: #ccc;
}

header.v2 .navbar-default.navbar-dop .nav li a {
    text-transform: none;
    font-size: 0.9em;
}

header.v2 .navbar-default {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    min-height: 25px;
}

header.v2 .navbar-default .nav li a {
    padding-top: 3px;
    padding-bottom: 0;
}

header.v2 .main-buttons-box .but span.text {
    padding-left: 10px;
}

header.v2 .main-buttons-box .row > div {
    margin-top: 15px;
    margin-bottom: 0;
}

header.v2 {
    margin-bottom: 21px;
}

@media (min-width: 767px) {
    header.v2 .navbar-collapse-dop {
        padding-left: 0;
        padding-right: 0;
    }
    header.v2 .navbar-collapse-dop .nav li {
        margin: 5px 0 5px 0;
        padding-left: 0;
    }
    header.v2 .navbar-collapse-dop .nav li:first-child {
        margin-left: 0;
        padding-left: 0;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-1 {
        max-width: 110px;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-2 {
        max-width: 75px;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-3 {
        max-width: 210px;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-4 {
        max-width: 195px;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-5 {
        max-width: 125px;
    }
    header.v2 .navbar-default.navbar-dop .nav li a {
        padding: 0 0 0 10px;
        font-size: 1em;
    }
}

@media (min-width: 992px) {
    header.v2 .navbar-collapse-dop {
        padding-left: 0;
        padding-right: 0;
    }
    header.v2 .navbar-collapse-dop .nav li {
        margin: 5px 0 5px 0;
        padding-left: 30px;
    }
    header.v2 .navbar-collapse-dop .nav li:first-child {
        margin-left: 0;
        padding-left: 0;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-1 {
        max-width: 135px;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-2 {
        max-width: 95px;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-3 {
        max-width: 250px;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-4 {
        max-width: 210px;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-5 {
        max-width: 185px;
    }
    header.v2 .navbar-default.navbar-dop .nav li a {
        padding: 0 0 0 10px;
        font-size: 1.1em;
    }
}

@media (min-width: 1200px) {
    header.v2 .navbar-collapse-dop .nav li {
        margin: 5px 0 5px 22px;
        padding-left: 40px;
    }
    header.v2 .navbar-collapse-dop .nav li:first-child {
        margin-left: 0;
        padding-left: 40px;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-1 {
        background: url(../img/preim-1.png) no-repeat;
        max-width: 180px;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-2 {
        background: url(../img/preim-2.png) no-repeat;
        max-width: 140px;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-3 {
        background: url(../img/preim-3.png) no-repeat;
        max-width: 265px;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-4 {
        background: url(../img/preim-4.png) no-repeat;
        max-width: 240px;
    }
    header.v2 .navbar-collapse-dop .nav li.preim-5 {
        background: url(../img/preim-5.png) no-repeat;
        max-width: 195px;
    }
    header.v2 .navbar-default.navbar-dop .nav li a {
        padding: 0 0 0 10px;
        font-size: 0.9em;
    }
}

@media (min-width: 320px) {
    header.v2 .preims ul li {
        margin-right: 0;
        min-width: 355px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    header.v2 .preims ul li a {
        padding-top: 10px;
        font-size: 1.1em;
    }
    header.v2 .preims ul li.preim-1 {max-width: 355px;}
    header.v2 .preims ul li.preim-2 {max-width: 335px;}
    header.v2 .preims ul li.preim-3 {max-width: 335px;}
    header.v2 .preims ul li.preim-4 {max-width: 335px;}
    header.v2 .preims ul li.preim-5 {max-width: 335px;}
}

@media (min-width: 767px) {
    header.v2 .preims ul li {
        margin-right: 0;
        min-width: 355px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    header.v2 .preims ul li a {
        padding-top: 10px;
        font-size: 1.1em;
    }
    header.v2 .preims ul li.preim-1 {max-width: 355px;}
    header.v2 .preims ul li.preim-2 {max-width: 335px;}
    header.v2 .preims ul li.preim-3 {max-width: 335px;}
    header.v2 .preims ul li.preim-4 {max-width: 335px;}
    header.v2 .preims ul li.preim-5 {max-width: 335px;}
}

@media (min-width: 992px) {
    header.v2 .preims ul li {
        margin-right: 15px;
        min-width: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    header.v2 .preims ul li a {
        padding-top: 3px;
        font-size: 0.9em;
    }
    header.v2 .preims ul li.preim-1 {max-width: 150px;}
    header.v2 .preims ul li.preim-2 {max-width: 110px;}
    header.v2 .preims ul li.preim-3 {max-width: 225px;}
    header.v2 .preims ul li.preim-4 {max-width: 200px;}
    header.v2 .preims ul li.preim-5 {max-width: 160px;}
}

@media (min-width: 1200px) {
    header.v2 .preims ul li {
        margin-right: 34px;
        min-width: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    header.v2 .preims ul li a {
        padding-top: 3px;
        font-size: 0.9em;
    }
    header.v2 .preims ul li.preim-1 {max-width: 160px;}
    header.v2 .preims ul li.preim-2 {max-width: none; width: auto;}
    header.v2 .preims ul li.preim-3 {max-width: 230px;}
    header.v2 .preims ul li.preim-4 {max-width: 220px;}
    header.v2 .preims ul li.preim-5 {max-width: 180px;}
}

header.v2 .preims {
    background: #69b9cc;
    margin-top: 20px;
}

header.v2 .preims ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 7px 0 7px 50px;
    background-position-y: 5px;
    min-height: 43px;
}

header.v2 .preims ul li:last-child {
    margin-right: 0;
}

header.v2 .preims ul li.preim-1 {background: url(../img/preim-1.png) no-repeat 0 5px;}
header.v2 .preims ul li.preim-2 {background: url(../img/preim-2.png) no-repeat 0 3px;}
header.v2 .preims ul li.preim-3 {background: url(../img/preim-3.png) no-repeat 0 5px; padding-left: 55px;}
header.v2 .preims ul li.preim-4 {background: url(../img/preim-4.png) no-repeat 0 5px;}
header.v2 .preims ul li.preim-5 {background: url(../img/preim-5.png) no-repeat 0 5px;}

header.v2 .preims ul li.preim-1 a {}
header.v2 .preims ul li.preim-2 a {padding-top: 7px;}
header.v2 .preims ul li.preim-3 a {}
header.v2 .preims ul li.preim-4 a {}
header.v2 .preims ul li.preim-5 a {}

header.v2 .preims a {
    display: block;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9em;
    padding: 3px 0;
}

header.v2 .navbar-default.navbar-static-top {
    background-color: #ed7e2c;
}