html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  position: relative;
  min-height: 100%;
  /* max-width:1920px; */
  overflow-x: hidden;
  margin: 0 auto;
  background: url(../img/main_bg.png) center top repeat-y, #d9e4ea; }

body {
  line-height: 1;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 384px; }

@media (max-width: 992px) {
  body {
    margin-bottom: 750px; } }
@media (max-width: 767px) {
  body {
    margin-bottom: 900px; } }
@media (max-width: 480px) {
  body {
    margin-bottom: 900px; } }
ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

a, a:hover {
  cursor: pointer;
  color: #269ab1; }

a:hover, a:focus {
  text-decoration: none;
  outline: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

input[type="text"] {
  padding: 0 10px;
  text-overflow: ellipsis; }

select, input, textarea, button {
  margin: 0;
  padding: 0;
  font: 99% 'Roboto', sans-serif;
  outline: none; }

textarea {
  resize: none; }

.delay_04s,
.delay_04s_inside *,
.delay_04s_inside *:after,
.delay_04s_inside *:before {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease; }

.delay_02s,
.delay_02s_inside *,
.delay_02s_inside *:after,
.delay_02s_inside *:before {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease; }

.left {
  float: left; }

.right {
  float: right; }

.container {
  border-radius: 4px; }

h1, span.title_h1 {
  font-size: 32px;
  font-family: 'Exo 2', sans-serif;
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 800;
  text-transform: uppercase; }

h2, span.title_h2 {
  font-size: 24px;
  font-family: 'Exo 2', sans-serif;
  display: inline-block;
  margin-bottom: 25px;
  font-weight: 800;
  text-transform: uppercase; }

h3, span.title_h3 {
  font-size: 20px;
  font-family: 'Exo 2', sans-serif;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 800;
  text-transform: uppercase; }

h4, span.title_h4 {
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 800;
  text-transform: uppercase; }

/* p,a,label, span {font-size:14px;font-weight:400;} */
p {
  line-height: 2; }

b {
  font-weight: 700; }

@media (max-width: 1200px) {
  h1, span.title_h1 {
    font-size: 26px; }

  h2, span.title_h2 {
    font-size: 22px; }

  h3, span.title_h3 {
    font-size: 18px; }

  h4, span.title_h4 {
    font-size: 14px; }

  h5, span.title_h5 {
    font-size: 12px; }

  p, a, li, label {
    font-size: 14px; } }
.line {
  display: block;
  width: 100%;
  height: 6px;
  margin: 30px auto;
  background: url(../img/line_bg.png) repeat-x; }

.right-to-left {
  text-align: right; }

@media (max-width: 767px) {
  .right-to-left {
    text-align: left; } }
.bg-white {
  background-color: #fff; }

.padd-30 {
  padding: 30px;
  font-weight: 300;
  line-height: 1.3; }

.b-r_4 {
  border-radius: 4px; }

.b-r_2 {
  border-radius: 2px; }

.m-b-40 {
  margin-bottom: 40px; }

.main-blue-btn {
  background-color: #269ab1;
  text-decoration: none;
  letter-spacing: 1px; }

.main-blue-btn:hover {
  background-color: #72b2c9; }

.main-blue-btn:active {
  background-color: #4e899e; }

/**/
.custom_check {
  margin-bottom: 20px; }
  .custom_check input[type="checkbox"] {
    position: absolute;
    left: -10000px; }
  .custom_check label {
    display: inline-block !important;
    vertical-align: top;
    cursor: pointer;
    font-size: 14px;
    color: #212121; }
  .custom_check label:before {
    content: '';
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 18px;
    height: 18px;
    top: -3px;
    margin-right: 5px;
    background: url(../img/pic_checkbox.png) no-repeat;
    vertical-align: top; }
  .custom_check input[type="checkbox"]:checked + label {
    /* font-weight: 700; */
    color: #212121; }
  .custom_check input[type="checkbox"]:checked + label:before {
    background-position: 0 -18px; }
  .custom_check input[type="checkbox"]:disabled + label,
  .custom_check input[type="checkbox"]:disabled + label:before {
    opacity: 0.5;
    cursor: default; }

.custom_radio input[type="radio"] {
  position: absolute;
  left: -10000px; }
.custom_radio label {
  display: inline-block !important;
  vertical-align: top;
  cursor: pointer;
  font-size: 14px;
  color: #212121; }
.custom_radio label:before {
  content: '';
  display: inline-block;
  cursor: pointer;
  position: relative;
  vertical-align: top;
  width: 18px;
  height: 18px;
  top: -3px;
  margin-right: 10px;
  background: url(../img/pic_radio.png) no-repeat; }
.custom_radio input[type="radio"]:checked + label:before {
  background-position: 0 -18px; }

/* header */
header {
  /* background: #d9e4ea url(../img/main_bg.png) center top repeat-y; */
  margin-bottom: 30px;
  position: relative;
  /*z-index: 1000;*/ }
  header .phone-row {
    padding: 10px 0;
    color: #df6b15;
    font-size: 12px;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase; }
    header .phone-row span {
      display: inline-block;
      margin-left: 5px; }
    @media (max-width: 480px) {
      header .phone-row span {
        display: block;
        font-size: 14px;
        margin-bottom: 10px; } }
  header .mosaic-row {
    height: 52px;
    background: url(../img/mosaic_bg.png) #eef0f4 center center;
    margin-bottom: 3px; }
    header .mosaic-row a#logo {
      display: inline-block;
      margin-top: -2px;
      margin-left: -3px; }
    header .mosaic-row #working-hours {
      width: 211px;
      height: 50px;
      background-color: #ecb835;
      border-radius: 4px;
      padding: 7px;
      float: left;
      margin-left: 77px;
      box-shadow: 0 0 0 1px #fff; }
      header .mosaic-row #working-hours p {
        font-family: 'Exo 2', sans-serif;
        font-weight: 800;
        font-size: 14px;
        line-height: 1.3; }
        header .mosaic-row #working-hours p a {
          color: #333;
          border-bottom: 1px dotted #333;
          font-size: 14px; }
        header .mosaic-row #working-hours p a:hover {
          border: none; }
    header .mosaic-row #basket {
      position: relative;
      display: inline-block;
      width: 51px;
      height: 50px;
      background: url(../img/basket.png) #46a712 center center no-repeat;
      border-radius: 4px;
      float: right;
      margin-right: 1px;
      box-shadow: 0 0 0 1px #dae5ea; }
      header .mosaic-row #basket a {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0; }
        header .mosaic-row #basket a span {
          display: block;
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background-color: #b0472e;
          color: #fff;
          text-align: center;
          line-height: 22px;
          position: absolute;
          right: 2px;
          top: 2px;
          font-size: 12px; }
        @media (max-width: 991px) {
          header .mosaic-row #basket a span {
            font-size: 14px; } }
    header .mosaic-row #basket:hover {
      background: url(../img/basket.png) #90ca4d center center no-repeat; }
    header .mosaic-row #basket:active {
      background: url(../img/basket.png) #5c872b center center no-repeat; }
    @media (max-width: 1199px) {
      header .mosaic-row a#logo {
        margin-left: 4px; }
      header .mosaic-row #working-hours {
        margin-left: -2px; }
      header .mosaic-row #basket {
        margin-right: 7px; } }
    @media (max-width: 991px) {
      header .mosaic-row a#logo {
        margin-left: -1px; }
      header .mosaic-row #working-hours {
        margin-left: -2px; }
      header .mosaic-row #basket {
        margin-right: 4px; } }
  @media (max-width: 767px) {
    header .mosaic-row {
      height: 120px;
      /* background: transparent; */
      background-position: -13px -17px;
      padding-top: 10px; }
      header .mosaic-row a#logo {
        margin-left: -2px; }
      header .mosaic-row #working-hours {
        /* margin-left: 0;
        margin-right: 6px;
        width: 229px; */
        margin-left: 0;
        /* margin-right: 6px; */
        width: 235px;
        border-right: 6px solid #fff;
        border-radius: 5px 0 0 5px;
        margin-top: -5px; }
      header .mosaic-row #basket {
        float: left;
        width: 53px;
        margin-right: 0;
        margin-top: -5px; } }
  header .navbar-default {
    background-color: #269ab1;
    border: none; }
    header .navbar-default .nav li a {
      font-size: 12px;
      color: #fff !important;
      text-transform: uppercase; }
    header .navbar-default .nav li a.active {
      text-decoration: underline; }
    @media only screen {
      header .navbar-default .nav a:hover {
        text-decoration: underline; } }
    @media (min-width: 767px) {
      header .navbar-default .nav {
        /* li:last-child {
            margin-right: 0;
        } */ }
        header .navbar-default .nav li {
          margin: 0 13px; } }
    @media (min-width: 992px) {
      header .navbar-default .nav li {
        margin: 0 35px; } }
    @media (min-width: 1200px) {
      header .navbar-default .nav li {
        margin: 0 55px; } }

/* parallax */
#scene {
  display: none;
  overflow: hidden;
  min-height: 100%;
  position: absolute;
  width: 3420px;
  top: -250px;
  left: 50%;
  margin-left: -1140px; }
  #scene li img {
    position: absolute;
    height: auto;
    top: 0;
    left: 0; }

/* main slider */
.wrapper-main-slider {
  position: relative;
  min-width: 100%;
  height: 430px;
  margin: 0 auto 20px;
  overflow: hidden; }
  .wrapper-main-slider .main-slider {
    position: relative;
    min-width: 100%;
    height: 430px;
    margin: 0 auto;
    overflow: hidden; }
    .wrapper-main-slider .main-slider .slide {
      width: 100%;
      height: 430px;
      position: relative;
      text-align: center;
      padding: 0;
      margin: 0 auto;
      float: left;
      background-size: cover !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -ms-flex-direction: row;
      flex-direction: row;
      align-items: center; }
      .wrapper-main-slider .main-slider .slide .slide-info-wrap {
        margin: 45px auto;
        position: relative;
        max-width: 830px;
        margin: auto;
        align-items: stretch; }
        .wrapper-main-slider .main-slider .slide .slide-info-wrap .slide-info {
          margin: 20px;
          padding: 20px;
          /* height: 330px; */
          background: url(../img/btn_l_t_bg.png) left top no-repeat, url(../img/btn_r_t_bg.png) right top no-repeat, url(../img/btn_l_b_bg.png) left bottom no-repeat, url(../img/btn_r_b_bg.png) right bottom no-repeat, rgba(255, 255, 255, 0.5);
          /*url(../img/white_mask_bg.png);*/
          cursor: default; }
          .wrapper-main-slider .main-slider .slide .slide-info-wrap .slide-info .slide-title {
            position: relative;
            display: block;
            font-family: 'Exo 2', sans-serif;
            font-size: 36px;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 20px;
            text-transform: uppercase; }
          @media (max-width: 1200px) {
            .wrapper-main-slider .main-slider .slide .slide-info-wrap .slide-info .slide-title {
              font-size: 30px; } }
          @media (max-width: 992px) {
            .wrapper-main-slider .main-slider .slide .slide-info-wrap .slide-info .slide-title {
              font-size: 24px; } }
          @media (max-width: 767px) {
            .wrapper-main-slider .main-slider .slide .slide-info-wrap .slide-info .slide-title {
              font-size: 20px; } }
          .wrapper-main-slider .main-slider .slide .slide-info-wrap .slide-info p {
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 20px; }
          .wrapper-main-slider .main-slider .slide .slide-info-wrap .slide-info a.more {
            display: inline-block;
            margin: 0 auto;
            padding: 0 30px;
            height: 40px;
            line-height: 40px;
            background: #deb744;
            color: #fff;
            font-family: 'Exo 2', sans-serif;
            font-weight: 800;
            font-size: 14px;
            border-radius: 4px; }
          .wrapper-main-slider .main-slider .slide .slide-info-wrap .slide-info a.more:hover {
            background: #f1cc60; }
          .wrapper-main-slider .main-slider .slide .slide-info-wrap .slide-info a.more:active {
            background: #dea244; }
        .wrapper-main-slider .main-slider .slide .slide-info-wrap .slide-info:hover {
          background: url(../img/btn_l_t_bg.png) left top no-repeat, url(../img/btn_r_t_bg.png) right top no-repeat, url(../img/btn_l_b_bg.png) left bottom no-repeat, url(../img/btn_r_b_bg.png) right bottom no-repeat, rgba(255, 255, 255, 0.8); }
  .wrapper-main-slider .slider-buttons {
    position: relative;
    margin-top: -210px; }
    .wrapper-main-slider .slider-buttons a#slide-prev,
    .wrapper-main-slider .slider-buttons a#slide-next {
      position: absolute;
      width: 43px;
      height: 43px;
      left: 15px;
      top: 50%;
      margin-top: -22px;
      background-color: #ed7f2e;
      border-radius: 4px;
      opacity: 0.7; }
    .wrapper-main-slider .slider-buttons a#slide-next {
      right: 15px;
      left: auto; }
    .wrapper-main-slider .slider-buttons a#slide-prev:hover,
    .wrapper-main-slider .slider-buttons a#slide-next:hover {
      opacity: 1; }
    .wrapper-main-slider .slider-buttons a#slide-prev span,
    .wrapper-main-slider .slider-buttons a#slide-next span {
      position: absolute;
      display: block;
      width: 12px;
      height: 21px;
      top: 11px;
      left: 15px;
      background: url(../img/slider-arrows.png) no-repeat; }
    .wrapper-main-slider .slider-buttons a#slide-next span {
      background: url(../img/slider-arrows.png) -12px top no-repeat; }
    @media (max-width: 991px) {
      .wrapper-main-slider .slider-buttons a#slide-prev,
      .wrapper-main-slider .slider-buttons a#slide-next {
        display: none !important; } }

#index-page .index-main-buttons-box {
  margin-bottom: 25px; }
#index-page .actions .one-action a {
  display: block; }
  #index-page .actions .one-action a span.img {
    /* max-height: 160px; */
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100%; }
    #index-page .actions .one-action a span.img img {
      width: 100%; }
    #index-page .actions .one-action a span.img span.mask {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: url(../img/btn_l_t_bg.png) left top no-repeat, url(../img/btn_r_b_bg.png) right bottom no-repeat; }
  #index-page .actions .one-action a span.text {
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #269ab1;
    text-decoration: underline;
    line-height: 1.5;
    display: block; }
  @media (max-width: 992px) {
    #index-page .actions .one-action a span.text {
      font-size: 14px;
      font-weight: 800; } }
@media only screen {
  #index-page .actions .one-action a:hover span.img img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05); }
  #index-page .actions .one-action a:hover span.text {
    text-decoration: none; } }
@media (max-width: 767px) {
  #index-page .actions .one-action a {
    text-align: center; } }
@media (max-width: 767px) {
  #index-page .actions .one-action {
    margin-bottom: 40px; } }
#index-page .ind-about-company .info-block img {
  display: block;
  float: left;
  max-width: 270px;
  width: 100%;
  margin: 10px 10px 0 0; }
@media (max-width: 992px) {
  #index-page .ind-about-company .info-block {
    margin-bottom: 20px; } }
@media (max-width: 767px) {
  #index-page .ind-about-company .info-block img {
    float: none; } }
#index-page .ind-about-company .sections-block .one-section:first-child {
  margin-top: 10px; }
#index-page .ind-about-company .sections-block .one-section {
  margin-bottom: 15px; }
  #index-page .ind-about-company .sections-block .one-section a {
    position: relative;
    display: block;
    /*width: 100%;*/
    min-height: 130px;
    overflow: hidden; }
    #index-page .ind-about-company .sections-block .one-section a img {
      display: block;
      width: 100%;
      max-height: 150px; }
    @media (max-width: 991px) {
      #index-page .ind-about-company .sections-block .one-section a img {
        max-height: 300px; } }
    #index-page .ind-about-company .sections-block .one-section a span {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 10px;
      color: #fff;
      font-family: 'Exo 2', sans-serif;
      font-weight: 800;
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 18px;
      height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  #index-page .ind-about-company .sections-block .one-section a:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05); }
  #index-page .ind-about-company .sections-block .one-section a:hover span {
    text-decoration: underline; }

/*main buttons box*/
.main-buttons-box {
  /*but-blue*/
  /*but-orange*/
  /*but-green*/
  /*but-red*/
  /**/ }
  .main-buttons-box .row {
    font-size: 0; }
    .main-buttons-box .row > div {
      margin-bottom: 20px;
      float: none;
      display: inline-block;
      vertical-align: top; }
  @media (min-width: 992px) and (max-width: 1200px) {
    /*.main-buttons-box .row div.col-md-3 {
      width: 49.9%; }*/ }
  @media (max-width: 991px) {
    .main-buttons-box .row div.col-sm-6 {
      width: 49.9%; }
    .main-buttons-box .row div.col-xs-12 {
      width: 100%; } }
  .main-buttons-box .but {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    vertical-align: top;
    white-space: nowrap;
    text-decoration: none; }
    .main-buttons-box .but span.img {
      display: inline-block;
      vertical-align: top; }
    .main-buttons-box .but span.text {
      font-size: 12px;
      line-height: 37px;
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
      text-decoration: none; }
  @media screen and (max-device-width: 2800px) {
    .main-buttons-box .but:hover {
      color: #fff; }
      .main-buttons-box .but:hover span.text {
        /* text-decoration: underline; */ } }
  .main-buttons-box .but.bg.active {
    border-radius: 4px 4px 0 0;
    height: 55px;
    opacity: 1; }
  @media (max-width: 767px) {
    .main-buttons-box .but.active {
      border-bottom: 1px solid #fff; } }
  .main-buttons-box .but.active:hover {
    box-shadow: none; }
    .main-buttons-box .but.active:hover span.text {
      text-decoration: none; }
  .main-buttons-box .but.bg {
    color: #fff; }
  .main-buttons-box .but-blue {
    border: 2px solid #4a809c; }
  .main-buttons-box .bg-blue {
    background-color: #4a809c; }
  .main-buttons-box .bg-blue.active {
    background-color: #3f7490; }
  .main-buttons-box .but-blue:hover {
    background-color: #5593b3;
    border-color: #5593b3; }
  .main-buttons-box .but-blue.active {
    background-color: #3f7490;
    border-color: #3f7490;
    color: #fff; }
  .main-buttons-box .but-orange {
    border: 2px solid #d57e37;
    color: #d57e37; }
  .main-buttons-box .bg-orange {
    background-color: #d57e37; }
  .main-buttons-box .bg-orange.active {
    background-color: #d46e37; }
  .main-buttons-box .but-orange:hover {
    background-color: #f0a262;
    border-color: #f0a262; }
  .main-buttons-box .but-orange.active {
    background-color: #d46e37;
    border-color: #d46e37;
    color: #fff; }
  .main-buttons-box .but-green {
    border: 2px solid #68af92;
    color: #68af92; }
  .main-buttons-box .bg-green {
    background-color: #68af92; }
  .main-buttons-box .bg-green.active {
    background-color: #4f9c7d; }
  .main-buttons-box .but-green:hover {
    background-color: #7bc8a8;
    border-color: #7bc8a8; }
  .main-buttons-box .but-green.active {
    background-color: #4f9c7d;
    border-color: #4f9c7d;
    color: #fff; }
  .main-buttons-box .but-red {
    border: 2px solid #b0472e;
    color: #b0472e; }
  .main-buttons-box .bg-red {
    background-color: #b0472e; }
  .main-buttons-box .bg-red.active {
    background-color: #9b341b; }
  .main-buttons-box .but-red:hover {
    background-color: #d16c54;
    border-color: #d16c54; }
  .main-buttons-box .but-red.active {
    background-color: #9b341b;
    border-color: #9b341b;
    color: #fff; }
  .main-buttons-box .but .img-block {
    display: inline-block; }
    .main-buttons-box .but .img-block img {
      float: none;
      width: auto;
      margin: 0; }
    .main-buttons-box .but .img-block img:first-child {
      display: none; }
    .main-buttons-box .but .img-block img:last-child {
      display: block; }
  .main-buttons-box .but.bg .img-block img:first-child,
  .main-buttons-box .but:hover .img-block img:first-child,
  .main-buttons-box .but.active .img-block img:first-child {
    display: block; }
  .main-buttons-box .but.bg .img-block img:last-child,
  .main-buttons-box .but:hover .img-block img:last-child,
  .main-buttons-box .but.active .img-block img:last-child {
    display: none; }
  .main-buttons-box .sub-cat-box {
    display: none;
    padding: 15px;
    border-radius: 0 0 4px 4px; }
    .main-buttons-box .sub-cat-box ul {
      width: 100%; }
      .main-buttons-box .sub-cat-box ul li {
        display: inline-block;
        vertical-align: top;
        margin: 5px 0;
        float: none; }
        .main-buttons-box .sub-cat-box ul li a {
          font-family: 'PT Sans', sans-serif;
          font-weight: 400;
          color: #fff; }
        .main-buttons-box .sub-cat-box ul li a:hover {
          text-decoration: underline; }
      @media (min-width: 768px) {
        .main-buttons-box .sub-cat-box ul .col-sm-6 {
          width: 49.5%; } }
      @media (min-width: 992px) {
        .main-buttons-box .sub-cat-box ul .col-md-2 {
          width: 16.6%; } }
      @media (min-width: 992px) and (max-width: 1200px) {
        .main-buttons-box .sub-cat-box ul .row div.col-md-3 {
          width: 49.5%; } }
  .main-buttons-box .sub-cat-box.show {
    display: block; }

/*base page*/
.base-page img {
  float: left;
  /* max-width: 300px; */
  /* width: 100%; */
  margin: 10px 15px 15px 0; }
@media (max-width: 600px) {
  .base-page img {
    max-width: 100%; } }
.base-page .bg-white > div:after {
  content: '';
  display: table;
  clear: both; }
.base-page p:after {
  content: '';
  display: table;
  clear: both; }
.base-page a {
  text-decoration: underline; }
.base-page a:hover {
  text-decoration: none; }
.base-page ul li {
  margin-bottom: 15px;
  display: list-item;
  list-style-type: disc;
  margin-left: 18px; }
.base-page ol li {
  margin-bottom: 15px;
  counter-increment: step-counter; }
.base-page ol li::before {
  content: counter(step-counter) ".";
  margin-right: 5px;
  font-weight: 700;
  border-radius: 3px; }
.base-page i {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: #949494; }
.base-page table {
  width: 100%;
  /* margin-bottom: 20px; */ }
  .base-page table tr th {
    padding: 20px;
    font-weight: 400;
    border: 1px solid #e6e6e6;
    background: #f7f9f8;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900; }
  .base-page table tr td {
    padding: 20px;
    font-weight: 300;
    border: 1px solid #d7d8d9;
    background: #fff; }
    .base-page table tr td p {
      font-weight: 300;
      font-size: 16px;
      white-space: nowrap; }

/* error_404 */
#error-404 img {
  float: none;
  margin: 50px 0 50px  20px; }
@media (max-width: 1200px) {
  #error-404 img {
    margin: 50px 0 50px  5px; } }
@media (max-width: 992px) {
  #error-404 img {
    margin: 50px 0; } }
#error-404 .main-info {
  margin-bottom: 45px; }
#error-404 .add-info span.title_h4 {
  text-transform: none;
  display: block; }
#error-404 .add-info a {
  display: inline-block;
  margin: 0 40px 15px 0; }
@media (max-width: 600px) {
  #error-404 .add-info a {
    display: block; } }

/*search result*/
#search-result .search-row {
  padding: 30px;
  background-color: #f9fcfd;
  border-radius: 2px 2px 0 0; }
  #search-result .search-row input[type="search"] {
    box-sizing: border-box;
    height: 40px;
    line-height: 1.5;
    padding-right: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    color: #000; }
  #search-result .search-row input[type="button"] {
    position: absolute;
    right: 48px;
    top: 33px;
    width: 62px;
    height: 34px;
    background: url(../img/pic_search_white.png) center center #269ab1 no-repeat;
    display: block;
    border: none;
    color: transparent;
    border-radius: 2px; }
  #search-result .search-row input[type="button"]:hover {
    background: url(../img/pic_search_white.png) center center #72b2c9 no-repeat; }
  #search-result .search-row input[type="button"]:active {
    background: url(../img/pic_search_white.png) center center #4e899e no-repeat; }
#search-result .search-result-list {
  border-radius: 0 0 2px 2px; }
  #search-result .search-result-list span.search-list-title {
    display: block;
    color: #b7b6b6;
    margin-bottom: 30px; }
  #search-result .search-result-list ol li {
    counter-increment: step-counter;
    margin-bottom: 30px; }
    #search-result .search-result-list ol li a {
      display: inline-block;
      margin-bottom: 10px; }
    #search-result .search-result-list ol li p span.search-word {
      font-weight: 700;
      color: #000; }
  #search-result .search-result-list ol li:last-child {
    margin-bottom: 0; }
  #search-result .search-result-list ol li::before {
    content: counter(step-counter) ".";
    margin-right: 5px;
    border-radius: 3px;
    color: #269ab1;
    font-weight: 400; }

/*pagination*/
.pagination-wrapper {
  position: relative;
  font-size: 14px;
  max-width: 230px;
  margin: 30px auto; }
  .pagination-wrapper .left-part {
    display: inline-block;
    width: 10%;
    text-align: left;
    float: left;
    min-height: 1px; }
    .pagination-wrapper .left-part a {
      text-decoration: none;
      display: block;
      width: 8px;
      height: 14px;
      background: url(../img/pic_pagination_arr.png) no-repeat;
      margin-top: 2px; }
  .pagination-wrapper .center-part {
    display: inline-block;
    width: 79%;
    float: left;
    text-align: center; }
    .pagination-wrapper .center-part a, .pagination-wrapper .center-part span {
      color: #222;
      /* margin: 0 5px; */
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      text-decoration: none;
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 2px;
      line-height: 19px; }
    .pagination-wrapper .center-part span {
      cursor: default; }
    .pagination-wrapper .center-part a:hover {
      color: #fff;
      background-color: #0b819f; }
    .pagination-wrapper .center-part a.active {
      color: #fff;
      background-color: #0b819f;
      cursor: default; }
  .pagination-wrapper .right-part {
    display: inline-block;
    width: 10%;
    text-align: right;
    float: right;
    min-height: 1px; }
    .pagination-wrapper .right-part a {
      position: absolute;
      right: 0;
      text-decoration: none;
      display: block;
      width: 8px;
      height: 14px;
      background: url(../img/pic_pagination_arr.png) -8px top no-repeat;
      margin-top: 2px; }

/*status*/
span.status {
  display: none;
  font-size: 13px; }

span.status.active {
  display: block; }

span.status-green {
  color: #62b100; }

span.status-green:before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  background-color: #62b100;
  border-radius: 50%; }

span.status-orange {
  color: #ed7f2e; }

span.status-orange:before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  background-color: #ed7f2e;
  border-radius: 50%; }

/*special-offers*/
#special-offers .product-cards-list {
  margin: 20px auto; }

/*good card min*/
.product-card-min {
  background-color: #fff;
  position: relative;
  border-radius: 2px;
  height: 480px;
  margin-bottom: 30px;
  vertical-align: top; }
  .product-card-min .top-row {
    height: 35px; }
    .product-card-min .top-row span.discount {
      display: none;
      position: absolute;
      top: 10px;
      left: 10px;
      height: 25px;
      line-height: 25px;
      background-color: #ecb835;
      border-radius: 4px;
      padding: 0 10px;
      color: #fff;
      font-weight: 700;
      font-size: 20px; }
    .product-card-min .top-row span.discount.active {
      display: block; }
    .product-card-min .top-row span.status {
      position: absolute;
      top: 15px;
      right: 10px; }
  .product-card-min .img {
    position: relative;
    width: 100%;
    height: 295px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ebf2f5;
    z-index: 0; }
    .product-card-min .img img {
      width: auto;
      max-width: 100%;
      max-height: 260px;
      display: block;
      margin: 0 auto;
      float: none;
      z-index: 0; }
  .product-card-min .description-box {
    height: 150px;
    padding: 10px 20px;
    text-align: center; }
    .product-card-min .description-box .product-name-wrapper {
      overflow: hidden;
      max-height: 70px;
      margin-bottom: 15px;
      text-align: center; }
      .product-card-min .description-box .product-name-wrapper span.product-name {
        /* display: block; */
        font-family: 'Exo 2', sans-serif;
        font-weight: 900;
        font-size: 15px;
        line-height: 1.5; }
    .product-card-min .description-box span.product-description {
      display: block;
      font-size: 14px;
      font-style: italic;
      color: #a6b2ba;
      max-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 10px; }
    .product-card-min .description-box span.cost {
      padding: 10px;
      font-size: 15px;
      font-weight: 700; }
      .product-card-min .description-box span.cost span {
        font-size: 12px;
        font-weight: 300;
        font-weight: 700; }
  .product-card-min a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
    background: transparent url(../img/transparent-mask.png) repeat 0 0;
    /*fix for ie10*/ }

.product-card-min:hover {
  box-shadow: 0 0 0 2px #5c99af; }
  .product-card-min:hover .description-box span.product-name {
    /* text-decoration: underline; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.4); }

/* @media (min-width: 992px) and (max-width: 1199px) {
    .product-card-min {
        height: 510px;
    }
} */
/*contacts*/
#contacts .contacts-wrapper {
  padding: 25px;
  /*
  .main-phones {
      span.phone {
          margin-right: 20px;
      }
  } */ }
  #contacts .contacts-wrapper .info-row > div {
    margin-bottom: 35px; }
  #contacts .contacts-wrapper .info-row .select_city {
    position: relative;
    display: inline-block;
    width: 70px;
    color: #000;
    cursor: pointer;
    margin-left: 10px; }
    #contacts .contacts-wrapper .info-row .select_city div.select_opt_city {
      position: absolute;
      display: none;
      width: 70px;
      top: 31px;
      left: -1px;
      z-index: 3;
      background-color: #fff;
      border-top: none;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      #contacts .contacts-wrapper .info-row .select_city div.select_opt_city a {
        display: block;
        font-size: 14px;
        padding: 5px 8px;
        color: #1a1a1a;
        text-decoration: none;
        border-bottom: 1px solid #fff; }
      #contacts .contacts-wrapper .info-row .select_city div.select_opt_city a:last-child {
        border: none; }
      #contacts .contacts-wrapper .info-row .select_city div.select_opt_city a:hover,
      #contacts .contacts-wrapper .info-row .select_city div.select_opt_city a.active {
        background-color: #269ab1;
        color: #fff; }
  #contacts .contacts-wrapper .info-row .adress-box #cityTab {
    display: none; }
  #contacts .contacts-wrapper .info-row .adress-box form {
    display: inline-block; }
    #contacts .contacts-wrapper .info-row .adress-box form .bootstrap-select.form-control:not([class*="col-"]) {
      width: 150px; }
    #contacts .contacts-wrapper .info-row .adress-box form .btn {
      border-color: #e8e8e8; }
  @media (max-width: 768px) {
    #contacts .contacts-wrapper .info-row > div {
      margin-bottom: 15px; } }
  #contacts .contacts-wrapper span.contact-row-name {
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    font-size: 14px; }
  #contacts .contacts-wrapper p {
    font-size: 12px; }
  #contacts .contacts-wrapper .phones-row {
    /* span.phone {
        display: inline-block;
        font-size: 12px;
        color: #1a1a1a;
        font-weight: 700;
        margin-bottom: 10px;
        span.code {
            color: #758792;
            font-weight: 400;
        }
    } */ }
    #contacts .contacts-wrapper .phones-row .one-phone {
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 30px;
      font-size: 12px; }
      #contacts .contacts-wrapper .phones-row .one-phone span.phone {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 12px; }
        #contacts .contacts-wrapper .phones-row .one-phone span.phone span.code {
          font-weight: 400;
          color: #758792;
          font-size: 12px; }
      #contacts .contacts-wrapper .phones-row .one-phone span.phone:after {
        content: '';
        display: inline-block;
        width: 11px;
        height: 11px;
        margin-left: 5px;
        vertical-align: top; }
    @media (max-width: 1200px) {
      #contacts .contacts-wrapper .phones-row .one-phone {
        margin-right: 3px; }
        #contacts .contacts-wrapper .phones-row .one-phone span.phone:after {
          margin-left: 3px; } }
    #contacts .contacts-wrapper .phones-row .one-phone.mts span.phone:after {
      background: url(../img/pic_phone_ico.png) no-repeat; }
    #contacts .contacts-wrapper .phones-row .one-phone.velcom span.phone:after {
      background: url(../img/pic_phone_ico.png) left -11px no-repeat; }
    #contacts .contacts-wrapper .phones-row .one-phone.life span.phone:after {
      background: url(../img/pic_phone_ico.png) left -22px no-repeat; }
    #contacts .contacts-wrapper .phones-row .one-phone.btc span.phone:after {
      background: url(../img/pic_btc.png) no-repeat; }
    @media (max-width: 768px) {
      #contacts .contacts-wrapper .phones-row .one-phone {
        margin: 0 20px 10px 0; }
        #contacts .contacts-wrapper .phones-row .one-phone span.phone:after {
          margin-left: 5px; } }
  #contacts .contacts-wrapper .map {
    height: 290px; }

/*basket*/
.text-center-to-left {
  text-align: center; }

.text-center-to-right {
  text-align: center; }

@media (max-width: 991px) {
  .text-center-to-left {
    text-align: left; }

  .text-center-to-right {
    text-align: right; } }
/*white*/
/*grey*/
#basket-step-1 .basket-list-title-row,
#basket-step-2 .basket-list-title-row {
  border-bottom: 1px solid #ebf1f4;
  margin: 0; }
  #basket-step-1 .basket-list-title-row span,
  #basket-step-2 .basket-list-title-row span {
    font-weight: 700; }
  #basket-step-1 .basket-list-title-row > div,
  #basket-step-2 .basket-list-title-row > div {
    padding: 20px; }
@media (max-width: 991px) {
  #basket-step-1 .basket-list-title-row,
  #basket-step-2 .basket-list-title-row {
    display: none; } }
#basket-step-1 .group-checkboxes,
#basket-step-2 .group-checkboxes {
  margin-top: 5px; }
#basket-step-1 .one-product,
#basket-step-2 .one-product {
  border-bottom: 1px solid #ebf1f4;
  margin: 0;
  padding-bottom: 20px; }
  #basket-step-1 .one-product > div,
  #basket-step-2 .one-product > div {
    padding: 20px 20px 0 20px; }
    #basket-step-1 .one-product > div img,
    #basket-step-2 .one-product > div img {
      max-width: 50px;
      width: 100%;
      vertical-align: top;
      float: left;
      margin: 0 10px 0 0; }
    #basket-step-1 .one-product > div a.show-product-popup,
    #basket-step-2 .one-product > div a.show-product-popup {
      text-decoration: none;
      display: block;
      font-size: 15px; }
      #basket-step-1 .one-product > div a.show-product-popup span,
      #basket-step-2 .one-product > div a.show-product-popup span {
        border-bottom: 1px dotted #269ab1;
        line-height: 1.5;
        font-family: 'Exo 2', sans-serif;
        font-weight: 900; }
    #basket-step-1 .one-product > div a.show-product-popup:hover span,
    #basket-step-2 .one-product > div a.show-product-popup:hover span {
      border: none; }
    #basket-step-1 .one-product > div span,
    #basket-step-2 .one-product > div span {
      font-size: 14px; }
    #basket-step-1 .one-product > div input[type="button"].delete-product,
    #basket-step-2 .one-product > div input[type="button"].delete-product {
      display: block;
      margin-top: 20px;
      border: 1px solid #ecf1f4;
      color: #808c91;
      font-size: 13px;
      padding: 6px 13px 6px 26px;
      border-radius: 4px;
      /* margin-left: 60px; */
      background: url(../img/x-del.png) 13px center no-repeat, #fdfefe;
      background: url(../img/x-del.png) 13px center no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#fdfefe), to(#f8fafa));
      background: url(../img/x-del.png) 13px center no-repeat, -webkit-linear-gradient(#fdfefe, #f8fafa);
      background: url(../img/x-del.png) 13px center no-repeat, -moz-linear-gradient(#fdfefe, #f8fafa);
      background: url(../img/x-del.png) 13px center no-repeat, -o-linear-gradient(#fdfefe, #f8fafa);
      background: url(../img/x-del.png) 13px center no-repeat, -ms-linear-gradient(#fdfefe, #f8fafa); }
    #basket-step-1 .one-product > div input[type="button"].delete-product:before,
    #basket-step-2 .one-product > div input[type="button"].delete-product:before {
      content: 'X';
      display: inline-block; }
    #basket-step-1 .one-product > div input[type="button"].delete-product:hover,
    #basket-step-2 .one-product > div input[type="button"].delete-product:hover {
      border-color: #808c91; }
    #basket-step-1 .one-product > div input[type="button"].delete-product:active,
    #basket-step-2 .one-product > div input[type="button"].delete-product:active {
      border-color: #808c91;
      color: #505e65;
      background: url(../img/x-del.png) 13px center no-repeat, #f8fafa;
      background: url(../img/x-del.png) 13px center no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#f8fafa), to(#fdfefe));
      background: url(../img/x-del.png) 13px center no-repeat, -webkit-linear-gradient(#f8fafa, #fdfefe);
      background: url(../img/x-del.png) 13px center no-repeat, -moz-linear-gradient(#f8fafa, #fdfefe);
      background: url(../img/x-del.png) 13px center no-repeat, -o-linear-gradient(#f8fafa, #fdfefe);
      background: url(../img/x-del.png) 13px center no-repeat, -ms-linear-gradient(#f8fafa, #fdfefe); }
  #basket-step-1 .one-product .number-of-product input[type="button"],
  #basket-step-2 .one-product .number-of-product input[type="button"] {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid #ecf1f4;
    background: #fdfefe;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfefe), to(#f8fafa));
    background: -webkit-linear-gradient(#fdfefe, #f8fafa);
    background: -moz-linear-gradient(#fdfefe, #f8fafa);
    background: -o-linear-gradient(#fdfefe, #f8fafa);
    background: -ms-linear-gradient(#fdfefe, #f8fafa); }
  #basket-step-1 .one-product .number-of-product input[type="button"]:hover,
  #basket-step-2 .one-product .number-of-product input[type="button"]:hover {
    border-color: #808c91; }
  #basket-step-1 .one-product .number-of-product input[type="button"]:active,
  #basket-step-2 .one-product .number-of-product input[type="button"]:active {
    border-color: #808c91;
    color: #505e65;
    background: #f8fafa;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8fafa), to(#fdfefe));
    background: -webkit-linear-gradient(#f8fafa, #fdfefe);
    background: -moz-linear-gradient(#f8fafa, #fdfefe);
    background: -o-linear-gradient(#f8fafa, #fdfefe);
    background: -ms-linear-gradient(#f8fafa, #fdfefe); }
  #basket-step-1 .one-product .number-of-product input[type="button"]:disabled,
  #basket-step-2 .one-product .number-of-product input[type="button"]:disabled {
    opacity: 0.8; }
  #basket-step-1 .one-product .number-of-product input[type="button"]:disabled:hover,
  #basket-step-2 .one-product .number-of-product input[type="button"]:disabled:hover {
    border: 1px solid #ecf1f4; }
  #basket-step-1 .one-product .number-of-product input[type="text"],
  #basket-step-2 .one-product .number-of-product input[type="text"] {
    display: inline-block;
    padding: 0;
    width: 40px;
    border: none;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px; }
  #basket-step-1 .one-product .additional-service > .custom_check:last-child,
  #basket-step-2 .one-product .additional-service > .custom_check:last-child {
    border-top: 1px dotted #ebf1f4;
    padding-top: 20px; }
  #basket-step-1 .one-product .cost-col span,
  #basket-step-2 .one-product .cost-col span {
    font-weight: 700; }
  #basket-step-1 .one-product .slope-param,
  #basket-step-2 .one-product .slope-param {
    display: none;
    border-top: 1px dotted #ebf1f4;
    /* border-bottom: 1px dotted #ebf1f4; */
    margin: -10px 0 20px;
    padding: 20px 30px 10px; }
  #basket-step-1 .one-product .slope-param.active,
  #basket-step-2 .one-product .slope-param.active {
    display: block; }
    #basket-step-1 .one-product .slope-param.active .custom_check,
    #basket-step-2 .one-product .slope-param.active .custom_check {
      display: inline-block;
      margin-right: 30px; }
    #basket-step-1 .one-product .slope-param.active .custom_check:last-child,
    #basket-step-2 .one-product .slope-param.active .custom_check:last-child {
      margin-bottom: 0; }
    #basket-step-1 .one-product .slope-param.active .floor-box label,
    #basket-step-2 .one-product .slope-param.active .floor-box label {
      display: inline-block;
      margin-right: 5px; }
    #basket-step-1 .one-product .slope-param.active .floor-box input[type="text"],
    #basket-step-2 .one-product .slope-param.active .floor-box input[type="text"] {
      display: inline-block;
      width: 60px;
      text-align: center;
      height: 24px;
      border-radius: 0;
      padding: 0;
      /* border: 1px solid #ebf1f4; */ }
#basket-step-1 .one-product:hover,
#basket-step-2 .one-product:hover {
  box-shadow: 0 -4px 7px -1px rgba(235, 241, 244, 0.5), 0 4px 7px -1px rgba(235, 241, 244, 0.5); }
#basket-step-1 .total-price-row span.total-cost-wrapper,
#basket-step-2 .total-price-row span.total-cost-wrapper {
  font-size: 18px;
  margin-right: 15px;
  font-size: 16px; }
  #basket-step-1 .total-price-row span.total-cost-wrapper #total-cost,
  #basket-step-2 .total-price-row span.total-cost-wrapper #total-cost {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px; }
  #basket-step-1 .total-price-row span.total-cost-wrapper .currency-name,
  #basket-step-2 .total-price-row span.total-cost-wrapper .currency-name {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px; }
#basket-step-1 .total-row > div,
#basket-step-2 .total-row > div {
  padding: 30px 35px; }
  #basket-step-1 .total-row > div a.to-catalogue,
  #basket-step-2 .total-row > div a.to-catalogue {
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    background: url(../img/pic_arr_left.png) left center no-repeat;
    padding-left: 20px;
    display: inline-block;
    text-decoration: none; }
    #basket-step-1 .total-row > div a.to-catalogue span,
    #basket-step-2 .total-row > div a.to-catalogue span {
      border-bottom: 1px solid;
      vertical-align: top; }
  #basket-step-1 .total-row > div a.to-catalogue:focus,
  #basket-step-2 .total-row > div a.to-catalogue:focus {
    color: #269ab1; }
  #basket-step-1 .total-row > div a.to-catalogue:hover span,
  #basket-step-2 .total-row > div a.to-catalogue:hover span {
    border: none; }
  #basket-step-1 .total-row > div span.total-cost-wrapper,
  #basket-step-2 .total-row > div span.total-cost-wrapper {
    font-size: 24px; }
    #basket-step-1 .total-row > div span.total-cost-wrapper #total-cost,
    #basket-step-2 .total-row > div span.total-cost-wrapper #total-cost {
      font-size: 24px;
      font-weight: 700; }
    #basket-step-1 .total-row > div span.total-cost-wrapper .currency-name,
    #basket-step-2 .total-row > div span.total-cost-wrapper .currency-name {
      font-size: 14px;
      font-weight: 700; }
  @media (max-width: 480px) {
    #basket-step-1 .total-row > div span.total-cost-wrapper,
    #basket-step-2 .total-row > div span.total-cost-wrapper {
      font-size: 20px; }
      #basket-step-1 .total-row > div span.total-cost-wrapper #total-cost,
      #basket-step-2 .total-row > div span.total-cost-wrapper #total-cost {
        font-size: 20px;
        font-weight: 700; }
      #basket-step-1 .total-row > div span.total-cost-wrapper .currency-name,
      #basket-step-2 .total-row > div span.total-cost-wrapper .currency-name {
        font-size: 14px;
        font-weight: 700; } }
#basket-step-1 .step-row,
#basket-step-2 .step-row {
  padding-top: 15px; }
  #basket-step-1 .step-row .step-name,
  #basket-step-2 .step-row .step-name {
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    color: #bccdd3;
    display: inline-block;
    line-height: 42px;
    margin-right: 20px;
    white-space: nowrap; }
  #basket-step-1 .step-row a.step-back,
  #basket-step-2 .step-row a.step-back {
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    color: #5bacbf;
    display: inline-block;
    line-height: 42px;
    padding-left: 25px;
    cursor: pointer;
    text-decoration: none;
    background: url(../img/pic_step_back.png) 5px center no-repeat;
    white-space: nowrap; }
  #basket-step-1 .step-row a.step-back:hover,
  #basket-step-2 .step-row a.step-back:hover {
    background: url(../img/pic_step_back.png) left center no-repeat; }
  @media (max-width: 768px) {
    #basket-step-1 .step-row .step-name,
    #basket-step-2 .step-row .step-name {
      font-size: 12px; }
    #basket-step-1 .step-row .step-back,
    #basket-step-2 .step-row .step-back {
      font-size: 12px; } }
  #basket-step-1 .step-row a.next-step,
  #basket-step-2 .step-row a.next-step {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding: 0 50px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    white-space: nowrap; }
  @media (max-width: 767px) {
    #basket-step-1 .step-row a.next-step,
    #basket-step-2 .step-row a.next-step {
      padding: 0 20px;
      width: 100%;
      font-size: 12px; } }

#basket-step-1 .check-control .custom_check {
  position: relative; }
  #basket-step-1 .check-control .custom_check label {
    padding-left: 23px; }
  #basket-step-1 .check-control .custom_check label:before {
    position: absolute;
    left: -18px;
    margin-left: 18px; }

#basket-step-2 .one-product input[type="button"].delete-product {
  display: inline !important;
  margin-left: 0 !important; }
@media (max-width: 992px) {
  #basket-step-2 .one-product input[type="button"].delete-product {
    display: block !important; } }
#basket-step-2 .one-product .additional-service span {
  display: block;
  margin-bottom: 15px; }
  #basket-step-2 .one-product .additional-service span span.add-cost {
    display: inline-block; }
#basket-step-2 span.title_h4 {
  text-transform: none;
  font-size: 15px;
  display: block;
  margin-bottom: 20px; }
#basket-step-2 .pay-row > div span {
  font-size: 14px; }
#basket-step-2 .pay-row .pay-box-wrapper {
  padding: 30px 20px 20px;
  border-bottom: 1px solid #ebf1f4; }
  #basket-step-2 .pay-row .pay-box-wrapper .custom_radio {
    /*display: inline-block;*/
    margin: 10px 30px 20px 0; }
#basket-step-2 .pay-row .pay-box-wrapper.no-border {
  border: none; }
#basket-step-2 .pay-row .pay-box-wrapper-inner {
  display: none;
  padding: 30px 20px;
  border-top: 1px dotted #b9c3cb;
  /* border-bottom: 1px dotted #b9c3cb; */ }
  #basket-step-2 .pay-row .pay-box-wrapper-inner .from-where .param-box {
    margin-top: 20px; }
  #basket-step-2 .pay-row .pay-box-wrapper-inner .from-where .bootstrap-select.form-control:not([class*="col-"]) {
    width: 196px; }
  #basket-step-2 .pay-row .pay-box-wrapper-inner .from-where .calendar {
    width: 118px;
    display: inline-block;
    background: url(../img/pic_calendar.png) right center no-repeat;
    line-height: 28px; }
  @media (max-width: 992px) {
    #basket-step-2 .pay-row .pay-box-wrapper-inner .from-where {
      margin-bottom: 20px; } }
  #basket-step-2 .pay-row .pay-box-wrapper-inner .form-control {
    height: 28px; }
  #basket-step-2 .pay-row .pay-box-wrapper-inner .bootstrap-select.form-control:not([class*="col-"]) {
    width: 160px; }
    #basket-step-2 .pay-row .pay-box-wrapper-inner .bootstrap-select.form-control:not([class*="col-"]) .btn-default {
      border-color: #e8e8e8; }
    #basket-step-2 .pay-row .pay-box-wrapper-inner .bootstrap-select.form-control:not([class*="col-"]) .btn {
      padding: 3px 5px;
      border-radius: 0; }
  #basket-step-2 .pay-row .pay-box-wrapper-inner span.title_h5 {
    display: block;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 15px; }
  #basket-step-2 .pay-row .pay-box-wrapper-inner p {
    font-size: 12px;
    line-height: 1.5;
    color: #8f8f8f; }
#basket-step-2 .param-name {
  display: inline-block;
  margin-right: 10px;
  line-height: 28px; }
#basket-step-2 .inner-delivery .param-box {
  font-size: 14px;
  display: inline-block;
  margin: 10px 15px 10px 0; }
  #basket-step-2 .inner-delivery .param-box input[type="text"] {
    display: inline-block;
    height: 28px;
    width: 45px;
    padding: 2px 5px;
    text-align: center; }
  #basket-step-2 .inner-delivery .param-box input[type="text"].calendar {
    width: 160px;
    text-align: left;
    background: url(../img/pic_calendar.png) right center no-repeat; }
  #basket-step-2 .inner-delivery .param-box .time-wrap {
    display: inline-block; }
  #basket-step-2 .inner-delivery .param-box input[type="text"].time {
    width: 60px; }
#basket-step-2 .inner-delivery .street input[type="text"] {
  width: 160px;
  text-align: left; }
#basket-step-2 .inner-delivery .param-box:last-child {
  margin-right: 0; }
@media (max-width: 400px) {
  #basket-step-2 .inner-delivery .param-box {
    display: block; } }

/*cover from bootstrap-select*/
.bootstrap-select.btn-group .dropdown-menu li {
  margin-bottom: 0;
  display: block;
  list-style-type: none;
  margin-left: 0; }

#basket-step-3 .step-name {
  font-family: 'Exo 2', sans-serif;
  font-weight: 900;
  color: #bccdd3;
  display: inline-block;
  line-height: 42px;
  margin-right: 20px; }
#basket-step-3 a.step-back {
  font-family: 'Exo 2', sans-serif;
  font-weight: 900;
  color: #5bacbf;
  display: inline-block;
  line-height: 42px;
  padding-left: 25px;
  cursor: pointer;
  text-decoration: none;
  background: url(../img/pic_step_back.png) 5px center no-repeat; }
#basket-step-3 a.step-back:hover {
  background: url(../img/pic_step_back.png) left center no-repeat; }
#basket-step-3 .order-placement {
  padding: 20px; }
  #basket-step-3 .order-placement sup {
    color: #ed7f2e;
    top: 0; }
  #basket-step-3 .order-placement span.warning-message {
    display: block;
    font-size: 14px;
    color: #b1b1b1;
    margin-bottom: 30px; }
  #basket-step-3 .order-placement #order-placement-form .form-row {
    margin-bottom: 25px; }
    #basket-step-3 .order-placement #order-placement-form .form-row label {
      display: block;
      font-weight: 700;
      line-height: 25px;
      cursor: pointer; }
    #basket-step-3 .order-placement #order-placement-form .form-row .error {
      border-color: #e69f9f !important;
      -webkit-box-shadow: inset 0 1px 1px rgba(230, 159, 159, 0.075), 0 0 8px rgba(230, 159, 159, 0.6) !important;
      box-shadow: inset 0 1px 1px rgba(230, 159, 159, 0.075), 0 0 8px rgba(230, 159, 159, 0.6) !important; }
    #basket-step-3 .order-placement #order-placement-form .form-row label.error {
      margin-top: 0 !important;
      box-shadow: none !important;
      position: absolute;
      line-height: 1 !important; }
    #basket-step-3 .order-placement #order-placement-form .form-row input.form-control {
      border-radius: 0;
      height: 25px;
      line-height: 25px;
      padding: 5px 10px; }
    #basket-step-3 .order-placement #order-placement-form .form-row textarea {
      height: 144px;
      border-radius: 0;
      padding: 5px 10px;
      margin-bottom: 20px; }
    #basket-step-3 .order-placement #order-placement-form .form-row input[type="submit"] {
      display: inline-block;
      height: 42px;
      line-height: 42px;
      padding: 0 50px;
      font-family: 'Exo 2', sans-serif;
      font-weight: 900;
      color: #fff;
      border-radius: 2px;
      text-transform: uppercase;
      text-decoration: none;
      border: none; }

/* catalogue */
#catalogue .nav-tabs {
  border-bottom: none; }
#catalogue .main-buttons-box {
  margin-bottom: 30px; }
#catalogue .filter-wrapper {
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #fff;
  padding-top: 20px;
  box-shadow: 0 10px 10px -2px #e4f0f0; }
  #catalogue .filter-wrapper .filter-items-row {
    border-bottom: 1px solid #f4f7f9; }
  #catalogue .filter-wrapper .filter-items-row:last-child {
    border: none; }
  #catalogue .filter-wrapper form .divider {
    display: none; }
  #catalogue .filter-wrapper form .dropdown-header {
    background-color: #f8f8f8; }
  #catalogue .filter-wrapper form .dropdown-menu .dropdown-header:first-child {
    display: none; }
  #catalogue .filter-wrapper form input[type="submit"] {
    height: 34px;
    line-height: 34px;
    display: inline-block;
    padding: 0 40px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    margin-right: 20px;
    font-size: 14px; }
  #catalogue .filter-wrapper form input[type="reset"] {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    border: 1px solid #ecf1f4;
    color: #808c91;
    font-size: 13px;
    padding: 0 20px;
    border-radius: 2px;
    background: #fdfefe;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfefe), to(#f8fafa));
    background: -webkit-linear-gradient(#fdfefe, #f8fafa);
    background: -moz-linear-gradient(#fdfefe, #f8fafa);
    background: -o-linear-gradient(#fdfefe, #f8fafa);
    background: -ms-linear-gradient(#fdfefe, #f8fafa); }
  #catalogue .filter-wrapper form input[type="reset"]:hover {
    border-color: #808c91; }
  #catalogue .filter-wrapper form input[type="reset"]:active {
    border-color: #808c91;
    color: #505e65;
    background: #f8fafa;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f8fafa), to(#fdfefe));
    background: -webkit-linear-gradient(#f8fafa, #fdfefe);
    background: -moz-linear-gradient(#f8fafa, #fdfefe);
    background: -o-linear-gradient(#f8fafa, #fdfefe);
    background: -ms-linear-gradient(#f8fafa, #fdfefe); }
  #catalogue .filter-wrapper form .custom_check {
    margin: 5px 0;
    line-height: 26px; }
    #catalogue .filter-wrapper form .custom_check label {
      padding-top: 1px; }
    #catalogue .filter-wrapper form .custom_check label:before {
      top: 3px; }
  #catalogue .filter-wrapper form .ui-cost-wrapper {
    position: relative;
    display: inline-block; }
    #catalogue .filter-wrapper form .ui-cost-wrapper .cost-slider {
      position: relative;
      width: 220px;
      display: inline-block; }
    #catalogue .filter-wrapper form .ui-cost-wrapper span.currency-name {
      display: inline-block;
      font-size: 14px;
      margin-left: 20px; }
    #catalogue .filter-wrapper form .ui-cost-wrapper span.sub-val-min {
      font-size: 12px;
      margin-bottom: 2px; }
      #catalogue .filter-wrapper form .ui-cost-wrapper span.sub-val-min span {
        font-size: 12px;
        display: inline-block;
        margin-left: 3px; }
    #catalogue .filter-wrapper form .ui-cost-wrapper span.sub-val-max {
      font-size: 12px;
      margin-bottom: 2px; }
      #catalogue .filter-wrapper form .ui-cost-wrapper span.sub-val-max span {
        font-size: 12px;
        display: inline-block;
        margin-left: 3px; }
  #catalogue .filter-wrapper a.show-add-filter {
    height: 34px;
    line-height: 34px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    display: inline-block;
    font-size: 15px;
    background: url(../img/pic_add_filter.png) left center no-repeat;
    padding-left: 25px;
    color: #269ab1;
    margin: 10px 0;
    text-decoration: none; }
    #catalogue .filter-wrapper a.show-add-filter span {
      border-bottom: 1px dotted #269ab1; }
  #catalogue .filter-wrapper a.show-add-filter:hover span,
  #catalogue .filter-wrapper a.show-add-filter.active span {
    border: none; }
  @media (max-width: 992px) {
    #catalogue .filter-wrapper a.show-add-filter {
      display: block;
      float: none; } }
  #catalogue .filter-wrapper .main-catalogue-filter {
    padding: 10px 30px; }
    #catalogue .filter-wrapper .main-catalogue-filter .filter-item {
      display: inline-block;
      margin: 10px 20px 10px 0;
      line-height: 34px;
      vertical-align: top; }
      #catalogue .filter-wrapper .main-catalogue-filter .filter-item span.filter-name {
        font-family: 'Exo 2', sans-serif;
        font-weight: 900;
        display: inline-block;
        font-size: 15px;
        margin: 0 10px 10px 0;
        vertical-align: top;
        line-height: 34px; }
      #catalogue .filter-wrapper .main-catalogue-filter .filter-item .bootstrap-select.form-control:not([class*="col-"]) {
        width: 150px;
        font-size: 14px; }
        #catalogue .filter-wrapper .main-catalogue-filter .filter-item .bootstrap-select.form-control:not([class*="col-"]) .btn-default {
          background-color: #e4ecf1;
          border-color: #e4ecf1; }
        #catalogue .filter-wrapper .main-catalogue-filter .filter-item .bootstrap-select.form-control:not([class*="col-"]) span {
          font-size: 14px;
          text-overflow: ellipsis;
          white-space: nowrap; }
    #catalogue .filter-wrapper .main-catalogue-filter .cost-item {
      margin-right: 0; }
      #catalogue .filter-wrapper .main-catalogue-filter .cost-item span.filter-name {
        margin-bottom: 10px !important; }
    #catalogue .filter-wrapper .main-catalogue-filter input[type="submit"],
    #catalogue .filter-wrapper .main-catalogue-filter a.show-add-filter {
      margin-top: 10px;
      margin-bottom: 10px; }
    @media (min-width: 991px) and (max-width: 1199px) {
      #catalogue .filter-wrapper .main-catalogue-filter input[type="submit"] {
        padding: 0 30px; } }
    @media (max-width: 768px) {
      #catalogue .filter-wrapper .main-catalogue-filter input[type="submit"] {
        display: block !important; } }
  #catalogue .filter-wrapper .additional-filter-wrapper {
    display: none;
    box-shadow: 0 4px 10px -2px #f1f9ff inset; }
    #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row {
      padding: 5px 30px;
      border-bottom: 1px solid #f4f7f9; }
      #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row .filter-item {
        display: inline-block;
        margin: 15px 20px 15px 0;
        vertical-align: top; }
        #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row .filter-item .box {
          display: inline-block; }
          #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row .filter-item .box .custom_check {
            display: inline-block;
            margin-right: 20px; }
        #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row .filter-item span.filter-name {
          font-family: 'Exo 2', sans-serif;
          font-weight: 900;
          display: inline-block;
          font-size: 15px;
          margin-right: 10px;
          vertical-align: top;
          line-height: 34px; }
        #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row .filter-item span.sub-name {
          display: inline-block;
          margin: auto 5px;
          font-size: 14px; }
        #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row .filter-item .small-select + .bootstrap-select.form-control:not([class*="col-"]) {
          width: 80px; }
        #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row .filter-item .bootstrap-select.form-control:not([class*="col-"]) {
          width: 150px;
          font-size: 14px; }
          #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row .filter-item .bootstrap-select.form-control:not([class*="col-"]) .btn-default {
            border-color: #e8e8e8; }
          #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row .filter-item .bootstrap-select.form-control:not([class*="col-"]) span {
            font-size: 14px;
            text-overflow: ellipsis;
            white-space: nowrap; }
        #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row .filter-item sup {
          font-size: 12px; }
        @media (max-width: 500px) {
          #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row .filter-item input[type="submit"] {
            margin-bottom: 10px;
            display: block;
            width: 100%; }
          #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row .filter-item input[type="reset"] {
            display: block;
            width: 100%; } }
      #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row .cost-item span.filter-name {
        margin-bottom: 10px; }
    #catalogue .filter-wrapper .additional-filter-wrapper .filter-items-row:last-child {
      border-bottom: none; }
  #catalogue .filter-wrapper .additional-filter-wrapper.active {
    display: block; }
#catalogue .category-wrapper .one-category {
  display: none; }
#catalogue .category-wrapper .one-category.active {
  display: block; }
#catalogue .no-result {
  padding: 30px; }
  #catalogue .no-result span.sorry {
    font-size: 18px; }

/* one tovar */
#one-tovar .main-buttons-box {
  margin-bottom: 30px; }
#one-tovar .similar-goods-slider-wrapper {
  padding: 30px 40px; }
  #one-tovar .similar-goods-slider-wrapper .slide {
    max-width: 270px;
    height: 480px;
    float: left;
    position: relative;
    margin: 0 5px; }
    #one-tovar .similar-goods-slider-wrapper .slide .product-card-min {
      max-width: 270px;
      border: 1px solid #e8e8e8; }
    #one-tovar .similar-goods-slider-wrapper .slide .product-card-min:hover {
      border-color: #269ab1;
      box-shadow: none; }
  @media (max-width: 500px) {
    #one-tovar .similar-goods-slider-wrapper .slide {
      max-width: 100% !important; }
      #one-tovar .similar-goods-slider-wrapper .slide .product-card-min {
        max-width: 100% !important; } }
  #one-tovar .similar-goods-slider-wrapper a#add-product-slide-prev,
  #one-tovar .similar-goods-slider-wrapper a#add-product-slide-next {
    position: absolute;
    display: block;
    width: 9px;
    height: 18px;
    left: 25px;
    top: 50%;
    background: url(../img/pic_alt_slider_arr.png) no-repeat; }
  #one-tovar .similar-goods-slider-wrapper a#add-product-slide-prev:hover {
    background-position: left -18px; }
  #one-tovar .similar-goods-slider-wrapper a#add-product-slide-next {
    left: auto;
    right: 25px;
    background: url(../img/pic_alt_slider_arr.png) -9px top no-repeat; }
  #one-tovar .similar-goods-slider-wrapper a#add-product-slide-next:hover {
    background-position: -9px -18px; }

.product-card {
  margin-bottom: 20px; }
  .product-card .product-slider-wrapper {
    position: relative;
    /* border-right: 2px solid #eef3f6;
    vertical-align: top; */
    padding: 30px 10px 10px 25px; }
    .product-card .product-slider-wrapper #carousel-wrapper {
      padding-bottom: 10px;
      position: relative;
      height: 400px;
      overflow: hidden; }
    .product-card .product-slider-wrapper #carousel, .product-card .product-slider-wrapper #thumbs {
      overflow: hidden; }
    .product-card .product-slider-wrapper #carousel a, .product-card .product-slider-wrapper #carousel img,
    .product-card .product-slider-wrapper #thumbs a, .product-card .product-slider-wrapper #thumbs img {
      display: block;
      float: left; }
    .product-card .product-slider-wrapper #carousel a,
    .product-card .product-slider-wrapper #thumbs a {
      position: relative; }
    .product-card .product-slider-wrapper #carousel a {
      width: 100%;
      height: 400px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .product-card .product-slider-wrapper #carousel a img {
        display: block;
        max-width: 80%;
        width: auto;
        max-height: 380px;
        margin: 0 auto;
        float: none;
        align-items: stretch; }
      .product-card .product-slider-wrapper #carousel a span.zoom {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 18px;
        height: 20px;
        background: url(../img/pic_zoom.png) no-repeat;
        opacity: 0.5; }
    .product-card .product-slider-wrapper #carousel a:hover span.zoom {
      opacity: 1; }
    .product-card .product-slider-wrapper #thumbs-wrapper {
      padding: 20px 40px;
      position: relative;
      height: 140px;
      overflow: hidden; }
      .product-card .product-slider-wrapper #thumbs-wrapper #thumbs {
        height: 100px; }
    .product-card .product-slider-wrapper #thumbs a {
      border: 1px solid #e8e8e8;
      width: 80px;
      height: 100px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .product-card .product-slider-wrapper #thumbs a img {
        max-width: 90%;
        width: auto;
        max-height: 90px;
        display: block;
        margin: 0 auto;
        float: none;
        align-items: stretch; }
    .product-card .product-slider-wrapper #thumbs a:hover, .product-card .product-slider-wrapper #thumbs a.selected {
      border-color: #269ab1; }
    .product-card .product-slider-wrapper #wrapper img#shadow {
      width: 100%;
      position: absolute;
      bottom: 0; }
    .product-card .product-slider-wrapper #prev, .product-card .product-slider-wrapper #next {
      background: url(../img/pic_alt_slider_arr.png) no-repeat;
      display: block;
      width: 9px;
      height: 18px;
      margin-top: -10px;
      position: absolute;
      top: 50%; }
    .product-card .product-slider-wrapper #prev {
      background-position: 0 0;
      left: 10px; }
    .product-card .product-slider-wrapper #next {
      background-position: -9px 0;
      right: 10px; }
    .product-card .product-slider-wrapper #prev:hover {
      background-position: 0 -18px; }
    .product-card .product-slider-wrapper #next:hover {
      background-position: -9px -18px; }
    .product-card .product-slider-wrapper #prev.disabled, .product-card .product-slider-wrapper #next.disabled {
      display: none !important; }
  @media (max-width: 992px) {
    .product-card .product-slider-wrapper {
      padding: 20px 30px; } }
  .product-card .description-wrapper {
    position: relative;
    border-left: 2px solid #eef3f6;
    padding: 10px 30px; }
    .product-card .description-wrapper .status-box {
      padding: 20px 20px 10px 20px; }
    .product-card .description-wrapper h1 {
      line-height: 1.2; }
    .product-card .description-wrapper .set-list {
      display: flex;
      flex-direction: row;
      padding: 0 25px 0 10px;
      margin-bottom: 20px; }
      .product-card .description-wrapper .set-list > div {
        padding: 0; }
      .product-card .description-wrapper .set-list .set-item {
        border: 1px solid #ebf1f4;
        cursor: pointer;
        align-items: stretch; }
        .product-card .description-wrapper .set-list .set-item span.title {
          display: block;
          width: 100%;
          padding: 10px 5px;
          text-align: center;
          border-bottom: 1px solid #ebf1f4;
          font-size: 14px; }
          .product-card .description-wrapper .set-list .set-item span.title span {
            color: #98a8ae;
            border-bottom: 1px dotted #98a8ae;
            font-size: 14px; }
        .product-card .description-wrapper .set-list .set-item ul {
          padding: 5px; }
          .product-card .description-wrapper .set-list .set-item ul li {
            font-size: 14px;
            padding: 8px 0;
            list-style-type: none;
            margin: 0 5px 0 5px; }
          .product-card .description-wrapper .set-list .set-item ul li:before {
            content: '\2014';
            display: inline-block;
            margin-right: 5px; }
      .product-card .description-wrapper .set-list .set-item:hover,
      .product-card .description-wrapper .set-list .set-item.active {
        border-color: #0b819f; }
        .product-card .description-wrapper .set-list .set-item:hover span.title,
        .product-card .description-wrapper .set-list .set-item.active span.title {
          background-color: #0b819f; }
          .product-card .description-wrapper .set-list .set-item:hover span.title span,
          .product-card .description-wrapper .set-list .set-item.active span.title span {
            color: #fff;
            border: none; }
    @media (max-width: 992px) {
      .product-card .description-wrapper .set-list {
        padding: 0 15px; } }
    @media (max-width: 600px) {
      .product-card .description-wrapper .set-list {
        display: block; }
        .product-card .description-wrapper .set-list .set-item {
          margin-bottom: 15px; } }
    .product-card .description-wrapper .nav-tabs {
      border: none; }
    .product-card .description-wrapper .param-set-list {
      /* padding: 0 25px 0 10px; */ }
      .product-card .description-wrapper .param-set-list .param-row {
        margin-bottom: 20px; }
        .product-card .description-wrapper .param-set-list .param-row .param-name span.name-wrap {
          display: block;
          color: #7c8d93;
          height: 18px;
          line-height: 14px;
          background: url(../img/dot_bg.png) left 13px repeat-x;
          font-size: 14px; }
          .product-card .description-wrapper .param-set-list .param-row .param-name span.name-wrap span {
            display: inline-block;
            background-color: #fff;
            font-size: 14px;
            font-weight: 700; }
        @media (max-width: 400px) {
          .product-card .description-wrapper .param-set-list .param-row .param-name span.name-wrap {
            background: none; } }
        .product-card .description-wrapper .param-set-list .param-row .param-name.no-bg span {
          display: block;
          background: none;
          height: auto;
          line-height: 34px; }
        .product-card .description-wrapper .param-set-list .param-row .param-info .bootstrap-select.form-control:not([class*="col-"]) {
          max-width: 250px; }
          .product-card .description-wrapper .param-set-list .param-row .param-info .bootstrap-select.form-control:not([class*="col-"]) .btn {
            border-radius: 0;
            border-color: #ebf1f4; }
          @media (max-width: 1024px) {
            .product-card .description-wrapper .param-set-list .param-row .param-info .bootstrap-select.form-control:not([class*="col-"]) .dropdown-menu {
              left: auto;
              right: 0; } }
          .product-card .description-wrapper .param-set-list .param-row .param-info .bootstrap-select.form-control:not([class*="col-"]) span {
            font-size: 14px; }
        .product-card .description-wrapper .param-set-list .param-row .param-info p, .product-card .description-wrapper .param-set-list .param-row .param-info span {
          font-size: 14px;
          line-height: 1.3; }
        .product-card .description-wrapper .param-set-list .param-row p, .product-card .description-wrapper .param-set-list .param-row span {
          font-size: 14px;
          line-height: 1.5; }
        @media (max-width: 400px) {
          .product-card .description-wrapper .param-set-list .param-row .col-xs-6 {
            width: 100%; } }
      .product-card .description-wrapper .param-set-list .total-cost-row {
        margin: 0; }
        .product-card .description-wrapper .param-set-list .total-cost-row .total-cost {
          padding: 30px 0;
          border-top: 1px solid #e8e8e8; }
          .product-card .description-wrapper .param-set-list .total-cost-row .total-cost span.cost-name {
            display: inline-block;
            font-size: 24px; }
          .product-card .description-wrapper .param-set-list .total-cost-row .total-cost span.cost {
            display: inline-block;
            font-size: 24px;
            font-weight: 700; }
            .product-card .description-wrapper .param-set-list .total-cost-row .total-cost span.cost span {
              font-size: 14px;
              font-weight: 700; }
    .product-card .description-wrapper a.add-to-basket {
      display: inline-block;
      text-decoration: none;
      border-radius: 2px;
      padding: 0 20px;
      margin-bottom: 30px; }
      .product-card .description-wrapper a.add-to-basket span.text {
        position: relative;
        text-transform: uppercase;
        height: 40px;
        line-height: 40px;
        letter-spacing: 1px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 900;
        color: #fff;
        display: inline-block;
        font-size: 14px; }
      .product-card .description-wrapper a.add-to-basket span.img {
        display: inline-block;
        vertical-align: top;
        width: 22px;
        height: 22px;
        background: url(../img/pic_add_to_basket.png) no-repeat;
        margin-top: 8px; }
    @media (max-width: 767px) {
      .product-card .description-wrapper a.add-to-basket {
        padding: 0 10px; }
        .product-card .description-wrapper a.add-to-basket span.text {
          font-size: 12px; } }
  @media (max-width: 992px) {
    .product-card .description-wrapper {
      border: none; } }

/*color_select*/
.color-select-box {
  display: inline-block; }
  .color-select-box .select-color {
    position: relative;
    display: inline-block;
    color: #000;
    cursor: pointer; }
    .color-select-box .select-color span.selected {
      border: 1px solid #e8e8e8;
      display: block;
      height: 34px;
      position: relative;
      padding: 6px 27px 6px 10px;
      border-radius: 2px;
      white-space: nowrap; }
      .color-select-box .select-color span.selected a {
        text-decoration: none; }
      .color-select-box .select-color span.selected span.color {
        display: inline-block;
        width: 30px;
        height: 20px;
        border: 1px solid #e8e8e8;
        margin-right: 5px; }
      .color-select-box .select-color span.selected span.color-name {
        display: inline-block;
        line-height: 20px;
        font-size: 14px;
        vertical-align: top;
        color: #212121; }
    .color-select-box .select-color span.selected:hover {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    .color-select-box .select-color span.caret {
      position: absolute;
      top: 15px;
      right: 10px; }
    .color-select-box .select-color .select-opt-color {
      position: absolute;
      display: none;
      top: 36px;
      left: 0;
      z-index: 200;
      background-color: #fff;
      border-radius: 2px;
      max-height: 250px;
      overflow: hidden;
      overflow-y: auto;
      box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.3);
      border: 1px solid #e8e8e8; }
      .color-select-box .select-color .select-opt-color a {
        display: block;
        padding: 10px 15px;
        font-size: 14px;
        text-decoration: none;
        border-bottom: 1px solid #e8e8e8;
        white-space: nowrap; }
        .color-select-box .select-color .select-opt-color a span.color {
          border: 1px solid #e8e8e8;
          border-radius: 2px;
          display: inline-block;
          width: 30px;
          height: 20px;
          margin-right: 10px; }
        .color-select-box .select-color .select-opt-color a span.color-name {
          display: inline-block;
          line-height: 20px;
          font-size: 14px;
          vertical-align: top;
          color: #212121; }
      .color-select-box .select-color .select-opt-color a:last-child {
        border: none; }
      .color-select-box .select-color .select-opt-color a:hover span.color {
        transform: scale(1.1); }

#index-page .mosaic-button-row {
  display: block; }

/*mosaic button*/
.mosaic-button-row {
  display: none; }
  .mosaic-button-row .button-wrapper {
    position: relative;
    width: 100%;
    height: 11px;
    border: 2px solid #cde5ec;
    border-top: none;
    margin: 30px auto 60px; }
    .mosaic-button-row .button-wrapper a {
      position: absolute;
      width: 230px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border: 2px solid #cde5ec;
      left: 50%;
      margin-left: -115px;
      top: 50%;
      margin-top: -23px;
      color: #a3d8e3;
      font-family: 'Exo 2', sans-serif;
      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;
      /* box-sizing: content-box; */
      background: url(../img/btn_l_t_bg.png) left top no-repeat, url(../img/btn_r_t_bg.png) right top no-repeat, url(../img/btn_l_b_bg.png) left bottom no-repeat, url(../img/btn_r_b_bg.png) right bottom no-repeat, #f1f7f9; }
      .mosaic-button-row .button-wrapper a span {
        border-bottom: 1px dotted #cde5ec;
        font-size: 12px; }
    .mosaic-button-row .button-wrapper a:hover {
      color: #5c99af; }
      .mosaic-button-row .button-wrapper a:hover span {
        border-bottom: 1px dotted #5c99af; }

/* bottom buttons */
a.main_btn {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  display: table;
  border-radius: 2px; }
  a.main_btn span.img {
    position: absolute;
    left: 0;
    top: 0; }
  a.main_btn span.text {
    position: relative;
    padding-left: 25px;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 16px; }

a.thank {
  background-color: #4a809c; }
  a.thank span.img {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/pic_bottom_buttons.png) no-repeat; }

a.complain {
  background-color: #d47e37; }
  a.complain span.img {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/pic_bottom_buttons.png) left -18px no-repeat; }

a.advice {
  background-color: #68af92; }
  a.advice span.text {
    padding-left: 30px; }
    a.advice span.text span.img {
      display: inline-block;
      width: 22px;
      height: 20px;
      background: url(../img/pic_bottom_buttons.png) left -36px no-repeat; }

a.ask {
  background-color: #b0472e; }
  a.ask span.img {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/pic_bottom_buttons.png) left -56px no-repeat;
    top: -1px; }

a.thank:hover {
  background-color: #5593b3; }

a.complain:hover {
  background-color: #f0a262; }

a.advice:hover {
  background-color: #7bc8a8; }

a.ask:hover {
  background-color: #d16c54; }

/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 374px; }
  footer .bottom-buttons {
    height: 115px;
    /* background: #d9e4ea url(../img/main_bg.png) center top repeat-y; */ }
  @media (max-width: 992px) {
    footer .bottom-buttons {
      height: 200px; } }
  @media (max-width: 767px) {
    footer .bottom-buttons {
      height: 360px; } }
  @media (max-width: 480px) {
    footer .bottom-buttons {
      height: 360px; } }
  footer .main-footer {
    background: #fff url(../img/footer_bg.png) 34% 10px no-repeat;
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.2) inset;
    font-size: 12px;
    padding: 40px 0 20px; }
    footer .main-footer .general-information {
      margin-bottom: 20px; }
      footer .main-footer .general-information p {
        font-size: 12px;
        line-height: 1.5; }
      footer .main-footer .general-information span.copy {
        color: #269ab1; }
    footer .main-footer .phone-block {
      margin-bottom: 10px; }
      footer .main-footer .phone-block span.name {
        display: block;
        margin-bottom: 10px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 800;
        font-size: 14px; }
      footer .main-footer .phone-block .one-phone {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 50px; }
        footer .main-footer .phone-block .one-phone span.phone {
          font-family: 'Roboto', sans-serif;
          font-weight: 700;
          font-size: 12px; }
          footer .main-footer .phone-block .one-phone span.phone span.code {
            font-weight: 400;
            color: #758792;
            font-size: 12px; }
        footer .main-footer .phone-block .one-phone span.phone:after {
          content: '';
          display: inline-block;
          width: 11px;
          height: 11px;
          margin-left: 5px;
          vertical-align: top; }
      @media (max-width: 1200px) {
        footer .main-footer .phone-block .one-phone {
          margin-right: 15px; } }
      footer .main-footer .phone-block .one-phone.mts span.phone:after {
        background: url(../img/pic_phone_ico.png) no-repeat; }
      footer .main-footer .phone-block .one-phone.velcom span.phone:after {
        background: url(../img/pic_phone_ico.png) left -11px no-repeat; }
      footer .main-footer .phone-block .one-phone.life span.phone:after {
        background: url(../img/pic_phone_ico.png) left -22px no-repeat; }
      footer .main-footer .phone-block .one-phone.btc span.phone:after {
        background: url(../img/pic_btc.png) no-repeat; }
    footer .main-footer .pay-info p {
      font-size: 12px;
      line-height: 1.5; }
    footer .main-footer .search-row {
      margin-bottom: 20px; }
      footer .main-footer .search-row input[type="search"] {
        box-sizing: border-box;
        height: 30px;
        line-height: 30px;
        border-radius: 2px;
        padding-left: 30px;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis; }
      footer .main-footer .search-row input[type="button"] {
        position: absolute;
        left: 18px;
        top: 3px;
        border: none;
        background-color: #fff;
        display: block;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background: url(../img/pic_search.png) center center no-repeat;
        color: transparent; }
    footer .main-footer .copyright-block {
      text-align: right; }
      footer .main-footer .copyright-block a {
        display: block;
        width: 160px;
        text-align: left;
        padding-left: 35px;
        margin-top: 20px;
        background: url(../img/pic_jlab.png) no-repeat;
        color: #8e8e8e;
        text-decoration: none;
        line-height: 1.3;
        font-size: 12px; }
      footer .main-footer .copyright-block a span {
        font-size: 12px;
        color: #000;
        text-decoration: underline; }
      footer .main-footer .copyright-block a:hover span {
        text-decoration: none; }

@media (max-width: 992px) {
  footer {
    height: 740px; } }
@media (max-width: 767px) {
  footer {
    height: 890px; } }
@media (max-width: 480px) {
  footer {
    height: 890px; } }
/*popups*/
.modal {
  background-color: rgba(70, 100, 100, 0.5); }
  .modal button.close {
    display: block;
    width: 19px;
    height: 19px;
    background: url(../img/x_close.png) no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.8; }
  .modal button.close:hover {
    opacity: 1; }
  .modal .min-popup {
    max-width: 440px; }
    .modal .min-popup .modal-header {
      padding: 15px 50px; }
    .modal .min-popup .modal-body {
      padding: 0 50px 40px 50px; }
    @media (max-width: 767px) {
      .modal .min-popup .modal-header {
        padding: 15px 15px; }
      .modal .min-popup .modal-body {
        padding: 0 15px 20px 15px; } }
  .modal .mid-popup {
    max-width: 640px; }
    .modal .mid-popup .modal-header {
      padding: 15px 50px; }
    .modal .mid-popup .modal-body {
      padding: 0 50px 40px 50px; }
  .modal .big-popup {
    max-width: 1200px;
    width: auto !important; }
  .modal .modal-content {
    /**/ }
    .modal .modal-content form span.warning-message {
      display: block;
      font-size: 14px;
      color: #b1b1b1;
      margin-bottom: 30px; }
    .modal .modal-content form sup {
      top: 0em;
      font-size: 15px;
      color: #ed7f2e; }
    .modal .modal-content form label {
      display: block;
      margin-bottom: 10px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 15px; }
    .modal .modal-content form input[type="text"],
    .modal .modal-content form textarea {
      display: block;
      margin-bottom: 25px; }
    .modal .modal-content form input[type="text"].error,
    .modal .modal-content form textarea.error {
      border-color: #e69f9f !important;
      -webkit-box-shadow: inset 0 1px 1px rgba(230, 159, 159, 0.075), 0 0 8px rgba(230, 159, 159, 0.6) !important;
      box-shadow: inset 0 1px 1px rgba(230, 159, 159, 0.075), 0 0 8px rgba(230, 159, 159, 0.6) !important; }
    .modal .modal-content form textarea {
      height: 150px; }
    .modal .modal-content form a.main_btn {
      margin-bottom: 0; }
    .modal .modal-content .ok {
      display: none;
      padding: 40px 0; }

/* product-detail-popup */
/* .modal-dialog {
    padding: 0 !important;
} */
.prod-popup,
#product-detail-popup {
  display: block;
  height: 0; }
  .prod-popup .modal-dialog,
  #product-detail-popup .modal-dialog {
    margin: 50px auto !important; }
  .prod-popup .modal-header,
  #product-detail-popup .modal-header {
    height: 0 !important; }
    .prod-popup .modal-header button,
    #product-detail-popup .modal-header button {
      z-index: 2; }
  .prod-popup .modal-body,
  #product-detail-popup .modal-body {
    padding: 0 !important;
    margin-top: -30px; }
  .prod-popup .product-card,
  #product-detail-popup .product-card {
    border-bottom: 2px solid #e8e8e8; }
  .prod-popup .description-wrapper h1 a,
  #product-detail-popup .description-wrapper h1 a {
    font-size: 26px;
    border-bottom: 2px solid #269ab1; }
  @media (max-width: 1200px) {
    .prod-popup .description-wrapper h1 a,
    #product-detail-popup .description-wrapper h1 a {
      font-size: 20px; } }
  .prod-popup .button-wrapper,
  #product-detail-popup .button-wrapper {
    border: none; }
    .prod-popup .button-wrapper a,
    #product-detail-popup .button-wrapper a {
      width: 250px;
      background: url(../img/btn_l_t_bg.png) left top no-repeat, url(../img/btn_r_t_bg.png) right top no-repeat, url(../img/btn_l_b_bg.png) left bottom no-repeat, url(../img/btn_r_b_bg.png) right bottom no-repeat, #fff;
      text-transform: none; }
      .prod-popup .button-wrapper a span,
      #product-detail-popup .button-wrapper a span {
        font-size: 14px; }

/* delete-ask-popup */
#delete-ask-popup .modal-header {
  text-align: center; }
#delete-ask-popup .modal-body {
  padding-top: 15px;
  text-align: center; }
  #delete-ask-popup .modal-body .yes,
  #delete-ask-popup .modal-body .no {
    background-color: #b0472e;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    color: #fff;
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    margin: 0 10px;
    text-transform: uppercase; }
  @media (max-width: 600px) {
    #delete-ask-popup .modal-body .yes,
    #delete-ask-popup .modal-body .no {
      width: 100%; }
    #delete-ask-popup .modal-body .yes {
      margin-bottom: 20px; } }
  #delete-ask-popup .modal-body .yes:hover {
    background-color: #d16c54; }
  #delete-ask-popup .modal-body .yes:active {
    background-color: #9b341b; }
  #delete-ask-popup .modal-body .no {
    background-color: #5c99af; }
  #delete-ask-popup .modal-body .no:hover {
    background-color: #72b2c9; }
  #delete-ask-popup .modal-body .no:active {
    background-color: #4e899e; }

form input[type="text"].error {
  border: 1px solid #e69f9f !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(230, 159, 159, 0.075), 0 0 8px rgba(230, 159, 159, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(230, 159, 159, 0.075), 0 0 8px rgba(230, 159, 159, 0.6) !important; }
form label.error {
  margin-top: -20px !important;
  font-size: 12px !important;
  font-weight: 300 !important;
  color: #e69f9f !important;
  position: absolute; }

#delivery-form sup {
  color: #8f8f8f;
  top: -4px;
  font-size: 12px; }

@media (max-width: 767px) {
  .modal-title {
    font-size: 21px; } }
#basket-add-popup img {
  display: block;
  max-width: 100%;
  margin: 0 auto; }
@media (max-width: 600px) {
  #basket-add-popup a.button-modal {
    width: 100%; }
    #basket-add-popup a.button-modal span {
      font-size: 12px; } }

.pay-box-wrapper .custom_radio label {font-size: 15px;}
.pay-box-wrapper .custom_radio p {font-size: 13px;}
/*# sourceMappingURL=styles.css.map */



.colections-item-slider-item .showtovar { display: none; }

@media (min-width: 1000px) and (max-width: 1200px)  {
  .colections-list.row > div:nth-child(2n) .colections-item-hover {
    left: auto;
    right: -31px;
  }
  .colections-list.row > div:nth-child(2n) .colections-item-hover .js-left-part {
    float: right;
    padding-left: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .colections-list.row > div:nth-child(3n) .colections-item-hover {
    left: auto;
    right: -31px;
  }
  .colections-list.row > div:nth-child(3n) .colections-item-hover .js-left-part {
    float: right;
    margin-right: 0;
  } 
}

.topmenu-innermenu, .topmenu-innermenu2, .topmenu-innermenu3 { display: none; }
// .header-menu-top .slider-colection { height: 460px; width: 610px !important; height: 460px !important;  }
// .header-menu-top .slider-colection .slick-slide { width: 620px; height: 460px; overflow: hidden;  }
.header-menu-top .slider-colection .item-slid { float: left; }

.header-menu-top { overflow: hidden; }
