.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
.main-h1 h1 {
  font-family: inherit;
  color: #595959;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: none;
}
.text-count-input {
  padding: 3px;
  line-height: 30px;
  max-width: 78px;
  border: 1px solid #d9d9d9;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  color: #4d4d4d;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.text-count-input::-webkit-inner-spin-button,
.text-count-input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
.breadcrumbs {
  background: #f2f6f9;
  font-family: Roboto, sans-serif;
  margin-top: -21px;
}
.breadcrumbs .container {
  padding-top: 13px;
  padding-bottom: 13px;
}
.breadcrumbs ul {
  list-style: none;
  font-size: 0;
}
.breadcrumbs li {
  display: inline-block;
  color: #595959;
  font-size: 14px;
  line-height: 18px;
}
.breadcrumbs li:after {
  content: '/';
  color: #cccccc;
  display: inline-block;
  margin: 0 10px;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.breadcrumbs li:first-child a:after {
  display: none;
}
.breadcrumbs a {
  text-decoration: none;
  color: #808080;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs a:after {
  display: none;
  content: '';
  border: 5px solid transparent;
  border-top-color: #7f7f7f;
  margin-left: 5px;
  margin-bottom: -3px;
}
.zoomWindow {
  top: -1px !important;
  border: 1px solid #d7d7d7 !important;
  margin-left: 20px !important;
}
.rating-wrap {
  font-size: 0;
}
.rating-wrap .glyphicon {
  top: 0;
}
.rating-wrap .glyphicon-star-empty:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background: url("../../images/ico-star.png");
}
.rating-wrap .rating-symbol-foreground:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background: url("../../images/ico-star-active.png");
}
.detail-section-01 {
  background: #fff;
  border-bottom: 50px solid #f2f6f9;
}
.detail-section-01 .container {
  padding-top: 30px;
  padding-bottom: 45px;
}
.detail-section-01 .product-viewer-wrap .prod-photo {
  border: 1px solid #ebebeb;
  margin-bottom: 20px;
  position: relative;
}
.detail-section-01 .product-viewer-wrap .prod-photo img {
  display: inline-block;
}
.detail-section-01 .product-viewer-wrap .prod-photo .mark {
  position: absolute;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}
.detail-section-01 .product-viewer-wrap .prod-photo .mark.gray {
  background-color: rgba(128, 128, 128, 0.7);
}
.detail-section-01 .product-viewer-wrap .prod-photo .mark.green {
  background-color: rgba(0, 169, 0, 0.7);
}
.detail-section-01 .product-viewer-wrap .products-preview ul {
  list-style: none;
  margin-bottom: -30px;
}
.detail-section-01 .product-viewer-wrap .products-preview ul:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
.detail-section-01 .product-viewer-wrap .products-preview a {
  display: block;
  width: 67px;
  height: 67px;
  border: 1px solid #ebebeb;
}
.detail-section-01 .product-viewer-wrap .products-preview a.active {
  border-color: #ed7f2e;
}
.detail-section-01 .product-viewer-wrap .products-preview li {
  margin-bottom: 30px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 30px;
}
.detail-section-01 .product-viewer-wrap .products-preview li:nth-child(4n) {
  margin-right: 0;
}
.detail-section-01 .top-info {
  margin-bottom: 30px;
}
.detail-section-01 .top-info ul {
  list-style: none;
  color: #888888;
}
.detail-section-01 .top-info li {
  margin-bottom: 15px;
}
.detail-section-01 .top-info li:last-child {
  margin-bottom: 0;
}
.detail-section-01 .top-info .paddbot20 {
  padding-bottom: 20px;
}
.detail-section-01 h1 {
  font-family: Roboto, sans-serif;
  margin-bottom: 25px;
  font-weight: 500;
  line-height: 30px;
  color: #595959;
  font-size: 24px;
  text-transform: none;
}
.buy-info {
  margin-left: -30px;
}
.buy-info .buy-head {
  background: #f2f2f2;
  text-align: center;
  padding: 15px 0;
  color: #888888;
  font-size: 12px;
  margin-bottom: 30px;
}
.buy-info .rating-wrap {
  display: inline-block;
  vertical-align: middle;
}
.buy-info .reviews {
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px;
}
.buy-info .view {
  color: #888888;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
}
.buy-info .view:hover {
  color: #ed7f2e;
}
.buy-info .price {
  color: #0f829f;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.buy-info .price span {
  vertical-align: text-top;
}
.buy-info .price .small {
  font-size: 14px;
}
.buy-info .parameters {
  font-size: 0;
  margin-bottom: 20px;
  text-align: justify;
  -ms-text-justify: newspaper;
  text-justify: newspaper;
}
.buy-info .parameters:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.buy-info .parameters .button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #0f829f;
  width: 97px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.buy-info .parameters .button:hover {
  background: #5593b3;
}
.buy-info .units {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
.buy-info .units ul {
  list-style: none;
  display: inline-block;
}
.buy-info .units li {
  display: inline-block;
  color: #888888;
  line-height: 30px;
  font-size: 14px;
  width: 30px;
  text-align: center;
  margin-bottom: 0;
  border-right: 1px solid #d9d9d9;
}
.buy-info .units li:last-child {
  border-right: none;
}
.buy-info .units li.active {
  color: #ee7f2d;
}
.buy-info .buy {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #0f829f;
  font-weight: 500;
}
.buy-info .buy:hover {
  color: #ee7f2d;
}
.buy-info-wrapper {
  border: 1px solid #ebebeb;
}
.buy-info-wrapper .buy-info {
  margin: 15px;
}
.share {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}
.share .old {
  font-size: 12px;
  color: #888888;
  text-decoration: line-through;
}
.share .discount {
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -9px;
  margin-left: 18px;
  font-size: 10px;
  color: #fff;
  background: #cb4629;
  line-height: 18px;
  white-space: nowrap;
  padding: 0 7px;
}
.share .discount:before {
  content: '';
  border: 9px solid transparent;
  border-right-color: #cb4629;
  right: 100%;
  top: 0;
  position: absolute;
}
.jq-number {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 21px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
}
.jq-number__field {
  width: 34px;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  position: relative;
}
.jq-number__field input {
  line-height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 3px;
  border: none;
  outline: none;
  background: none;
  color: #4d4d4d;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 100%;
  background: #f7f7f7;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.jq-number__spin:after {
  content: '+';
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 30px;
}
.jq-number__spin:hover {
  background: #E6E6E6;
}
.jq-number__spin:active {
  background: #F5F5F5;
}
.jq-number__spin.minus {
  right: auto;
  left: 0;
}
.jq-number__spin.minus:after {
  content: '-';
}
.jq-number__spin.minus:hover:after {
  border-top-color: #000;
}
.jq-number__spin .plus:hover:after:hover:after {
  border-bottom-color: #000;
}
.product-description {
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
}
.product-description h4 {
  margin-bottom: 0;
  display: block;
}
.product-description .title {
  display: block;
  padding: 17px 16px;
  color: #595959;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-transform: none;
  position: relative;
}
.product-description .title:after {
  content: '';
  border: 4px solid transparent;
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-top-color: #595959;
  position: absolute;
  right: 19px;
  top: 50%;
  margin-top: -3px;
}
.product-description .title:hover {
  color: #ee7f2d;
}
.product-description .title.active:after {
  border-top-color: transparent;
  border-bottom-color: #595959;
  margin-top: -9px;
}
.product-description .text {
  display: none;
  padding: 5px 16px 20px;
  color: #595959;
}
.product-description .text p {
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 18px;
}
.product-description .text p:last-child {
  margin-bottom: 0;
}
.product-feature h4 {
  color: #595959;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  text-transform: none;
  margin-bottom: 15px;
}
.product-feature table {
  width: 100%;
  font-size: 14px;
}
.product-feature table th,
.product-feature table td {
  padding: 9px 0;
}
.product-feature table td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}
.product-feature table th {
  width: 50%;
  color: #888888;
  overflow: hidden;
}
.product-feature table th span {
  position: relative;
}
.product-feature table th span:after {
  content: '';
  width: 1000px;
  position: absolute;
  border-bottom: 1px dotted #bfbfbf;
  bottom: 3px;
  left: 100%;
  margin-left: 5px;
}
.product-feature table td {
  color: #595959;
}
.products-list {
  background: #fff;
  border-bottom: 50px solid #f2f6f9;
}
.products-list .container {
  padding-top: 28px;
  padding-bottom: 35px;
}
.products-list h3 {
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: none;
}
.products-list h3 a {
  color: #595959;
  vertical-align: top;
}
.products-list h3 a:hover {
  color: #ee7f2d;
}
.products-list h3 .count {
  font-size: 11px;
  color: #d57e37;
  vertical-align: top;
}
.products-list .product-item {
  border: 1px solid #ebebeb;
  position: relative;
}
.products-list .product-item .remove {
  position: absolute;
  width: 12px;
  height: 12px;
  background: url("../../images/ico-close.png") center no-repeat;
  top: 9px;
  right: 9px;
  display: none;
  z-index: 99;
}
.products-list .product-item:hover {
  -webkit-box-shadow: 0 0 10px 1px rgba(255, 165, 0, 0.5);
     -moz-box-shadow: 0 0 10px 1px rgba(255, 165, 0, 0.5);
          box-shadow: 0 0 10px 1px rgba(255, 165, 0, 0.5);
}
.products-list .product-item:hover .remove {
  display: block;
}
.products-list .related-slider,
.products-list .viewed-slider {
  margin: 0 -15px;
}
.products-list .related-slider .slick-prev,
.products-list .viewed-slider .slick-prev,
.products-list .related-slider .slick-next,
.products-list .viewed-slider .slick-next {
  top: -25px;
  right: 15px;
}
.products-list .product-images {
  display: inline-block;
  width: 100%;
}
.products-list .product-images .slick-prev,
.products-list .product-images .slick-next {
  top: 15px;
  right: 15px;
  opacity: 0;
}
.products-list .product-images:hover .slick-prev,
.products-list .product-images:hover .slick-next {
  opacity: 1;
}
.products-list .slide {
  padding: 15px;
}
.products-list .img-wrap {
  height: 210px;
  text-align: center;
  line-height: 210px;
  font-size: 0;
  position: relative;
}
.products-list .img-wrap img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  width: auto !important;
  max-height: 100%;
  height: auto !important;
}
.products-list .img-wrap .mark {
  position: absolute;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  left: 0;
  right: 0;
  bottom: 5px;
}
.products-list .img-wrap .mark.gray {
  background: rgba(128, 128, 128, 0.7);
}
.products-list .img-wrap .discount {
  position: absolute;
  left: 9px;
  top: 9px;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #cb4629;
  color: #fff;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
}
.products-list .text-wrap {
  padding: 20px;
  padding-top: 0;
}
.products-list .text-wrap h5 {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}
.products-list .text-wrap h5 a {
  max-height: 36px;
  overflow: hidden;
  display: inline-block;
  color: #4d4d4d;
}
.products-list .text-wrap h5 a:hover {
  color: #ee7f2d;
}
.products-list .form-wrap-new {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
}
.products-list .rating-wrap {
  margin-bottom: 20px;
}
.products-list .rating-wrap .rating {
  display: inline;
}
.products-list .rating-wrap .count {
  font-size: 12px;
  color: #888888;
  margin-left: 8px;
}
.products-list .price {
  font-size: 24px;
  color: #0f829f;
  font-weight: 500;
  margin-bottom: 8px;
}
.products-list .price .small {
  font-size: 12px;
  vertical-align: top;
}
.viewed-products .img-wrap {
  height: 140px;
  line-height: 140px;
}
.reviews-section {
  background: #fff;
}
.reviews-section .container {
  padding-top: 28px;
  padding-bottom: 60px;
}
.reviews-section h3 {
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-transform: none;
  margin-bottom: 35px;
}
.reviews-section h3 a {
  color: #595959;
  vertical-align: top;
}
.reviews-section h3 a:hover {
  color: #ee7f2d;
}
.reviews-section h3 .count {
  font-size: 11px;
  color: #d57e37;
  vertical-align: top;
}
.reviews-section .review-item {
  margin-bottom: 55px;
}
.reviews-section .author {
  margin-bottom: 15px;
}
.reviews-section .author h5 {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}
.reviews-section .author h5 a {
  color: #4d4d4d;
}
.reviews-section .author h5 a:hover {
  color: #ee7f2d;
}
.reviews-section .author .about {
  font-size: 12px;
  display: inline-block;
  color: #888888;
  margin-left: 18px;
}
.reviews-section .rate {
  margin-bottom: 25px;
}
.reviews-section .rate .number {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  color: #4d4d4d;
  padding: 1px 8px;
  border: 2px solid;
  border-right: none;
  position: relative;
}
.reviews-section .rate .number.orange {
  border-color: #d57e37;
}
.reviews-section .rate .number.orange:before {
  border-left-color: #d57e37;
}
.reviews-section .rate .number.green {
  border-color: #83ca43;
}
.reviews-section .rate .number.green:before {
  border-left-color: #83ca43;
}
.reviews-section .rate .number:before {
  content: '';
  position: absolute;
  left: 100%;
  top: -2px;
  border: 11px solid transparent;
  border-left-width: 7px;
}
.reviews-section .rate .number:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 1px;
  border: 8px solid transparent;
  border-left-width: 5px;
  border-left-color: #fff;
}
.reviews-section .rate ul {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  color: #b2b2b2;
  margin-left: 25px;
}
.reviews-section .rate ul li {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  margin-right: 12px;
}
.reviews-section .text {
  margin-bottom: 25px;
}
.reviews-section .text .item {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 21px;
  color: #888888;
}
.reviews-section .text .item strong {
  display: inline-block;
  font-weight: 500;
  color: #4d4d4d;
  vertical-align: top;
}
.reviews-section .text .item span {
  display: inline-block;
  vertical-align: top;
}
.reviews-section .text .item:last-child {
  margin-bottom: 0;
}
.reviews-section .foot:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
.reviews-section .foot .date {
  float: left;
  font-size: 12px;
  color: #b2b2b2;
}
.reviews-section .likes-block {
  float: right;
}
.reviews-section .likes-block ul {
  list-style: none;
}
.reviews-section .likes-block li {
  display: inline-block;
  margin-left: 10px;
}
.reviews-section .likes-block a {
  text-decoration: none;
  font-size: 12px;
}
.reviews-section .likes-block a:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 5px;
}
.reviews-section .likes-block .dislike {
  color: #f81f1f;
}
.reviews-section .likes-block .dislike:before {
  background-image: url("../../images/ico-dislike.png");
  margin-bottom: -8px;
}
.reviews-section .likes-block .like {
  color: #298800;
}
.reviews-section .likes-block .like:before {
  background-image: url("../../images/ico-like.png");
}
.reviews-section .more {
  display: inline-block;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 7px 25px;
  color: #888888;
}
.reviews-section .more:hover {
  color: #ee7f2d;
}
#scene {
  z-index: -1;
}
header {
  z-index: auto;
}
.main-buttons-box a.active {
  position: relative;
  z-index: 12;
}
.main-buttons-box .but {
  white-space: normal;
}
.popup-menu-bg,
.popup-search-bg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: #000;
  opacity: 0.5;
  display: none;
}
.header-menu-top {
  display: none;
  width: 100%;
  max-width: 1200px;
  z-index: 200;
  position: absolute;
  top: 55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
}
.header-menu-top:before {
  content: '';
  left: -10px;
  right: -10px;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
}
.header-menu-top.plitka {
  border-top: #9b341b solid 2px;
}
.header-menu-top.santekhnika {
  border-top: #68af92 solid 2px;
}
.header-menu-top.vanny {
  border-top: #68af92 solid 2px;
}
.header-menu-top.vanny {
  border-top: #4a809c solid 2px;
}
.header-menu-top.mebel-dlya-vannoy {
  border-top: #d57e37 solid 2px;
}
.header-menu-top .container {
  min-height: 545px;
  padding-top: 30px;
}
.header-menu-top .title-menu {
  color: #0e819f;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 25px;
}
.header-menu-top .title-menu i {
  padding-left: 8px;
  display: inline-block;
}
.header-menu-top .title-menu-hit {
  color: #ee7f2d;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 25px;
}
.header-menu-top .title-menu-hit i {
  padding-left: 8px;
  display: inline-block;
}
.header-menu-top .menu-level {
  display: block;
}
.header-menu-top .menu-level li {
  display: block;
  list-style: none;
  padding-bottom: 15px;
}
.header-menu-top .menu-level li a {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.header-menu-top .menu-level li a:hover {
  color: #ef7f2d;
}
.header-menu-top .menu-level li.active a {
  color: #ef7f2d;
}
.header-menu-top .all-colect a {
  color: #009bb3;
  font-size: 14px;
  font-weight: 400;
}
.header-menu-top .title-colection {
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 500;
  padding-bottom: 20px;
}
.header-menu-top .colection-description {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-bottom: 20px;
  padding-top: 25px;
}
.header-menu-top .bt-show-colection {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #009bb3;
  min-width: 227px;
  height: 34px;
  display: inline-block;
  line-height: 34px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.header-menu-top .bt-show-colection:hover {
  background: #5593b3;
}
.header-menu-top .close-bt {
  position: absolute;
  right: 0;
  top: -20px;
  display: block;
  width: 32px;
  height: 32px;
  background: url("../images/close-bt.png") no-repeat;
}
.slider-colection .slide-block-menu-wrapper {
  margin: 0 -15px;
}
.slider-colection .slick-prev,
.slider-colection .slick-next {
  top: -36px;
}
.slider-colection .item-slid {
  width: 33.33333333%;
  height: 200px;
  overflow: hidden;
  padding: 0 15px;
  margin: 0 0 30px;
  float: left;
  position: relative;
}
.slider-colection .item-slid:hover img {
  -webkit-transition: all 1s ease-out 0.5s;
  -moz-transition: all 1s ease-out 0.5s;
  -o-transition: all 1s ease-out 0.5s;
  transition: all 1s ease-out 0.5s;
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
       -o-transform: scale(1.2);
          transform: scale(1.2);
}
.slider-colection .item-slid .info-block {
  background: rgba(255, 255, 255, 0.6);
  padding: 15px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.slider-colection .item-slid .info-block p {
  line-height: normal;
}
.slider-colection .item-slid .info-block .title-info {
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 500;
  padding-bottom: 15px;
}
.slider-colection .item-slid .info-block .price {
  color: #0f829f;
  font-weight: 500;
  font-size: 18px;
}
.slider-colection .item-slid .info-block .price span {
  vertical-align: top;
  font-size: 10px;
  font-weight: 300;
}
.menu-list-colection {
  max-height: 350px;
  overflow: hidden;
}
.menu-list-colection .title-colection2 {
  color: #888888;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
.menu-list-colection ul {
  display: block;
  max-height: 330px;
  overflow-y: auto;
}
.menu-list-colection ul li {
  list-style: none;
  display: block;
  padding-bottom: 18px;
  position: relative;
}
.menu-list-colection ul li .img-warp {
  border: #ebebeb solid 1px;
  width: 65px;
  display: block;
  float: left;
  min-height: 65px;
  position: relative;
  overflow: hidden;
}
.menu-list-colection ul li .img-warp img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.menu-list-colection ul li .name {
  color: #009bb3;
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-left: 85px;
  padding-top: 10px;
}
.menu-list-colection ul li a:hover .name {
  color: #ef7f2d;
}
.menu-list-colection ul li:after {
  content: '';
  height: 0;
  clear: both;
  display: block;
}
.search-result-block {
  position: fixed;
  width: 90%;
  left: 50%;
  top: 50%;
  display: none;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 90%;
  max-width: 1200px;
  background: #fff;
  z-index: 5001;
  overflow: hidden;
}
.search-result-block .search-close-popup {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 14px;
  height: 14px;
  background: url('../images/close-searh-bt.png') no-repeat;
  cursor: pointer;
  z-index: 20;
  display: block;
}
.search-result-block > div {
  height: 100%;
}
.search-result-block > div > div.container {
  height: 100%;
}
.search-result-block > div > div.container > div.search-result-block-new-row {
  height: 100%;
  padding-bottom: 108px;
}
.search-result-block > div > div.container > div.search-result-block-new-row > div.search-result-block-new-col {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.search-result-block .container {
  padding: 30px 15px;
  overflow: hidden;
}
.search-result-block .products-list.products_list-list {
  overflow: hidden;
}
.search-result-block .title-menu {
  color: #0e819e;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 25px;
}
.search-result-block .title-menu i {
  padding-left: 8px;
  display: inline-block;
}
.search-result-block .menu-level {
  display: block;
}
.search-result-block .menu-level li {
  display: block;
  list-style: none;
  padding-bottom: 15px;
}
.search-result-block .menu-level li a {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.search-result-block .menu-level li a:hover {
  color: #ef7f2d;
}
.search-result-block .menu-level li.active a {
  color: #ef7f2d;
}
.search-result-block form.search-form {
  padding-right: 20px;
  padding-bottom: 40px;
  position: relative;
}
.search-result-block form.search-form input[type="text"] {
  width: 100%;
  height: 38px;
  border: #0f829f solid 1px;
  background: #fff;
  padding: 0 15px;
}
.search-result-block form.search-form .cancel-bt {
  position: absolute;
  right: 14px;
  top: 12px;
  width: 14px;
  height: 14px;
  background: url("../images/close-searh-bt.png") no-repeat;
  cursor: pointer;
  z-index: 20;
  display: block;
}
.notfind-section-e {
  background: #f2f6f9;
  padding: 50px 0;
}
.notfind-section-e .container {
  padding: 50px 0;
  background: #69b9cc;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-align: center;
}
.notfind-section-e .container a,
.notfind-section-e .container a:visited {
  color: #fff;
  text-decoration: underline;
}
@media screen and (min-width: 900px) {
  .posinit {
    position: static;
  }
}
.reklama-footer-section-e {
  padding: 30px 0;
  background: #fff;
  border-bottom: #f2f6f9 solid 50px;
}
.reklama-footer-section-e .title {
  color: #69b9cc;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 25px;
  padding-top: 30px;
}
.reklama-footer-section-e .descript {
  color: #888888;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-bottom: 25px;
}
.reklama-footer-section-e .descript strong {
  color: #4d4d4d;
  font-weight: 400;
}
.reklama-footer-section-e .descript span {
  color: #ed7f2e;
}
.reklama-footer-section-e .bt-show-tovar {
  border: #ebebeb solid 1px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-width: 176px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #888888;
  font-weight: 500;
  display: inline-block;
  text-align: center;
}
.reklama-footer-section-e .bt-show-tovar:hover {
  color: #ee7f2d;
}
.reklama-footer-section-e .foto-tovar {
  width: 100%;
  min-height: 280px;
  padding: 20px;
  border: #ebebeb solid 1px;
  position: relative;
}
.reklama-footer-section-e .foto-tovar .imagestovar {
  position: relative;
  width: 100%;
  height: 180px;
  text-align: center;
}
.reklama-footer-section-e .foto-tovar .imagestovar img {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.reklama-footer-section-e .foto-tovar .discont {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 32px;
  width: 32px;
  height: 32px;
  background: #cb4629;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  display: block;
  color: #fff;
}
.reklama-footer-section-e .foto-tovar .title {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  width: 70%;
  line-height: 16px;
  padding: 0;
  position: relative;
  z-index: 10;
  margin-top: -20px;
  padding-bottom: 10px;
}
.reklama-footer-section-e .foto-tovar .price {
  color: #0f829f;
  font-size: 24px;
  font-weight: 500;
}
.reklama-footer-section-e .foto-tovar .price span {
  font-size: 12px;
  vertical-align: top;
}
.reklama-footer-section-e .foto-tovar .price .oldprice {
  padding-top: 2px;
  text-decoration: line-through;
  font-size: 12px;
  color: #888888;
}
.reklama-footer-section-e .foto-tovar .bt-cart {
  position: absolute;
  right: 19px;
  bottom: 19px;
  width: 64px;
  height: 32px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url("../images/cart-bg.png") no-repeat center center #0f829f;
}
.reklama-footer-section-e .foto-tovar .bt-cart:hover {
  background: url("../images/cart-bg.png") no-repeat center center #5593b3;
}
.about-section-e {
  padding: 30px 0 50px;
  background: #fff;
  color: #888888;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.about-section-e .title {
  color: #595959;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 20px;
}
.categories-section-e {
  background: #fff;
  padding: 30px 0 50px;
}
.categories-section-e .title {
  color: #595959;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 30px;
}
.categories-section-e .title span {
  vertical-align: top;
  color: #ed7f2e;
  font-size: 12px;
}
.categories-list-e {
  padding: 30px;
  background-color: #ededed;
  min-height: 100%;
}
.categories-list-e ul {
  display: block;
}
.categories-list-e ul li {
  list-style: none;
  display: block;
  padding-bottom: 15px;
}
.categories-list-e ul li a,
.categories-list-e ul li a:visited {
  color: #5a5a5a;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.categories-list-e ul li a:hover,
.categories-list-e ul li a:visited:hover {
  color: #ed7f2e;
}
.categories-list-e ul li.active a,
.categories-list-e ul li.active a:visited {
  color: #ed7f2e;
}
.checkbox-e {
  font-size: 14px;
  color: #808080;
  font-weight: 400;
  position: relative;
}
.checkbox-e label {
  padding-left: 27px;
  font-size: 14px;
  color: #808080;
  font-weight: 400;
  background: url("../images/checkbox.png") no-repeat left center;
  min-height: 18px;
  line-height: 18px;
  display: block;
}
.checkbox-e input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.checkbox-e input:checked ~ label {
  background: url("../images/checkbox-active.png") no-repeat left center;
}
.categories-filter-order-e {
  background: #ededed;
  padding: 15px 20px;
  position: relative;
  margin-bottom: 20px;
}
.categories-filter-order-e .instoke {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.categories-filter-order-e:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.categories-filter-order-e .show-list-table {
  float: right;
  height: 32px;
  margin-left: 20px;
}
.categories-filter-order-e .show-list-table span {
  display: block;
  float: left;
  position: relative;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  color: #595959;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}
.categories-filter-order-e .show-list-table span i {
  position: relative;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
}
.categories-filter-order-e .show-list-table span.active {
  border: #b3b3b3 solid 1px;
  color: #808080;
}
.categories-filter-order-e .orderblock {
  float: right;
}
.categories-filter-order-e .orderblock select {
  height: 32px;
  border: #b3b3b3 solid 1px;
  background: #fff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  padding-left: 8px;
  min-width: 222px;
}
.products-list.categories-list-tovar-e {
  border-bottom: none;
}
.products-list.categories-list-tovar-e .description-params {
  display: block;
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  height: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  color: #888;
}
.products-list.categories-list-tovar-e .description-params li {
  display: block;
  font-size: 14px;
  line-height: 20px;
}
.products-list.categories-list-tovar-e .product-item {
  width: 262px;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  border: #ebebeb solid 1px;
  margin-bottom: 30px;
  position: relative;
}
.products-list.categories-list-tovar-e .product-item .img-wrap .mark.green {
  background-color: rgba(0, 169, 0, 0.7);
}
.products-list.categories-list-tovar-e .product-item .button-block {
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  background: #fff;
  border: #ebebeb solid 1px;
  border-top: none;
  z-index: 20;
  padding: 0 19px 19px;
  -webkit-box-shadow: 0 0 10px 1px rgba(255, 165, 0, 0.5);
     -moz-box-shadow: 0 0 10px 1px rgba(255, 165, 0, 0.5);
          box-shadow: 0 0 10px 1px rgba(255, 165, 0, 0.5);
  display: none;
}
.products-list.categories-list-tovar-e .product-item .button-block:before {
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
  background: #fff;
  top: -10px;
  content: "";
}
.products-list .parameters {
  font-size: 0;
  margin-bottom: 20px;
  text-align: justify;
  -ms-text-justify: newspaper;
  text-justify: newspaper;
}
.products-list .parameters:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.products-list .parameters .button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 56px;
  text-indent: -9999px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  background: url("../images/cart-bg.png") no-repeat center center #0f829f;
}
.products-list .parameters .button:hover {
  background: url("../images/cart-bg.png") no-repeat center center #5593b3;
}
.products-list .parameters .button.full {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #0f829f;
  width: 97px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-indent: 0;
  display: inline-block;
  vertical-align: middle;
}
.products-list .parameters .button.full:hover {
  background: #5593b3;
}
.products-list .form-wrap-new .parameters {
  margin-bottom: 0;
}
.products-list .units {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
.products-list .units ul {
  list-style: none;
  display: inline-block;
}
.products-list .units li {
  display: inline-block;
  color: #888888;
  line-height: 30px;
  font-size: 14px;
  width: 30px;
  text-align: center;
  margin-bottom: 0;
  border-right: 1px solid #d9d9d9;
  background: #f7f7f7;
}
.products-list .units li:last-child {
  border-right: none;
  background: none;
}
.products-list .units li.active {
  color: #ee7f2d;
}
.products-list .buy {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  text-align: center;
  line-height: 30px;
  color: #0f829f;
  font-size: 14px;
  font-weight: 500;
}
.products-list .buy:hover {
  color: #ee7f2d;
}
.products-list .product-item:hover .button-block {
  display: block;
}
.buy-one-click form {
  display: none;
  border: #ee7e2d solid 1px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  height: 32px;
  position: relative;
}
.buy-one-click form input[type="text"] {
  position: relative;
  border: none;
  height: 30px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  display: block;
  font-size: 14px;
  padding-left: 8px;
  float: left;
  width: 100%;
  margin-right: -31px;
  padding-right: 31px;
}
.buy-one-click form input[type="submit"] {
  position: relative;
  border: none;
  float: right;
  background: #ee7e2d;
  width: 31px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  z-index: 2;
}
.buy-one-click form .bt-close-one-click {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 42px;
  top: 10px;
  cursor: pointer;
  background: url("../images/close-one-click.png") no-repeat;
}
.buy-one-click.active .buy {
  display: none;
}
.buy-one-click.active form {
  display: block;
}
.show-tovar-col-e {
  border: #d9d9d9 solid 1px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  margin-bottom: 20px;
}
.show-tovar-col-e .select-show {
  width: 140px;
  float: right;
  border-left: #d9d9d9 solid 1px;
}
.show-tovar-col-e .select-show select {
  background: none;
  border: none;
  font-size: 14px;
  color: #888888;
  height: 32px;
  padding-left: 10px;
  width: 140px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.show-tovar-col-e .show {
  margin-right: 141px;
  text-align: center;
  font-size: 14px;
  height: 32px;
  font-weight: 400;
  line-height: 32px;
  color: #888888;
  overflow: hidden;
}
.page-navigation-e ul {
  display: block;
  text-align: center;
}
.page-navigation-e ul li {
  display: inline-block;
  list-style: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  color: #808080;
}
.page-navigation-e ul li:nth-child(1) {
  border: #d9d9d9 solid 1px;
  margin-right: 20px;
}
.page-navigation-e ul li:nth-last-child(1) {
  border: #d9d9d9 solid 1px;
  margin-left: 20px;
}
.page-navigation-e ul li a,
.page-navigation-e ul li a:visited {
  font-size: 14px;
  line-height: 30px;
  color: #808080;
}
.page-navigation-e ul li a:hover {
  color: #4d4d4d;
}
.page-navigation-e ul li.active {
  border: #4d4d4d solid 1px;
}
.page-navigation-e ul li.active a,
.page-navigation-e ul li.active a:visited {
  color: #4d4d4d;
}
.viewed-products.top-border {
  border-bottom: none;
  border-top: 50px solid #f2f6f9;
}
.label-table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
}
.label-item {
  display: inline-block;
  width: 50%;
}
.label-item.first {
  padding-right: 5px;
}
.label-item.last {
  padding-left: 5px;
}
.label-item__table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.label-item__label {
  display: table-cell;
  vertical-align: middle;
  width: 1px;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #4d4d4d;
  white-space: nowrap;
}
.label-item__input {
  display: table-cell;
  vertical-align: middle;
}
.label-item__input input {
  width: 100%;
  padding: 0 7px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.full-filters-e {
  padding: 30px 0;
  background: #ededed;
}
.full-filters-e .block-filter {
  padding: 0 30px 18px;
  margin-bottom: 20px;
  border-bottom: #e6e6e6 solid 1px;
}
.full-filters-e .block-filter .title {
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 600;
  line-height: 18px;
  padding-bottom: 15px;
}
.full-filters-e .block-filter .checkbox-e {
  padding-bottom: 18px;
}
.full-filters-e .block-filter .checkbox-e label {
  line-height: 21px;
  color: #808080;
  font-size: 14px;
  background-position: 0 2px;
}
.full-filters-e .block-filter .checkbox-e:nth-last-child(1) {
  padding-bottom: 0;
}
.full-filters-e .block-filter .tow-input {
  height: 32px;
  border: #d9d9d9 solid 1px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background: #fff;
}
.full-filters-e .block-filter .tow-input input[type="text"] {
  width: 50%;
  border: none;
  background: none;
  padding: 0 7px;
  height: 30px;
  float: left;
  font-size: 14px;
}
.full-filters-e .block-filter .tow-input input[type="text"]:nth-child(1) {
  border-right: #d9d9d9 solid 1px;
}
.full-filters-e .block-filter .select-e {
  background: #ededed;
  border: #d9d9d9 solid 1px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  color: #a0a0a0;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  position: relative;
}
.full-filters-e .block-filter .select-e a {
  display: block;
  text-decoration: none;
  color: #a0a0a0;
}
.full-filters-e .block-filter .select-e a i {
  color: #595959;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.full-filters-e .block-filter .select-e__popup {
  margin-left: 15px;
  position: absolute;
  left: 100%;
  top: -60px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.05);
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 5;
  -webkit-transition: all 0.2s cubic-bezier(0.9, 0.1, 0.1, 0.9);
  -moz-transition: all 0.2s cubic-bezier(0.9, 0.1, 0.1, 0.9);
  -o-transition: all 0.2s cubic-bezier(0.9, 0.1, 0.1, 0.9);
  transition: all 0.2s cubic-bezier(0.9, 0.1, 0.1, 0.9);
  -webkit-transform: translateX(60px);
     -moz-transform: translateX(60px);
      -ms-transform: translateX(60px);
       -o-transform: translateX(60px);
          transform: translateX(60px);
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 991px) {
  .full-filters-e .block-filter .select-e__popup {
    left: 0;
    top: 100%;
    margin-left: 0;
    margin-top: 15px;
    width: 100%;
    -webkit-transform: translate(0, 60px);
       -moz-transform: translate(0, 60px);
        -ms-transform: translate(0, 60px);
         -o-transform: translate(0, 60px);
            transform: translate(0, 60px);
  }
}
.full-filters-e .block-filter .select-e__popup.show-popup {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}
@media (max-width: 991px) {
  .full-filters-e .block-filter .select-e__popup.show-popup {
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.full-filters-e .block-filter .select-e__popup-inner {
  padding: 10px 10px 20px 25px;
}
html.csscolumns .full-filters-e .block-filter .select-e__popup-columns {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
  -webkit-column-width: 150px;
     -moz-column-width: 150px;
          column-width: 150px;
  width: 360px;
}
html.csscolumns .full-filters-e .block-filter .select-e__popup-columns.column_3 {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  width: 540px;
}
html.no-csscolumns .full-filters-e .block-filter .select-e__popup-columns {
  width: 360px;
}
html.no-csscolumns .full-filters-e .block-filter .select-e__popup-columns.column_3 {
  width: 540px;
}
html.no-csscolumns .full-filters-e .block-filter .select-e__popup-columns.column_3 .select-e__popup-item {
  width: 33.33333333%;
}
.full-filters-e .block-filter .select-e__popup-item {
  padding-top: 10px;
}
html.no-csscolumns .full-filters-e .block-filter .select-e__popup-item {
  float: left;
  width: 50%;
}
.full-filters-e .no-border {
  border-bottom: none;
}
.full-filters-e .title2 {
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 25px;
}
.full-filters-e .find-all {
  background: #ee7f2d;
  height: 42px;
  line-height: 42px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}
.full-filters-e .bt-filter-reset {
  border: #d9d9d9 solid 1px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  height: 32px;
  line-height: 32px;
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  display: block;
}
.category-list .item-categor {
  height: 67px;
  border: #ebebeb solid 1px;
  margin-bottom: 20px;
}
.category-list .item-categor .img {
  height: 65px;
  width: 65px;
  display: block;
  float: left;
  position: relative;
}
.category-list .item-categor .img img {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.category-list .item-categor .titles {
  margin-left: 65px;
  margin-right: 45px;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  display: block;
  padding-top: 14px;
  padding-left: 10px;
  line-height: 21px;
}
.category-list .item-categor .coll {
  width: 45px;
  float: right;
  padding-top: 15px;
  color: #ed7f2e;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.category-list .item-categor:hover {
  -webkit-box-shadow: 0 0 10px 1px rgba(255, 165, 0, 0.5);
     -moz-box-shadow: 0 0 10px 1px rgba(255, 165, 0, 0.5);
          box-shadow: 0 0 10px 1px rgba(255, 165, 0, 0.5);
}
.products_list-list.products-list {
  border-bottom: none;
}
.products_list-list .product-item {
  border: none;
  padding-bottom: 35px;
  font-size: 14px;
  color: #888888;
  font-weight: 400;
}
.products_list-list .product-item .img-wrap {
  position: relative;
  height: 163px;
  min-width: 163px;
  border: #ebebeb solid 1px;
}
.products_list-list .product-item .img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.products_list-list .product-item .img-wrap .mark.green {
  background-color: rgba(0, 169, 0, 0.7);
}
.products_list-list .product-item .rating-wrap {
  margin-bottom: 0;
  padding-bottom: 15px;
}
.products_list-list .product-item:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.products_list-list .product-item h5 {
  padding-bottom: 10px;
}
.products_list-list .product-item h5 a {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
.products_list-list .product-item h5 a:hover {
  color: #ef7f2d;
}
.products_list-list .product-item .description {
  font-size: 14px;
  line-height: 16px;
}
.products_list-list .product-item .description p {
  line-height: 20px;
}
.products_list-list .product-item .parameters .button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #0f829f;
  width: 97px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-indent: 0;
  display: inline-block;
  vertical-align: middle;
}
.products_list-list .product-item .parameters .button:hover {
  background: #5593b3;
}
.products_list-list .product-item .parameters .button-new-basket {
  width: 172px;
}
.products_list-list .product-item .parameters .button-cancel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #b3b3b3;
  width: 172px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-indent: 0;
  display: none;
  vertical-align: middle;
}
.products_list-list .product-item .parameters .button-cancel:hover {
  background: #b3b3b3;
}
.products_list-list .product-item .parameters .button-order {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ee7e2d;
  width: 172px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-indent: 0;
  display: none;
  vertical-align: middle;
}
.products_list-list .product-item .parameters .button-order:hover {
  background: #ee7e2d;
}
.products_list-list .product-item .parameters.inbasket .units,
.products_list-list .product-item .parameters.inbasket .button {
  display: none;
}
.products_list-list .product-item .parameters.inbasket .button-cancel {
  display: inline-block;
}
.products_list-list .product-item .parameters.fororders .units,
.products_list-list .product-item .parameters.fororders .button {
  display: none;
}
.products_list-list .product-item .parameters.fororders .button-order {
  display: inline-block;
}
.products_list-list .product-item .buy-one-click form {
  position: relative;
}
.products_list-list .product-item .buy-one-click form input[type="submit"] {
  border: none;
  float: right;
  background: #ee7e2d;
  width: 79px;
  height: 30px;
  color: #fff;
  font-size: 14px;
}
.products_list-list .product-item .buy-one-click form input[type="text"] {
  margin-right: -79px;
  padding-right: 79px;
}
.products_list-list .product-item .buy-one-click form .bt-close-one-click {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 88px;
  top: 10px;
  cursor: pointer;
  background: url("../images/close-one-click.png") no-repeat;
}
.products_list-list .product-item .product-item-price {
  max-width: 262px;
  margin-left: auto;
  margin-right: 0;
}
.products_list-list.new-style-list .product-item .insertAjax {
  padding: 10px 15px;
  background: #f7f7f7;
  border-top: 1px solid #ebebeb;
}
.products_list-list.new-style-list .product-item .product-item-price {
  border: 1px solid #ebebeb;
}
.products_list-list.new-style-list .product-item .vertical-wrapper {
  margin: 15px;
}
.products_list-list.new-style-list .product-item .parameters .button-new-basket,
.products_list-list.new-style-list .product-item .parameters .button-order {
  width: 142px;
}
.products_list-list.new-style-list .product-item .buy-one-click form input[type=submit] {
  width: 45px;
}
.products_list-list.new-style-list .product-item .buy-one-click form input[type=text] {
  margin-right: -45px;
  padding-right: 45px;
}
.products_list-list.new-style-list .product-item .buy-one-click form .bt-close-one-click {
  right: 53px;
}
.seo-block {
  background: #fff;
}
.seo-block .container {
  padding: 30px 0 45px;
  color: #888888;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.seo-block p {
  line-height: 21px;
}
.seo-block h3 {
  font-family: Roboto, sans-serif;
  color: #595959;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.seo-block .seoslider {
  position: relative;
}
.seo-block .seoslider .slick-prev {
  bottom: -25px;
  left: 0;
}
.seo-block .seoslider .slick-next {
  bottom: -25px;
  left: 30px;
}
.colections-list:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.colections-list .colections-item {
  position: relative;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
  height: 288px;
  border: #ebebeb solid 1px;
  margin-bottom: 30px;
}
.colections-list .colections-item .text-warp {
  padding: 20px 20px 0;
}
.colections-list .colections-item .text-warp .title-colectino-item {
  padding-bottom: 15px;
  color: #4d4d4d;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}
.colections-list .colections-item .text-warp .title-colectino-item a,
.colections-list .colections-item .text-warp .title-colectino-item a:visited {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}
.colections-list .colections-item .text-warp .price {
  color: #0f829f;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}
.colections-list .colections-item .text-warp .price span {
  font-size: 12px;
  line-height: 12px;
  vertical-align: top;
}
.colections-list .colections-item .colections-item-hover {
  position: absolute;
  background: #fff;
  top: -31px;
  left: -31px;
  z-index: 10;
  width: 517px;
  min-height: 347px;
  padding: 30px;
  border: #ebebeb solid 1px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  display: none;
}
.colections-list .colections-item .colections-item-hover .slide-item {
  width: 262px;
}
.colections-list .colections-item .colections-item-hover .js-left-part {
  width: 262px;
  float: left;
  margin-right: 29px;
}
.colections-list .colections-item .colections-item-hover .js-left-part .img-wrap {
  border: none;
}
.colections-list .colections-item .colections-item-hover .js-left-part .text-warp {
  padding-left: 0;
  padding-right: 0;
}
.colections-list .colections-item .colections-item-hover .categories-list-tovar-e .product-item,
.colections-list .colections-item .colections-item-hover .categories-list-tovar-e img {
  margin-bottom: 0;
}
.colections-list .colections-item:hover .colections-item-hover {
  display: block;
}
.colections-list .colections-item .collection-item-new-wrap {
  position: relative;
  overflow: hidden;
  width: 163px;
  height: 287px;
  float: left;
}
.colections-list .colections-item .collection-item-new-wrap .collection-item-new-close-btn {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  background: url(../images/close-bt.png) no-repeat;
}
.colections-list .colections-item .collection-item-new-wrap .colections-item-slider {
  width: auto;
  float: none;
}
.colections-list .colections-item .colections-item-slider {
  overflow: hidden;
  width: 163px;
  height: 287px;
  float: left;
  padding-top: 46px;
}
.colections-list .colections-item .colections-item-slider .slick-prev,
.colections-list .colections-item .colections-item-slider .slick-next {
  left: 0;
  top: 0;
}
.colections-list .colections-item .colections-item-slider .slick-next {
  left: 25px;
}
.colections-list .colections-item .colections-item-slider .colections-item-slider-item {
  width: 67px;
  height: 67px;
  float: left;
  margin-right: 29px;
  margin-bottom: 20px;
  border: #ebebeb solid 1px;
  position: relative;
}
.colections-list .colections-item .colections-item-slider .colections-item-slider-item img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.colections-list .colections-item .colections-item-slider .colections-item-slider-item:nth-child(2n) {
  margin-right: 0;
}
.colections-list .colections-item .colections-item-slider .colections-item-slider-item:hover {
  border: #ee7f2d solid 1px;
}
.contact-section {
  padding-top: 20px;
  padding-bottom: 50px;
  background: #fff;
}
.contact-section h1 {
  color: #595959;
  font-size: 24px;
  font-weight: normal;
  font-weight: 500;
  text-transform: inherit;
}
.contact-section .maps-block {
  position: relative;
}
.contact-section .maps-block .conta-info {
  position: absolute;
  left: 30px;
  top: 30px;
  background: #fff;
  width: 360px;
  min-height: 216px;
  padding: 20px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  z-index: 20;
  color: #888888;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.contact-section .maps-block .conta-info .adres {
  padding: 8px 0 18px 50px ;
  background: url(../images/adress_icon.png) no-repeat;
}
.contact-section .maps-block .conta-info .time {
  padding: 8px 0 18px 50px ;
  background: url(../images/time_icon.png) no-repeat;
}
.contact-section .maps-block .conta-info .phone {
  padding: 8px 0 18px 50px ;
  background: url(../images/phone_icon.png) no-repeat;
}
.contact-section .maps-block .conta-info .phone a {
  color: #4a809c;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
#map {
  height: 550px;
}
.contact-form-section {
  background: #f2f6f9;
  padding: 50px 0;
}
.contact-form-section .container {
  background: #69b9cc;
  padding: 50px 0 30px;
}
.contact-form-section .container .center-block {
  float: none;
  margin: 0 auto;
}
.contact-form-section .container .title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 30px;
}
.contact-form-section .container .form-row {
  position: relative;
  margin-bottom: 20px;
}
.contact-form-section .container .form-row label.error {
  background: #cb4629;
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 14px;
  color: #ffffff;
  line-height: 44px;
  color: #fff !important;
  margin: 0 !important;
}
.contact-form-section .container .form-row textarea ~ label.error {
  line-height: 150px;
}
.contact-form-section .container input[type="text"] {
  width: 100%;
  height: 44px;
  background: #fff;
  font-size: 14px;
  color: #595959;
  padding: 0 15px;
  border: #fff solid 1px;
}
.contact-form-section .container input[type="text"]:focus {
  border: #0f829f solid 1px;
}
.contact-form-section .container input[type="text"].error {
  border-color: #cb4629;
}
.contact-form-section .container textarea {
  width: 100%;
  background: #fff;
  font-size: 14px;
  color: #595959;
  padding: 15px;
  height: 150px;
  border: #fff solid 1px;
}
.contact-form-section .container textarea:focus {
  border: #0f829f solid 1px;
}
.contact-form-section .container input[type="submit"] {
  max-width: 240px;
  width: 100%;
  height: 50px;
  border: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #0f829f;
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}
.contact-form-section .container input[type="submit"]:hover {
  background-color: #5593b3;
}
@media screen and (max-width: 1030px) {
  .buy-info {
    margin-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .buy-info {
    margin-left: 0;
  }
  .bt-show-tovar {
    margin-bottom: 10px;
  }
  .notfind-section-e,
  .notfind-section-e a {
    font-size: 18px;
  }
  .detail-section-01 .product-viewer-wrap .products-preview ul {
    margin-bottom: 0;
  }
  .detail-section-01 .product-viewer-wrap .products-preview li {
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .header-menu-top {
    position: absolute !important;
    top: 55px !important;
  }
  .categories-filter-order-e .instoke {
    position: relative;
    top: auto;
    display: block;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
    padding-bottom: 20px;
  }
  .categories-filter-order-e .orderblock {
    float: none;
    width: 100%;
  }
  .products-list.categories-list-tovar-e .product-item {
    margin-left: auto;
    margin-right: auto;
  }
  .categories-list-e {
    background: none;
  }
  .seo-block {
    padding-left: 15px;
    padding-right: 15px;
  }
  .contact-section .maps-block .conta-info {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    border: none;
  }
  .colections-list .colections-item {
    margin-left: auto;
    margin-right: auto;
  }
  .colections-list .colections-item:hover .colections-item-hover {
    display: none;
  }
}
@media (min-width: 768px) {
  header.v2 .mosaic-row .search-icon.hidden-xs,
  .mosaic-button-row.hidden-xs {
    display: none !important;
  }
}
