.changeMeasure { cursor: pointer; }
.opacityAjax, .loading { opacity: 0.6; }

.b-brands__text img {
    margin-right: 10px;
}

span.main-h1 {
    font-family: inherit;
    color: #595959;
    font-size: 24px;
    font-weight: 500;
    text-transform: none;
    margin-bottom: 0;
    display: block;
}

.flag_manufact {
	display: block;
	float: left;
	width:20%;
	margin-bottom:10px;
}

@media screen and (max-width: 767px) {
	.flag_manufact {
		width:25%;
	}
}

@media screen and (max-width: 500px) {
	.flag_manufact {
		width:50%;
	}
}

.b-brands::after {
	content: "";
	display: table;
	clear: both;
	margin-bottom:10px;
}