.main-buttons-box .header-menu-top .row > div.subs {
    display: none;
    width: 15%;
}

.col-lg-10.js-hit-towarov.hover {
    width: 60%;
}

.subs .col-lg-4 {
    width: 100%;
}

body {
    /*display: none !important;*/
    /*margin-bottom: 0 !important;*/
}

.lightbox {
    display: none;
}

.bx-filter.bx-blue {
    /*
    width: 292px;
    float: left;*/
}

.bx-filter.bx-blue .bx-filter-section {
    background: #ededed;
}

.bx-filter .bx-filter-parameters-box-title span {
    font-size: 14px;
    color: #4d4d4d;
    font-weight: 600;
    font-family: Roboto, sans-serif;
    line-height: 18px;
    padding-bottom: 15px;
    cursor: default;
}

.bx-filter .bx-filter-input-checkbox input,
.bx-filter .bx-ui-slider-track-container {
    display: none;
}

.bx-filter .bx-filter-input-checkbox input:checked~span {
    background: url(../images/checkbox-active.png) left center no-repeat;
}

.bx-filter .bx-filter-input-checkbox .bx-filter-param-text,
.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block i.bx-ft-sub {
    font-family: Roboto, sans-serif;
}

.bx-filter .bx-filter-input-checkbox .bx-filter-param-text {
    padding-left: 27px;
    background: url(../images/checkbox.png) left center no-repeat;
    min-height: 18px;
    line-height: 18px;
    display: block;
}

.bx-filter-section .checkbox label {
    padding-left: 0;
}
.b-brands::after{
    margin-bottom: 0 !important;
}

.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block i.bx-ft-sub,
.bx-filter-parameters-box-container-block .bx-filter-input-container {
    display: inline-block;
}

.bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block i.bx-ft-sub {
    padding-right: 5px;
}

.row.bx-filter-parameters-box-container,
.bx-filter-parameters-box-container-block {
    padding: 0;
    margin: 0;
}

.bx-filter .bx-filter-parameters-box {
    padding-bottom: 20px;
}

.bx-filter .bx-filter-input-container input {
    width: 100%;
    padding: 0 7px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    border-radius: 3px;
}

.bx-filter .bx-filter-section {
    padding: 15px 20px;
}

.bx-filter .bx-filter-popup-result {
    padding: 5px;
}
.bx-filter .bx-filter-popup-result,
.bx-filter .bx-filter-popup-result a {
    color: #fff;
}

.bx-filter .bx-filter-popup-result a {
    border-bottom: 1px dotted #fff;
}

.bx-filter-param-label.disabled {
    opacity: 0.5;
}

.bx-filter-parameters-box-container .more {
    position: relative;
}

.bx-filter-parameters-box-container .more .variants {
    background: #ededed;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #a0a0a0;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    position: relative;
    cursor: pointer;
}
.bx-filter-parameters-box-container .more .variants i {
    color: #595959;
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bx-filter-parameters-box-container .more .items {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.3),0 0 0 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.3),0 0 0 1px rgba(0,0,0,.05);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.3),0 0 0 1px rgba(0,0,0,.05);
    padding: 10px;
    max-height: 210px;
}

.bx-filter-parameters-box-container .more .items.active {
    display: block;
}

.bx-filter-parameters-box-container .more .items .col {
    display: table-cell;
    padding-right: 10px;
}

.bx-filter-parameters-box-container .more .checkbox {
    
}

@media (max-width: 992px) {
    .bx-filter .bx-filter-parameters-box.bx-active .bx-filter-block i.bx-ft-sub, .bx-filter-parameters-box-container-block .bx-filter-input-container {
        width: 90%;
    }
    .bx-filter-parameters-box-container .more .items {
        left: 0;
        top: 100%;
    }
}

span.mebel-hide{display: inline-block;}

@media (min-width:991px) {
    span.mebel-hide{display: none;}
}

@media (min-width:1202px) {
    span.mebel-hide{display: inline-block;}
}





.b-brands {
    /*margin: 20px;*/
}

div.choose-plitka{
    /*display: none;*/
    margin-left: 125px;
    font-family: Roboto, sans-serif;
    font-size: 14px;   
}
.choose-plitka.firsten{
    margin-left: 0;
}

div.choose-plitka div{
    border: 1px solid #b3b3b3;
    float: left;
}

div.choose-plitka div:hover{
    /*opacity: 0.8;*/
    /*background-color: #69B9CC;*/
    /*color: #fff;*/
}

div.choose-plitka div.active{
    background-color: #69B9CC;
    border: 1px solid #69B9CC;
}

div.choose-plitka div.active a{
    color: white;
}
div.choose-plitka div a{
    color: rgb(128, 128, 128);   
}

div.choose-plitka div:hover a{
    color: black;
}

div.choose-plitka div.collect{
    border-radius: 3px 0 0 3px;
    border-right: none;
    padding: 8px 16px 8px 15px;
}

div.choose-plitka div.plitk{
    border-radius: 0 3px 3px 0;
    border-left: none;
    padding: 8px 15px 8px 16px;
}

.breadcrumbs li{
    position: relative;
}

div.neighbours-wrap{
    position: absolute;
    z-index: 2;
    top: 18px;
    left: -19px;
    display: none;
    padding-top: 16px;
}

ul.neighbours{
    background-color: #F2F6F9;
    padding: 13px 16px 13px 16px;
    border-radius: 3px;
}

ul.neighbours li{
    display: block;
    padding: 4px;
}

ul.neighbours li a{
    white-space: nowrap;
}

ul.neighbours li a:hover{
    color: #ED7F2E;
    text-decoration: none;       
}

ul.neighbours li:after{
    content: none;
}

ul.neighbours li:after{
    content: none;
}

.breadcrumbs li.bc-triangle:after{
    margin-left: 23px;
    margin-right: 9px;
}

span.triangl{
    position: absolute;
    top: 7px;
    right: 18px;
    margin:  0 10px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #8a8b8b;
    border-radius: 3px
}

span.triangl.last-gl{
    right: -24px;
}

.breadcrumbs li.bc-triangle.active > a{
    color: #69B9CC;
    text-decoration: none;
}

.breadcrumbs li.bc-triangle.active span.triangl{
    border-top-color: #69B9CC;
}

.other-sizes .head {
    color: #888;
}

.other-sizes .item {
    padding-top: 5px;
}

.other-sizes .item a:hover {
    color: #ef7f2d;
}

.prop-group-name{
    font-weight: bold;
}

.products_list-list .product-item .parameters.fororders a.button.button-order.jsAddBasket{
    float: right; 
    display: block;
}
.products_list-list .product-item .parameters.fororders a.button.button-new-basket.jsAddBasket{
    float: right; 
    display: block;
}

.product-description{
    line-height: 21px;
}

ul{
    list-style-type: disc;
    padding-left: 18px;
    margin: 5px 0;
}

div.products-preview ul{
    padding-left: 0;
}

.product-description ul{
    list-style-type: disc;
    padding-left: 18px;
    margin: 5px 0;
}

.vid{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -16px;
    width: 32px;
    height: 22px;
    background: url(/local/img/youtube-play-32.png) no-repeat;
}

a.video:hover .vid{
    background-position-y: -23px;
}

.big-vid{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -42px;
    width: 85px;
    height: 60px;
    background: url(/local/img/youtube-play.png) no-repeat;
}

div.prod-photo a:hover .big-vid{
    background-position-y: -60px;
}

a.tube-video img{
    margin-top: 45px;
}

@media (min-width: 992px) {
    div.fixed-header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: white;
    }
    div.container.main-buttons-box.ind-buttons-box.posinit{
        margin-top: 92px;	
    }
} 


.l-wrapper {
  position: absolute;
  width: 480px;
  height: 276px;
  top: 0;
  right: 100px;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

svg {
  height: 120px;
  width: 120px;
  margin: 0 2em 2em;
  overflow: visible;
  /*   border: 1px solid red; */
}

.g--circle {
  -webkit-transform-origin: 60px 60px;
          transform-origin: 60px 60px;
  fill: dodgerblue;
  -webkit-animation: opacity 1.2s linear infinite;
          animation: opacity 1.2s linear infinite;
}
.g--circle:nth-child(12n + 1) {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
  -webkit-transform: rotate(-30deg) translate(5px, 5px) scale(0.9);
          transform: rotate(-30deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: rotate(-60deg) translate(5px, 5px) scale(0.9);
          transform: rotate(-60deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 3) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
  -webkit-transform: rotate(-90deg) translate(5px, 5px) scale(0.9);
          transform: rotate(-90deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 4) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: rotate(-120deg) translate(5px, 5px) scale(0.9);
          transform: rotate(-120deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 5) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  -webkit-transform: rotate(-150deg) translate(5px, 5px) scale(0.9);
          transform: rotate(-150deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 6) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: rotate(-180deg) translate(5px, 5px) scale(0.9);
          transform: rotate(-180deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 7) {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
  -webkit-transform: rotate(-210deg) translate(5px, 5px) scale(0.9);
          transform: rotate(-210deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 8) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: rotate(-240deg) translate(5px, 5px) scale(0.9);
          transform: rotate(-240deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 9) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
  -webkit-transform: rotate(-270deg) translate(5px, 5px) scale(0.9);
          transform: rotate(-270deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 10) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: rotate(-300deg) translate(5px, 5px) scale(0.9);
          transform: rotate(-300deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 11) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
  -webkit-transform: rotate(-330deg) translate(5px, 5px) scale(0.9);
          transform: rotate(-330deg) translate(5px, 5px) scale(0.9);
}
.g--circle:nth-child(12n + 12) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: rotate(-360deg) translate(5px, 5px) scale(0.9);
          transform: rotate(-360deg) translate(5px, 5px) scale(0.9);
}

.g-circles--v1 .g--circle {
  fill-opacity: 0;
  -webkit-animation-name: opacity;
          animation-name: opacity;
}

.g-circles--v2 .g--circle {
  fill-opacity: 0;
  stroke-opacity: 0;
  stroke-width: 1;
  stroke: yellowgreen;
  -webkit-animation-name: opacity-stroke, colors, colors-stroke;
          animation-name: opacity-stroke, colors, colors-stroke;
}
.g-circles--v2 .g--circle .u--circle {
  -webkit-animation: transform-2 1.2s linear infinite;
          animation: transform-2 1.2s linear infinite;
}

.g-circles--v2 .g--circle:nth-child(12n + 1) .u--circle {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
.g-circles--v2 .g--circle:nth-child(12n + 2) .u--circle {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.g-circles--v2 .g--circle:nth-child(12n + 3) .u--circle {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.g-circles--v2 .g--circle:nth-child(12n + 4) .u--circle {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.g-circles--v2 .g--circle:nth-child(12n + 5) .u--circle {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.g-circles--v2 .g--circle:nth-child(12n + 6) .u--circle {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.g-circles--v2 .g--circle:nth-child(12n + 7) .u--circle {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.g-circles--v2 .g--circle:nth-child(12n + 8) .u--circle {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.g-circles--v2 .g--circle:nth-child(12n + 9) .u--circle {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.g-circles--v2 .g--circle:nth-child(12n + 10) .u--circle {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.g-circles--v2 .g--circle:nth-child(12n + 11) .u--circle {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.g-circles--v2 .g--circle:nth-child(12n + 12) .u--circle {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.g-circles--v3 .g--circle {
  fill-opacity: 1;
  -webkit-animation-name: opacity, colors;
          animation-name: opacity, colors;
}

.g-circles--v4 .g--circle {
  fill-opacity: 1;
  fill: orange;
  -webkit-animation-name: opacity, colors-3;
          animation-name: opacity, colors-3;
}
.g-circles--v4 .u--circle {
  -webkit-animation: transform 1.2s linear infinite;
          animation: transform 1.2s linear infinite;
}

.g-circles--v4 .g--circle:nth-child(12n + 1) .u--circle {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
.g-circles--v4 .g--circle:nth-child(12n + 2) .u--circle {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.g-circles--v4 .g--circle:nth-child(12n + 3) .u--circle {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.g-circles--v4 .g--circle:nth-child(12n + 4) .u--circle {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.g-circles--v4 .g--circle:nth-child(12n + 5) .u--circle {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.g-circles--v4 .g--circle:nth-child(12n + 6) .u--circle {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.g-circles--v4 .g--circle:nth-child(12n + 7) .u--circle {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.g-circles--v4 .g--circle:nth-child(12n + 8) .u--circle {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.g-circles--v4 .g--circle:nth-child(12n + 9) .u--circle {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.g-circles--v4 .g--circle:nth-child(12n + 10) .u--circle {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.g-circles--v4 .g--circle:nth-child(12n + 11) .u--circle {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.g-circles--v4 .g--circle:nth-child(12n + 12) .u--circle {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

@-webkit-keyframes opacity {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }
}

@keyframes opacity {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }
}
@-webkit-keyframes opacity-stroke {
  10% {
    stroke-opacity: 1;
  }
  85% {
    stroke-opacity: 0;
  }
}
@keyframes opacity-stroke {
  10% {
    stroke-opacity: 1;
  }
  85% {
    stroke-opacity: 0;
  }
}
@-webkit-keyframes colors {
  0% {
    fill: yellowgreen;
  }
  10% {
    fill: gold;
  }
  75% {
    fill: crimson;
  }
}
@keyframes colors {
  0% {
    fill: yellowgreen;
  }
  10% {
    fill: gold;
  }
  75% {
    fill: crimson;
  }
}
@-webkit-keyframes colors-stroke {
  0% {
    stroke: yellowgreen;
  }
  10% {
    stroke: gold;
  }
  75% {
    stroke: crimson;
  }
}
@keyframes colors-stroke {
  0% {
    stroke: yellowgreen;
  }
  10% {
    stroke: gold;
  }
  75% {
    stroke: crimson;
  }
}
@-webkit-keyframes colors-2 {
  0% {
    fill: yellow;
  }
  50% {
    fill: red;
  }
  65% {
    fill: orangered;
  }
  95% {
    fill: gold;
  }
}
@keyframes colors-2 {
  0% {
    fill: yellow;
  }
  50% {
    fill: red;
  }
  65% {
    fill: orangered;
  }
  95% {
    fill: gold;
  }
}
@-webkit-keyframes colors-3 {
  0% {
    fill: yellowgreen;
  }
  50% {
    fill: turquoise;
  }
  65% {
    fill: yellow;
  }
  95% {
    fill: orange;
  }
}
@keyframes colors-3 {
  0% {
    fill: yellowgreen;
  }
  50% {
    fill: turquoise;
  }
  65% {
    fill: yellow;
  }
  95% {
    fill: orange;
  }
}
@-webkit-keyframes transform {
  10% {
    -webkit-transform-origin: 70px 70px;
            transform-origin: 70px 70px;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
@keyframes transform {
  10% {
    -webkit-transform-origin: 70px 70px;
            transform-origin: 70px 70px;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
@-webkit-keyframes transform-2 {
  40% {
    -webkit-transform: scale(0.85) translate(10px, 10px);
            transform: scale(0.85) translate(10px, 10px);
  }
  60% {
    stroke-width: 20;
  }
}
@keyframes transform-2 {
  40% {
    -webkit-transform: scale(0.85) translate(10px, 10px);
            transform: scale(0.85) translate(10px, 10px);
  }
  60% {
    stroke-width: 20;
  }
}

.product-item-price{
    min-width: 260px;
}

div.img-wrap{
    overflow: hidden;  
}

.products_list-list .product-item div.img-wrap a div{
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-image: url(/local/img/sale-percent-icon.png);
    position: absolute;
    right: 3px;
    top: 3px;
 }
 
 .products_list-list .product-item div.img-wrap a div span{
    color: white;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
    vertical-align: middle;
 }

.products_list-list .product-item div.img-wrap a img:nth-child(2){
    position: absolute;
    top: 23px;
    left: 188px; 
}

.products_list-list .product-item div.img-wrap a img:nth-child(3){
    position: absolute;
    top: 67px;
    left: 188px;
}

.products_list-list .product-item div.img-wrap a img:nth-child(4){
    position: absolute;
    top: 111px;
    left: 188px;
}
.products_list-list .product-item div.img-wrap a img:nth-child(5){
    position: absolute;
    top: 155px;
    left: 188px;
}


.products-list .img-wrap img:nth-child(2){
    position: absolute;
    top: 10px;
    right: 10px; 
}

.products-list .img-wrap img:nth-child(3){
    position: absolute;
    top: 55px;
    right: 10px;
}

.products-list .img-wrap img:nth-child(4){
    position: absolute;
    top: 100px;
    right: 10px;
}

.products-list .img-wrap img:nth-child(5){
    position: absolute;
    top: 145px;
    right: 10px;
}

.products-list .img-wrap div.discount-perc{
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-image: url(/local/img/sale-percent-icon.png);
    position: absolute;
    right: 10px;
    top: 10px;
 }
 
.products-list .img-wrap a div.discount-perc span{
    color: white;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
    vertical-align: middle;
 }

 .products-list .img-wrap.brands-img{
     line-height: 120px;
     height: 120px;
 }
 
 .col-lg-3.col-md-6.brands-cart{
     text-align: center;
 }
 
 .brands-cart{     
     line-height: 20px;
 }
 
 .col-lg-3.col-md-6.brands-cart a{
     text-decoration: underline;
 }
 
 .col-lg-3.col-md-6.brands-cart a:hover{
     text-decoration: none;
 }
 
 .products-list .img-wrap.brand-detail{
    line-height: 150px;
    height: 150px;
 }
 
 .img-wrap.brand-detail img{
     vertical-align: top;
 }
 
.prod-photo div div.discount-perc{
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-image: url(/local/img/sale-percent-icon.png);
    position: absolute;
    right: 15px;
    top: 15px;
 }
 
 .prod-photo div div.discount-perc span{
    color: white;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
    vertical-align: middle;
 }
 
img.cart-sticker:nth-child(1){
   position: absolute;
   top: 15px;
   right: 15px;
} 
 
img.cart-sticker:nth-child(2){
  position: absolute;
  top: 65px;
  right: 15px;
}

img.cart-sticker:nth-child(3){
  position: absolute;
  top: 115px;
  right: 15px;
}

img.cart-sticker:nth-child(4){
  position: absolute;
  top: 165px;
  right: 15px;
}


.hit-col:nth-child(3){
    position: absolute;
    top: 50px;
    right: 20px;
}
.hit-col:nth-child(4){
    position: absolute;
    top: 95px;
    right: 20px;
}
.hit-col:nth-child(2){
    position: absolute;
    top: 5px;
    right: 20px;
}
div.colections-item div.img-warp a img:nth-child(2){
   position: absolute;
   top: 5px;
   right: 5px;
} 
 
div.colections-item div.img-warp a img:nth-child(3){
   position: absolute;
   top: 50px;
   right: 5px;
} 

div.colections-item div.img-warp a img:nth-child(4){
   position: absolute;
   top: 95px;
   right: 5px;
} 


.col-sticker{
    position: absolute;
    z-index: 1;
    height: 40px;
    width: 40px;
    display: block;
}
.col-sticker:nth-child(1) {
    top: 20px;
    right: 35px;
}
.col-sticker:nth-child(2) {
    top: 70px;
    right: 35px;
}
.col-sticker:nth-child(3) {
    top: 120px;
    right: 35px;
}





div.content-task{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 100%;
    left: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 2;
    background: rgba(15, 130, 159, .75);
    color: #fff;
    line-height: 20px;
}

div.description-task{
    position: relative;
    padding: 0 20px;
    top: 0%;
    font-size: 14px;
    font-weight: bold;
}

.text.cheap{
    margin-top: 2px;
}

div.description-task a{
    color: white;
    border: 1px solid #b7d9e2;
    position: absolute;
    bottom: -50px;
    left: 20px;
    padding: 5px 72px;
    font-weight: bold;
    border-width: thin;
}

div.description-task a:hover{
    color: white;
    border: 2px solid #b7d9e2;
    left: 19px;
    bottom: -51px;
}
    
div.introtext-task{
    margin: 20px 0;
    height: 120px;
}

div.introtext-task ul li{
    display: block;
    height: 22px;
    border-bottom: 1px dotted white;
    margin: 5px 0;
    
}

div.introtext-task ul li em{
    float: left;

}

div.introtext-task ul li span{
    float: right;

}

.task-menu.col-xs-12.col-sm-6.col-md-3.js-top-menu-element-ajax.posinit{
    width: 16.6%;
    padding: 0 5px;
}

.img-block.task-img.brand-img{
    margin-top: 7px;
}

.bg-task{
    background-color: #ee1d24 !important;
}

.bg-brands{
    background-color: gray !important;
}

.bg-task:hover, .bg-brands:hover{
    opacity: 0.75;
}

.but-task{
    background-color: #ee1d24;
    border-color: #ee1d24;
}
.img-2{
    display: none;
}

.task-menu-page{
    background-color: #ededed;
    padding: 18px 24px 12px;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
}

.task-menu-page:hover  span.name{
    color: #69B9CC;
}

.task-menu-page.active:hover  span.name{
    color: white;
}

.task-menu-page span.name{
    position: absolute;
    top: 22px;
    left: 74px;
    color: #595959;
}

.task-menu-page span.triangle{
    position: absolute;
    top: 25px;
    right: 5px;
    margin: 0 10px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid white;
    border-radius: 3px;
    display: none;
}


.task-menu-page.active span{
    color: white;
}

.task-menu-page.active{
    background-color: #4A7F9C;
    border-bottom: 1px solid #4A7F9C;
    padding: 11px 24px 9px;
}

.task-menu-page.active .img-1{
    display: none;
}

.task-menu-page.active .img-2{
    display: block;
}

.task-menu-page.active span.triangle{
    display: block;
}

.opacity-task{
    opacity: 0.5;
}

.buy-info-wrapper .share span.old{
    margin-top: -76px;
    position: absolute;
    width: 130px;
}

.buy-info-wrapper .share span.discount{
    margin-top: -79px;
    left: 92px;
}

.text-wrap .share span.old{
    margin-top: -66px;
    position: absolute;
    width: 130px;
}

.text-wrap .share span.discount{
    margin-top: -69px;
    left: 92px;
}

.row.brand-page{
    margin-bottom: 35px;
}

.halva-block, .rassrochka-block{
    border: 1px solid #E0B9B0;
    height: 80px;
    position: absolute;
    width: 295px;
    background-color: #F6EFED;
    background-image: url(/local/images/clock-icon.png);
    background-repeat: no-repeat;
    background-position-x: 27px;
    background-position-y: 33px;
}

.halva-block{
    top: 172px;
}

.rassrochka-block{
    top: 266px;
}

.halva-block a span, .rassrochka-block a span{
    position: absolute;
    top: 30px;
    left: 60px;
    border-bottom: 1px dashed;
    color: #B24D35;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
}

.halva-block img{
    position: absolute;
    top: 12px;
    right: 17px;
}

.rassrochka-block img{
    position: absolute;
    top: 20px;
    right: 30px;
}

@media (max-width: 1200px) {
    .halva-block, .rassrochka-block{
        position: initial;
        margin-top: 10px;
    }
    .halva-block img{
        position: initial;
        float: right;
        margin-top: 10px;
        margin-right: 10px;
    }
    .rassrochka-block img{
        position: initial;
        float: right;
        margin-top: 20px;
        margin-right: 22px;
    }
    .halva-block a span, .rassrochka-block a span{
        margin-left: 60px;
        margin-top: 28px;
        position: initial;
        float: left;
    }
}

.img-popup, .name-popup, .first-pay, .month-pay, .sum-popup{
    float: left;
}

.item-block{
    padding-top:25px;
    display:inline-flex;
    background-color:#F2F6F9;
    border-top: 3px solid #0F829F;
    width: 100%;
    height: 142px;
    border-radius: 2px;
    width: 740px;
    margin-left: 30px;
}

.img-popup{
    margin-left: 20px;
}

.name-popup{
    font-family: Roboto, sans-serif;
    font-size:14px;
    margin-left: 20px;
    margin-top: 20px;
    width:165px;
}

.price-pop{
    margin-top: 8px;
    margin-left: 8px;
    width: 145px;
}

.pop-number{
    font-weight:500;
    font-family:Roboto;
    font-size:24px;
}

.pop-number span{
    font-weight: normal;
    font-size: 14px;
    color: gray;
}

.pop-title{
    width: 146px;
    font-weight:500;
    font-family:Roboto;
    font-size:14px;
    line-height:18px;
    color:#1c1c1c;
    margin-top: 15px;
}

.popup-ras{
    margin-top: 200px;
    width: 802px;
}

.popup-ras .modal-content{
    height: 534px;
}

img.canc-gray, img.canc-blue{
    position: absolute;
    top: 38px;
    right: 30px;
    cursor: pointer;
}

img.canc-blue{
    display: none;
}

.head-pop{
    height: 114px;
    text-align: center;
    padding: 42px;
}

.head-pop span{
    font-weight: 500;
    font-size: 25px;
}
.pop-to-cart{
    height: 153px;
}

.pop-to-cart span span .buy-info .parameters{
    position: absolute;
    top: 295px;
    right: 30px;
}
.pop-span{
    width: 256px;
    font-size: 14px;
    float: right;
    margin-right: 158px;
    margin-top: 32px;
    text-align: right;    color: grey;
    line-height: 18px;
}

.pop-footer{
    text-align: center;
    background-color: #F4F4F4;
    height: 125px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pop-footer span{
    width: 462px;
    margin-top: 45px;
    float: left;
    margin-left: 168px;
    text-align: center;
    font-weight: 500;
    font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
    color: #1c1c1c;
}

.product-feature table tr th{
    width: 40%;
}

.ras-label, .halva-label{
    margin-right: auto !important;
    margin-left: auto !important;
    width: 10px;   
}

.halva-label{
    margin-top: 10px;
}

div.modal-dialog.popup-ras{
    margin-left: auto !important;
    margin-right: auto !important;
}

.ras-hidden{
    display: none;
}

.choose-rass{
    /*display: none;*/
}

#basket_items .col-xs-12.col-sm-12.checkbox-block{
    padding-left: 0;
}

.checkbox-block .checkbox-e{
    padding: 0;
}

.checkbox-block .checkbox-e label{
    margin-left: 0px !important;
}

@media (max-width: 991px) {
    .ras-hidden{
        display: block;
    }
    .ras-label, halva-label{
        width: 107px;
    }
}

@media (max-width: 830px) {
    .popup-ras{
        width: 300px;
        margin-top: 50px;
    }
    .rass-wrap{
        padding: 0 10px;
    }
    .pop-to-cart{
        text-align: center;
    }
    .pop-span{
        width: 100%;
        margin: 0;
        float: none;
    }
    .pop-to-cart span span .buy-info{
        margin-top: 15px;
    }
    .pop-to-cart span span .buy-info .parameters{
        position: initial;
        text-align: center;
    }
    img.canc-gray, img.canc-blue{
        top: 5px;
        right: 5px;
    }
    .item-block{
        display: inline;
        text-align: center;
        width: 100%;
        height: 100%
    }
    .img-popup, .name-popup, .first-pay, .month-pay, .sum-popup{
        float: none;
    }
    .pop-footer{
        padding: 20px;
    }
    .pop-footer span{
        margin: 0;
        float: none;
    }
    .img-popup{
        margin-bottom: 20px;
        margin-left: 0;
    }
    .price-pop, .pop-title, .name-popup{
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .popup-ras .modal-content{
        height: 100%;
    }
    .pop-number{
        margin-top: 30px;
    }
    .head-pop{
        padding: 28px;
    }
}