.modal .modal-content .ok {
    display: block;
}

.modal a.button-modal {
    display: inline-block;
    text-decoration: none;
    border-radius: 2px;
    padding: 0 20px;
    /*margin-bottom: 30px;*/
}

.modal a.button-modal span.text {
    position: relative;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
}

#basket-step-1 .no-result {
    padding: 30px;
}

#basket-step-1 .no-result span.sorry {
    font-size: 18px;
}
.no-result {
    padding: 30px;
}
.no-result span.sorry {
    font-size: 16px;
}

.pay-result {
    padding: 30px;
}
.pay-result span.ok {
    font-size: 16px;
}

#basket-step-1 .basket-error {
    padding: 0 30px;
}

#basket-step-1 .basket-error span.sorry {
    font-size: 16px;
    color: red;
}

#basket-step-1 .total-row > div span.total-cost-wrapper #allSum_FORMATED,
#basket-step-2 .total-row > div span.total-cost-wrapper #allSum_FORMATED {
    font-size: 24px;
    font-weight: 700;
}

#delete-ask-popup .modal-body .yes, #delete-ask-popup .modal-body .no {
    text-decoration: none;
}

#basket-step-1 form {
    position: relative;
}
#order_form_div form{
    position: relative;
}
#basket-step-1 .loading{
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
    background-color: rgba(70, 100, 100, 0.5);
    display: none;
}
#order_form_div .loading{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
    background-color: rgba(70, 100, 100, 0.5);
    display: none;
}
#basket-step-1 .loading img {
    float: none;
    max-width: none;
    width: auto;
    margin: 0;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: 150px;
}
#order_form_div .loading img {
    float: none;
    max-width: none;
    width: auto;
    margin: 0;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: 150px;
}

.product-card .description-wrapper a.add-to-basket span.img.loading{
    background: url(../img/loading_small3.gif) no-repeat;
}
.product-card .description-wrapper a.add-to-basket span.img.loading-cart{
    background: url(../img/loading_small3.gif) no-repeat;
}

#catalogue .filter-wrapper form input#set_filter {
    height: 34px;
    line-height: 34px;
    display: inline-block;
    padding: 0 40px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    color: #FFF;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    margin-right: 20px;
    font-size: 14px;
}
#catalogue .filter-wrapper .main-catalogue-filter input#set_filter {
    margin-top: 10px;
    margin-bottom: 10px;
}

#catalogue .filter-wrapper form input#del_filter {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    border: 1px solid #ECF1F4;
    color: #808C91;
    font-size: 13px;
    padding: 0 20px;
    border-radius: 2px;
    background: #FDFEFE;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FDFEFE), to(#F8FAFA));
    background: -webkit-linear-gradient(#FDFEFE, #F8FAFA);
    background: -moz-linear-gradient(#fdfefe, #f8fafa);
    background: -o-linear-gradient(#fdfefe, #f8fafa);
    background: -ms-linear-gradient(#fdfefe, #f8fafa);

    font-family: inherit;
    font-weight: inherit;
    text-transform: inherit;
}
#catalogue .filter-wrapper form input#del_filter:hover {
    border-color: #808C91;
}

.main-buttons-box .row .more{
    display: none;
}

.prod-popup .description-wrapper h1 a, #product-detail-popup .description-wrapper h1 a{
    text-decoration: none;
}

#basket-step-3 .pay-row .pay-box-wrapper {
    padding: 30px 20px 20px;
    border-bottom: 1px solid #EBF1F4;
}
#basket-step-3 .pay-row > div span {
    font-size: 14px;
}
#basket-step-3 span.title_h4 {
    text-transform: none;
    font-size: 15px;
    display: block;
    margin-bottom: 20px;
}
#basket-step-3 .pay-row .pay-box-wrapper .custom_radio {
    display: inline-block;
    margin: 10px 30px 0 0;
}

#basket-step-3 .order-placement #order-placement-form .form-row label {
    display: block;
    font-weight: 700;
    line-height: 25px;
    cursor: pointer;
}
#basket-step-3 .order-placement #order-placement-form .form-row input.form-control {
    border-radius: 0;
    height: 25px;
    line-height: 25px;
    padding: 5px 10px;
}
#basket-step-3 .order-placement #order-placement-form .form-row textarea {
    height: 144px;
    border-radius: 0;
    padding: 5px 10px;
    margin-bottom: 20px;
}
#basket-step-3 .order-placement #order-placement-form .form-row input[type="submit"] {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding: 0 50px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    color: #FFF;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    font-size: 14px;
}
#basket-step-3 .order-placement #order-placement-form .form-row .error {
    border-color: #E69F9F !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(230, 159, 159, 0.075), 0 0 8px rgba(230, 159, 159, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(230, 159, 159, 0.075), 0 0 8px rgba(230, 159, 159, 0.6) !important;
}
#basket-step-3 .order-placement #order-placement-form .form-row {
    margin-bottom: 20px;
}

#basket-step-2,
#basket-step-3{
    display: none;
}


#basket-step-1 .product-card {
    margin-bottom: 0px;
}