<div class="title-menu">Настенная Коллекции <i class="fa fa-caret-right"></i></div>
<ul class="menu-level">
    <li class="active"><a href="./menu-l1.html">Настенная Коллекция 1</a></li>
    <li><a href="./menu-l1.html">Настенная Коллекция 2</a></li>
    <li><a href="./menu-l1.html">Настенная Коллекция 3</a></li>
    <li><a href="./menu-l1.html">Настенная Коллекция 4</a></li>
    <li><a href="./menu-l1.html">Настенная Коллекция 5</a></li>
    <li><a href="./menu-l1.html">Настенная Коллекция 6</a></li>
    <li><a href="./menu-l1.html">Настенная Коллекция с очень длинным названием 7</a></li>
    <li><a href="./menu-l1.html">Настенная Коллекция 8</a></li>
    <li><a href="./menu-l1.html">Настенная Коллекция 9</a></li>
    <li><a href="./menu-l1.html">Настенная Коллекция 10</a></li>
</ul>
<div class="all-colect"><a href="#">Все коллекции  <i class="fa fa-caret-right"></i></a></div>