<div class="categories-list-tovar-e products-list">
    <div class="product-item" style="border: none; background: none">
        <div class="img-wrap">
            <img src="../images/product-prev-01.png" alt="img" class="img-responsive"/>
            <div class="discount">-11%</div>
        </div>
        <div class="text-wrap">
            <h5>
                <a href="#">Акриловая ванна Pupa</a>
            </h5>
            <div class="rating-wrap">
                <div class="rating"></div>
                <span class="count">15</span>
            </div>
            <div class="price">8 999 990 <span class="small">000</span></div>
            <div class="share">
                <span class="old">9 999 900 000</span>
                <span class="discount">Экономия 1 000 000 000</span>
            </div>
        </div>
    </div>
</div>
