<div class="col-md-12">
    <div class="title-colection">Популярные колекции Настенная плитки (5)</div>
    <div class="slider-colection">
        <div class="slide-block slide-block-menu-wrapper">
            <div class="item-slid">
                <a href="./menu-l2.html">
                <img src="../images/berlingo-1.jpg" alt="" />
                <div class="info-block">
                    <p class="title-info">Berlingo</p>
                    <p class="price">от 30 500 <span>000</span></p>
                </div>
                </a>
            </div>
            <div class="item-slid">
                <a href="./menu-l2.html">
                <img src="../images/berlingo-1.jpg" alt="" />
                <div class="info-block">
                    <p class="title-info">Berlingo</p>
                    <p class="price">от 30 500 <span>000</span></p>
                </div>
                </a>
            </div>
            <div class="item-slid">
                <a href="./menu-l2.html">
                <img src="../images/berlingo-1.jpg" alt="" />
                <div class="info-block">
                    <p class="title-info">Berlingo</p>
                    <p class="price">от 30 500 <span>000</span></p>
                </div>
                </a>
            </div>
            <div class="item-slid">
                <a href="./menu-l2.html">
                <img src="../images/berlingo-1.jpg" alt="" />
                <div class="info-block">
                    <p class="title-info">Berlingo</p>
                    <p class="price">от 30 500 <span>000</span></p>
                </div>
                </a>
            </div>
        </div>
        <div class="slide-block slide-block-menu-wrapper">
            <div class="item-slid">
                <a href="./menu-l2.html">
                    <img src="../images/berlingo-1.jpg" alt="" />
                    <div class="info-block">
                        <p class="title-info">Berlingo</p>
                        <p class="price">от 30 500 <span>000</span></p>
                    </div>
                </a>
            </div>
            <div class="item-slid">
                <a href="./menu-l2.html">
                    <img src="../images/berlingo-1.jpg" alt="" />
                    <div class="info-block">
                        <p class="title-info">Berlingo</p>
                        <p class="price">от 30 500 <span>000</span></p>
                    </div>
                </a>
            </div>
            <div class="item-slid">
                <a href="./menu-l2.html">
                    <img src="../images/berlingo-1.jpg" alt="" />
                    <div class="info-block">
                        <p class="title-info">Berlingo</p>
                        <p class="price">от 30 500 <span>000</span></p>
                    </div>
                </a>
            </div>
            <div class="item-slid">
                <a href="./menu-l2.html">
                    <img src="../images/berlingo-1.jpg" alt="" />
                    <div class="info-block">
                        <p class="title-info">Berlingo</p>
                        <p class="price">от 30 500 <span>000</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <script>
        $('.slider-colection').slick({
            slide: '.slide-block'
        });
    </script>
</div>
