<div class="title-menu">Напольная Коллекции 1  2<i class="fa fa-caret-right"></i></div>
<ul class="menu-level">
    <li class="active"><a href="./menu-l1-1.html">Напольная Коллекция 1</a></li>
    <li><a href="./menu-l1-1.html">Напольная Коллекция 2</a></li>
    <li><a href="./menu-l1-1.html">Напольная Коллекция 3</a></li>
    <li><a href="./menu-l1-1.html">Напольная Коллекция 4</a></li>
    <li><a href="./menu-l1-1.html">Напольная Коллекция 5</a></li>
    <li><a href="./menu-l1-1.html">Напольная Коллекция 6</a></li>
    <li><a href="./menu-l1-1.html">Напольная Коллекция с очень длинным названием 7</a></li>
    <li><a href="./menu-l1-1.html">Напольная Коллекция 8</a></li>
    <li><a href="./menu-l1-1.html">Напольная Коллекция 9</a></li>
    <li><a href="./menu-l1-1.html">Напольная Коллекция 10</a></li>
</ul>
<div class="all-colect"><a href="#">Все коллекции  <i class="fa fa-caret-right"></i></a></div>