#scene {
  z-index:-1;
}
header {
  z-index: auto;
}

.main-buttons-box {
  a.active {
    position: relative;
    z-index:12;
  }

  .but {
    white-space: normal;
  }
}
.popup-menu-bg, .popup-search-bg {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom:0;
  z-index:10;
  background:#000;
  opacity: 0.5;
  display: none;
}
.header-menu-top {
  display: none;
  width:100%;
  max-width:1200px;
  z-index:200;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  &:before {
    content: '';
    left: -10px;
    right: -10px;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
  }
  &.plitka {
    border-top: #9b341b solid 2px;
  }
  &.santekhnika {
    border-top: #68af92 solid 2px;
  }
  &.vanny {
    border-top: #68af92 solid 2px;
  }
  &.vanny {
    border-top: #4a809c solid 2px;
  }
  &.mebel-dlya-vannoy {
    border-top: #d57e37 solid 2px;
  }
  .container {
    min-height: 545px;
    padding-top: 30px;
  }
  .title-menu {
    color: #0e819f;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 25px;
    i {
      padding-left: 8px;
      display: inline-block;
    }
  }
  .title-menu-hit {
    color: #ee7f2d;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 25px;
    i {
      padding-left: 8px;
      display: inline-block;
    }
  }
  .menu-level {
    display: block;
    li {
      display: block;
      list-style: none;
      padding-bottom: 15px;
      a {
        color:  #808080;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        &:hover {
          color:  #ef7f2d;
        }
      }
      &.active {
        a {
          color:  #ef7f2d;
        }
      }
    }
  }
  .all-colect {
    a {
      color: #009bb3;
      font-size: 14px;
      font-weight:400;
    }
  }
  .title-colection {
    font-size: 18px;
    color: #4d4d4d;
    font-weight: 500;
    padding-bottom: 20px;
  }

  .colection-description {
    color:  #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-bottom: 20px;
    padding-top: 25px;
  }
  .bt-show-colection {
    border-radius: 4px;
    background-color: #009bb3;
    min-width:227px;
    height:34px;
    display: inline-block;
    line-height: 34px;
    color:  #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    &:hover {
      background: #5593b3;
    }
  }
  .close-bt {
    position: absolute;
    right: 0;
    top: -20px;
    display: block;
    width: 32px;
    height: 32px;
    background: url("../images/close-bt.png") no-repeat;
  }
}

.slider-colection {
    .slide-block-menu-wrapper {
        margin: 0 -15px;
    }
  .slick-prev, .slick-next {
    top: -36px;
  }
  .item-slid {
    width: (100% / 3);
    height: 200px;
    overflow: hidden;
    padding: 0 15px;
    margin:0 0 30px;
    float: left;
    position: relative;
    &:hover {
      img {
        -webkit-transition: all 1s ease-out 0.5s;
        -moz-transition: all 1s ease-out 0.5s;
        -o-transition: all 1s ease-out 0.5s;
        transition: all 1s ease-out 0.5s;
        transform: scale(1.2);
      }
    }
    .info-block {
      background: rgba(255, 255, 255, 0.6);
      // width: 80%;
      padding: 15px 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      // transform: translate(-50%, -50%);
      text-align: center;
      p {
        line-height:normal;
      }
      .title-info {
        font-size: 18px;
        color: #4d4d4d;
        font-weight: 500;
        padding-bottom: 15px;
      }
      .price {
        color: #0f829f;
        font-weight: 500;
        font-size: 18px;
        span {
          vertical-align: top;
          font-size: 10px;
          font-weight: 300;
        }
      }
    }
  }
}

.menu-list-colection {
  max-height: 350px;
  overflow: hidden;
  .title-colection2 {
    color:  #888888;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
  }
  ul {
    display: block;
    max-height: 330px;
    overflow-y: auto;
    li {
      list-style: none;
      display: block;
      padding-bottom: 18px;
      position: relative;
      .img-warp {
        border:#ebebeb solid 1px;
        width: 65px;
        display: block;
        float: left;
        min-height:65px;
        position: relative;
        overflow: hidden;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .name {
        color: #009bb3;
        font-size:14px;
        font-weight: 500;
        display: block;
        margin-left: 85px;
        padding-top: 10px;
      }
      a:hover .name {
        color:#ef7f2d;
      }
      &:after {
        content: '';
        height: 0;
        clear: both;
        display: block;
      }
    }
  }
}


.search-result-block {
  position: fixed;
  width: 90%;
  left: 50%;
  top: 50%;
  display: none;
  transform: translate(-50%, -50%);
  height: 90%;
  max-width: 1200px;
  background: #fff;
  z-index:5001;
  overflow: hidden;

  .search-close-popup {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 14px;
    height: 14px;
    background: url('../images/close-searh-bt.png') no-repeat;
    cursor: pointer;
    z-index: 20;
    display: block;
  }

  & > div {
    height: 100%;
    & > div.container {
      height: 100%;
      & > div.search-result-block-new-row {
        height: 100%;
        padding-bottom: 108px;
        & > div.search-result-block-new-col {
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;
        }
      }
    }
  }

  .container {
    padding: 30px 15px;
    overflow: hidden;
  }
  .products-list.products_list-list {
    overflow: hidden;
  }
  .title-menu {
    color: #0e819e;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 25px;
    i {
      padding-left: 8px;
      display: inline-block;
    }
  }
  .menu-level {
    display: block;
    li {
      display: block;
      list-style: none;
      padding-bottom: 15px;
      a {
        color:  #808080;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        &:hover {
          color:  #ef7f2d;
        }
      }
      &.active {
        a {
          color:  #ef7f2d;
        }
      }
    }
  }
  form.search-form {
    input[type="text"] {
      width:100%;
      height: 38px;
      border: #0f829f solid 1px;
      background: #fff;
      padding: 0 15px;
    }
    padding-right: 20px;
    padding-bottom: 40px;
    position: relative;
    .cancel-bt {
      position: absolute;
      right: 14px;
      top: 12px;
      width: 14px;
      height: 14px;
      background: url("../images/close-searh-bt.png") no-repeat;
      cursor: pointer;
      z-index: 20;
      display: block;
    }
  }
}
