.notfind-section-e {
  background: #f2f6f9;
  padding: 50px 0;
  .container {
    padding:50px 0;
    background: #69b9cc;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    a, a:visited {
      color: #fff;
      text-decoration: underline;
    }
  }
}
@media screen and (min-width: 900px) {
  .posinit {
    position: static;
  }
}

.reklama-footer-section-e {
  padding: 30px 0;
  background: #fff;
  border-bottom:#f2f6f9 solid 50px;

  .title {
    color:  #69b9cc;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 25px;
    padding-top: 30px;
  }
  .descript {
    color:  #888888;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding-bottom: 25px;
    strong {
      color:  #4d4d4d;
      font-weight: 400;
    }
    span {
      color: #ed7f2e;
    }
  }
  .bt-show-tovar {
    border: #ebebeb solid 1px;
    border-radius: 3px;
    min-width:176px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #888888;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    &:hover {
      color: #ee7f2d;
    }
  }
  .foto-tovar {
    width: 100%;
    min-height: 280px;
    padding: 20px;
    border:#ebebeb solid 1px;
    position: relative;
    .imagestovar {
      position: relative;
      width: 100%;
      height: 180px;
      text-align: center;
      img {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .discont {
      position: absolute;
      left: 10px;
      top: 10px;
      font-size:12px;
      text-align: center;
      line-height: 32px;
      width: 32px;
      height: 32px;
      background: #cb4629;
      border-radius: 50%;
      display: block;
      color: #fff;
    }
    .title {
      color: #4d4d4d;
      font-size: 14px;
      font-weight: 500;
      width: 70%;
      line-height: 16px;
      padding: 0;
      position: relative;
      z-index:10;
      margin-top: -20px;
      padding-bottom: 10px;
    }
    .price {
      color:  #0f829f;
      font-size: 24px;
      font-weight: 500;
      span {
        font-size: 12px;
        vertical-align: top;
      }
      .oldprice {
        padding-top: 2px;
        text-decoration: line-through;
        font-size: 12px;
        color: #888888;
      }
    }
    .bt-cart {
      position: absolute;
      right: 19px;
      bottom: 19px;
      width: 64px;
      height: 32px;
      display: block;
      -webkit-border-radius:3px;
      -moz-border-radius:3px;
      border-radius:3px;
      background: url("../images/cart-bg.png") no-repeat center center #0f829f;
      &:hover {
        background: url("../images/cart-bg.png") no-repeat center center #5593b3;

      }
    }
  }
}

.about-section-e {
  padding: 30px 0 50px;
  background: #fff;
  color:  #888888;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  .title {
    color:  #595959;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
  }
}

.categories-section-e {
  background: #fff;
  padding: 30px 0 50px;
  .title {
    color:  #595959;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
    span {
      vertical-align: top;
      color: #ed7f2e;
      font-size: 12px;
    }
  }
}

.categories-list-e {
  padding: 30px;
  background-color:  #ededed;
  min-height:100%;
  ul {
    display: block;
    li {
      list-style:none;
      display: block;
      padding-bottom: 15px;
      a, a:visited {
        color:  #5a5a5a;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        &:hover {
          color:  #ed7f2e;
        }
      }
      &.active {
        a, a:visited {
          color:  #ed7f2e;
        }
      }
    }
  }
}

.checkbox-e {
  font-size: 14px;
  color:  #808080;
  font-weight: 400;
  position: relative;
  label {
    padding-left:27px;
    font-size: 14px;
    color:  #808080;
    font-weight: 400;
    background: url("../images/checkbox.png") no-repeat left center;
    min-height: 18px;
    line-height: 18px;
    display: block;
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  input:checked ~ label {
    background: url("../images/checkbox-active.png") no-repeat left center;
  }
}

.categories-filter-order-e {
  background: #ededed;
  padding:15px 20px;
  position: relative;
  margin-bottom: 20px;
  .instoke {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }
  .show-list-table {
    float: right;
    height: 32px;
    margin-left: 20px;
    span {
      display: block;
      float: left;
      position: relative;
      width: 32px;
      height: 32px;
      border-radius:3px;
      color: #595959;
      margin-left: 10px;
      font-size: 20px;
      cursor: pointer;
      i {
        position: relative;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
      }
      &.active {
        border:#b3b3b3 solid 1px;
        color: #808080;
      }
    }
  }
  .orderblock {
    float: right;
    select {
      height: 32px;
      border:#b3b3b3 solid 1px;
      background: #fff;
      border-radius: 3px;
      padding-left: 8px;
      min-width:222px;
    }
  }
}

.products-list {
  &.categories-list-tovar-e {
    border-bottom:none;

    .description-params {
        display: block;
        list-style: none;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        height: 60px;
        overflow-y: auto;
        overflow-x: hidden;
        color: #888;

        li {
            display: block;
            font-size: 14px;
            line-height: 20px
        }
    }

    .product-item {
      width: 262px;
      margin-left: auto;
      margin-right: auto;
      height: 450px;
      border: #ebebeb solid 1px;
      margin-bottom: 30px;
      position: relative;
      .img-wrap {
        .mark.green {
          background-color: rgba(0, 169, 0, 0.7);
        }
      }
      .button-block {
        position: absolute;
        top: 100%;
        left: -1px;
        right: -1px;
        background: #fff;
        border: #ebebeb solid 1px;
        border-top: none;
        z-index: 20;
        padding: 0 19px 19px;
        box-shadow: 0 0 10px 1px rgba(255,165,0,.5);
        display: none;
        &:before {
          position: absolute;
          left: 0;
          right: 0;
          height: 10px;
          background: #fff;
          top: -10px;
          content: "";
        }
      }
    }
  }
    .parameters{
      font-size: 0;
      margin-bottom: 20px;
      text-align: justify;
      -ms-text-justify: newspaper;
      text-justify: newspaper;
      &:after{
        content: '';
        display: inline-block;
        width: 100%;
      }
      .button{
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        width: 56px;
        text-indent: -9999px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        background: url("../images/cart-bg.png") no-repeat center center #0f829f;
        &:hover{
          background: url("../images/cart-bg.png") no-repeat center center #5593b3;
        }
      }
      .button.full{
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #0f829f;
        width: 97px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        text-indent: 0;
        display: inline-block;
        vertical-align: middle;
        &:hover{
          background: #5593b3;
        }
      }
    }

    .form-wrap-new {
      .parameters {
        margin-bottom: 0;
      }
    }

    .units{
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid #d9d9d9;
      display: inline-block;
      vertical-align: middle;
      font-size: 0;
      ul{
        list-style: none;
        display: inline-block;
      }
      li{
        display: inline-block;
        color: #888888;
        line-height: 30px;
        font-size: 14px;
        width: 30px;
        text-align: center;
        margin-bottom: 0;
        border-right: 1px solid #d9d9d9;
        background: #f7f7f7;
        &:last-child{
          border-right: none;
          background: none;
        }
        &.active{
          color: #ee7f2d;
        }
      }
    }
    .buy{
      display: block;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid #d9d9d9;
      text-align: center;
      line-height: 30px;
      color: #0f829f;
      font-size: 14px;
      font-weight: 500;
      &:hover{
        color: #ee7f2d;
      }
    }

  .product-item:hover {
    .button-block {
      display: block;
    }
  }
}

.buy-one-click {
  form {
    display: none;
    border: #ee7e2d solid 1px;
    border-radius: 3px;
    height: 32px;
    position: relative;
    input[type="text"] {
      position: relative;
      border: none;
      height: 30px;
      border-radius: 3px;
      display: block;
      font-size: 14px;
      padding-left:8px;
      float: left;
      width: 100%;
      margin-right: -31px;
      padding-right: 31px;
    }
    input[type="submit"] {
      position: relative;
      border: none;
      float: right;
      background: #ee7e2d;
      width: 31px;
      height: 30px;
      color:#fff;
      font-size: 14px;
      z-index: 2;
    }
    .bt-close-one-click {
      display: inline-block;
      width: 12px;
      height: 12px;
      position: absolute;
      right: 42px;
      top: 10px;
      cursor: pointer;
      background: url("../images/close-one-click.png") no-repeat;
    }
  }
  &.active {
    .buy {
      display: none;
    }
    form {
      display: block;
    }
  }
}
.show-tovar-col-e {
  border: #d9d9d9 solid 1px;
  border-radius: 3px;
  margin-bottom: 20px;
  .select-show {
    width: 140px;
    float: right;
    border-left:#d9d9d9 solid 1px;
    select {
      background: none;
      border: none;
      font-size: 14px;
      color:  #888888;
      height: 32px;
      padding-left: 10px;
      width: 140px;
      border-radius: 3px;
    }
  }
  .show {
    margin-right: 141px;
    text-align: center;
    font-size: 14px;
    height:32px;
    font-weight: 400;
    line-height: 32px;
    color:  #888888;
    overflow: hidden;
  }
}

.page-navigation-e {
  ul {
    display: block;
    text-align: center;
    li {
      display: inline-block;
      list-style: none;
      width:30px;
      height: 30px;
      line-height: 30px;
      border-radius: 3px;
      color: #808080;
      &:nth-child(1) {
        border: #d9d9d9 solid 1px;
        margin-right: 20px;
      }
      &:nth-last-child(1) {
        border: #d9d9d9 solid 1px;
        margin-left: 20px;
      }
      a, a:visited {
        font-size: 14px;
        line-height: 30px;
        color: #808080;
      }
      a:hover {
        color: #4d4d4d;
      }
      &.active {
        border: #4d4d4d solid 1px;
        a, a:visited {
          color: #4d4d4d;
        }
      }
    }
  }
}

.viewed-products.top-border {
  border-bottom:none;
  border-top: 50px solid #f2f6f9;
}

.label-table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
}

.label-item {
  display: inline-block;
  width: 50%;

  &.first {
    padding-right: 5px;
  }
  &.last {
    padding-left: 5px;
  }
}

.label-item__table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  box-sizing: border-box;
}

.label-item__label {
  display: table-cell;
  vertical-align: middle;
  width: 1px;
  padding-right: 5px;

  font-size: 14px;
  font-weight: 600;
  color: #4d4d4d;
  white-space: nowrap;
}

.label-item__input {
  display: table-cell;
  vertical-align: middle;

  input {
    width: 100%;
    padding: 0 7px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    border-radius: 3px;
  }

}

.full-filters-e {
  padding: 30px 0;
  background: #ededed;
  .block-filter {
    padding:0 30px 18px;
    margin-bottom: 20px;
    border-bottom: #e6e6e6 solid 1px;
    .title {
      font-size: 14px;
      color: #4d4d4d;
      font-weight: 600;
      line-height: 18px;
      padding-bottom: 15px;
    }
    .checkbox-e {
      padding-bottom: 18px;
      label {
        line-height: 21px;
        color:  #808080;
        font-size: 14px;
        background-position: 0 2px;
      }
      &:nth-last-child(1) {
        padding-bottom: 0;
      }
    }
    .tow-input-label {
      // height: 32px;
    }
    .tow-input {
      height: 32px;
      border: #d9d9d9 solid 1px;
      border-radius: 3px;
      background: #fff;
      input[type="text"] {
        width: 50%;
        border:none;
        background: none;
        padding: 0 7px;
        height: 30px;
        float: left;
        font-size: 14px;
        &:nth-child(1) {
          border-right: #d9d9d9 solid 1px;
        }
      }
    }
    .select-e {
      background: #ededed;
      border: #d9d9d9 solid 1px;
      border-radius: 3px;
      color: #a0a0a0;
      height: 32px;
      line-height: 32px;
      padding: 0 10px;
      position: relative;

      a {
        display: block;
        text-decoration: none;
        color:  #a0a0a0;

        i {
          color:  #595959;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
        }
      }

      &__popup {
        margin-left: 15px;
        position: absolute;
        left: 100%;
        top: -60px;
        border-radius: 3px;
        background: #fff;
        box-shadow: 0 5px 15px 0 rgba(0,0,0,.3),0 0 0 1px rgba(0,0,0,.05);
        max-height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 5;
        transition: all 0.2s cubic-bezier(0.9, .1, .1, .9);
        transform: translateX(60px);
        opacity: 0;
        visibility: hidden;

        @media (max-width: 991px){
          left: 0;
          top: 100%;
          margin-left: 0;
          margin-top: 15px;
          width: 100%;
          transform: translate(0, 60px);
        }

        &.show-popup {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);

          @media (max-width: 991px){
            transform: translate(0, 0);
          }
        }

        &-inner {
          padding: 10px 10px 20px 25px;
        }

        &-columns {

          html.csscolumns & {
            column-count: 2;
            column-gap: 0;
            column-width: 150px;
            width: 360px;

            &.column_3 {
              column-count: 3;
              width: 540px;
            }

          }

          html.no-csscolumns & {
            width: 360px;

            &.column_3 {
              width: 540px;

              .select-e__popup-item {
                width: (100% / 3);
              }
            }
          }

        }

        &-item {
          padding-top: 10px;

          html.no-csscolumns & {
            float: left;
            width: (100% / 2);
          }
        }
      }
    }
  }
  .no-border {
    border-bottom:none;
  }
  .title2 {
    color:  #a0a0a0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 25px;
  }
  .find-all {
    background: #ee7f2d;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
  }
  .bt-filter-reset {
    border: #d9d9d9 solid 1px;
    border-radius: 3px;
    height: 32px;
    line-height: 32px;
    color:  #a0a0a0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    display: block;
  }
}

.category-list {
  .item-categor {
    height: 67px;
    border: #ebebeb solid 1px;
    margin-bottom: 20px;
    .img {
      height: 65px;
      width: 65px;
      display: block;
      float: left;
      position: relative;
      img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .titles {
      margin-left: 65px;
      margin-right: 45px;
      color:  #808080;
      font-size: 14px;
      font-weight: 400;
      display: block;
      padding-top: 14px;
      padding-left: 10px;
      line-height: 21px;
    }
    .coll {
      width: 45px;
      float: right;
      padding-top: 15px;
      color:  #ed7f2e;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
    &:hover {
      box-shadow: 0 0 10px 1px rgba(255, 165, 0, 0.5);
    }
  }
}

.products_list-list {
  &.products-list {
    border-bottom:none;
  }
  .product-item {
    border:  none;
    padding-bottom: 35px;
    font-size:14px;
    color: #888888;
    font-weight: 400;
    .img-wrap {
      position: relative;
      height: 163px;
      min-width: 163px;
      border: #ebebeb solid 1px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .mark.green {
        background-color: rgba(0, 169, 0, 0.7);
      }
    }
    .rating-wrap {
      margin-bottom: 0;
      padding-bottom: 15px;
    }
    &:hover {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    h5 {
      padding-bottom: 10px;
      a {
        color:  #4d4d4d;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        &:hover {
          color: #ef7f2d;
        }
      }
    }
    .description {
      font-size: 14px;
      line-height: 16px;
      p {
        line-height: 20px;
      }
    }
    .parameters {
      .button{
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #0f829f;
        width: 97px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        text-indent: 0;
        display: inline-block;
        vertical-align: middle;
        &:hover{
          background: #5593b3;
        }
      }
      .button-new-basket {
        width: 172px;
      }
      .button-cancel {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #b3b3b3;
        width: 172px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        text-indent: 0;
        display: none;
        vertical-align: middle;
        &:hover{
          background: #b3b3b3;
        }
      }
      .button-order {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #ee7e2d;
        width: 172px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        text-indent: 0;
        display: none;
        vertical-align: middle;
        &:hover{
          background: #ee7e2d;
        }
      }
      &.inbasket {
        .units, .button {
          display: none;
        }
        .button-cancel {
          display: inline-block;
        }
      }
      &.fororders {
        .units, .button {
          display: none;
        }
        .button-order {
          display: inline-block;
        }
      }
    }
    .buy-one-click {
      form {
        position: relative;
        input[type="submit"] {
          border: none;
          float: right;
          background: #ee7e2d;
          width: 79px;
          height: 30px;
          color:#fff;
          font-size: 14px;
        }
        input[type="text"] {
          margin-right: -79px;
          padding-right: 79px;
        }
        .bt-close-one-click {
          display: inline-block;
          width: 12px;
          height: 12px;
          position: absolute;
          right: 88px;
          top: 10px;
          cursor: pointer;
          background: url("../images/close-one-click.png") no-repeat;
        }
      }
    }
    .product-item-price {
      max-width:262px;
      margin-left: auto;
      margin-right: 0;
    }
  }

  &.new-style-list {

    .product-item {

      .insertAjax {
          padding: 10px 15px;
          background: #f7f7f7;
          border-top: 1px solid #ebebeb;
      }

      .product-item-price {
        border: 1px solid #ebebeb;
      }

      .vertical-wrapper {
          margin: 15px;
      }

      .parameters {
        .button-new-basket, .button-order {
          width: 142px;
        }
      }

      .buy-one-click {
        form {
          input[type=submit] {
            width: 45px;
          }

          input[type=text] {
            margin-right: -45px;
            padding-right: 45px;
          }

          .bt-close-one-click {
            right: 53px;
          }
        }
      }

    }

  }
}

.seo-block {
  background: #fff;
  .container {
    padding: 30px 0 45px;
    color:  #888888;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  p {
    line-height: 21px;
  }
  h3 {
    font-family: Roboto, sans-serif;
    color:  #595959;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .seoslider {
    position: relative;
    .slick-prev {
      bottom: -25px;
      left: 0;
    }
    .slick-next {
      bottom: -25px;
      left: 30px;
    }
  }
}

.colections-list {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
  }
  .colections-item {
    position: relative;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    height: 288px;
    border:#ebebeb solid 1px;
    margin-bottom: 30px;
    .text-warp {
      padding:20px 20px 0;
      .title-colectino-item {
        padding-bottom: 15px;
        color:  #4d4d4d;
        font-size:14px;
        line-height: 14px;
        font-weight: 500;
        a, a:visited {
          color:  #4d4d4d;
          font-size:14px;
          line-height: 14px;
          font-weight: 500;
        }
      }
      .price {
        color:  #0f829f;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        span {
          font-size: 12px;
          line-height: 12px;
          vertical-align: top;
        }
      }
    }
    .colections-item-hover {
      position: absolute;
      background: #fff;
      top: -31px;
      left: -31px;
      z-index: 10;
      width: 517px;
      min-height: 347px;
      padding: 30px;
      border:#ebebeb solid 1px;
      -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
      -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
      display: none;
      .slide-item {
        width: 262px;
      }
      .js-left-part {
        width: 262px;
        float: left;
        margin-right: 29px;
        .img-wrap {
          border:none;
        }
        .text-warp {
          padding-left: 0;
          padding-right: 0;
        }
      }
      .categories-list-tovar-e {

        .product-item, img {
          margin-bottom: 0;

        }
      }
    }
    &:hover {
      .colections-item-hover {
        display: block;
      }
    }
    .collection-item-new-wrap {
      position: relative;
      overflow: hidden;
      width: 163px;
      height: 287px;
      float: left;

      .collection-item-new-close-btn {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 32px;
        height: 32px;
        background: url(../images/close-bt.png) no-repeat;
      }

      .colections-item-slider {
        width: auto;
        float: none;
      }
    }
    .colections-item-slider {
      overflow: hidden;
      width: 163px;
      height: 287px;
      float: left;
      padding-top: 46px;
      .slick-prev, .slick-next {
        left: 0;
        top: 0;
      }
      .slick-next {
        left: 25px;
      }
      .colections-item-slider-item {
        width: 67px;
        height: 67px;
        float: left;
        margin-right: 29px;
        margin-bottom: 20px;
        border:#ebebeb solid 1px;
        position: relative;
        img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        &:nth-child(2n){
          margin-right: 0;
        }
        &:hover {
          border:#ee7f2d solid 1px;
        }
      }
    }
  }
}


.contact-section {
  padding-top: 20px;
  padding-bottom: 50px;
  background: #fff;
  h1 {
    color:  #595959;
    font-size: 24px;
    font-weight: normal;
    font-weight: 500;
    text-transform: inherit;
  }
  .maps-block {
    position: relative;
    .conta-info {
      position: absolute;
      left: 30px;
      top: 30px;
      background:#fff;
      width: 360px;
      min-height: 216px;
      padding: 20px;
      -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
      z-index: 20;
      color:  #888888;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      .adres {
        padding:8px 0 18px 50px ;
        background: url(../images/adress_icon.png) no-repeat;
      }
      .time {
        padding:8px 0 18px 50px ;
        background: url(../images/time_icon.png) no-repeat;
      }
      .phone {
        padding:8px 0 18px 50px ;
        background: url(../images/phone_icon.png) no-repeat;
        a {
          color:  #4a809c;
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
        }
      }
    }
  }
}

#map {
  height: 550px;
}

.contact-form-section {
  background: #f2f6f9;
  padding: 50px 0;
  .container {
    background: #69b9cc;
    padding: 50px 0 30px;
    .center-block {
      float: none;
      margin: 0 auto;
    }
    .title {
      color:  #ffffff;
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      padding-bottom: 30px;
    }
    .form-row {
      position: relative;
      margin-bottom:20px;
      label.error {
        background: #cb4629;
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        bottom: 0;
        padding-left: 17px;
        padding-right: 17px;
        font-size: 14px;
        color: #ffffff;
        line-height: 44px;
        color: #fff !important;
        margin: 0 !important;
      }
      textarea ~ label.error {
        line-height: 150px;
      }
    }
    input[type="text"] {
      width: 100%;
      height: 44px;
      background: #fff;
      font-size: 14px;
      color: #595959;
      padding: 0 15px;
      border: #fff solid 1px;
      &:focus {
        border: #0f829f solid 1px;
      }
      &.error {
        border-color: #cb4629;
      }
    }
    textarea {
      width: 100%;
      background: #fff;
      font-size: 14px;
      color: #595959;
      padding: 15px;
      height: 150px;
      border: #fff solid 1px;
      &:focus {
        border: #0f829f solid 1px;
      }
    }

    input[type="submit"] {
      max-width: 240px;
      width: 100%;
      height: 50px;
      border: none;
      border-radius: 4px;
      background-color:  #0f829f;
      display: block;
      color:  #ffffff;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      margin: 0 auto;
      &:hover {
        background-color:  #5593b3;
      }
    }
  }
}
@media screen and (max-width: 1030px) {
  .buy-info {
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .buy-info {
    margin-left: 0;
  }
  .bt-show-tovar {
    margin-bottom: 10px;
  }
  .notfind-section-e, .notfind-section-e a {
    font-size: 18px;
  }
  .detail-section-01 .product-viewer-wrap .products-preview ul {
    margin-bottom: 0;
  }
  .detail-section-01 .product-viewer-wrap .products-preview li {
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .header-menu-top {
    position: absolute !important;
    top: 55px !important;
  }
  .categories-filter-order-e .instoke {
    position: relative;
    top: auto;
    display: block;
    transform: none;
    padding-bottom: 20px;
  }
  .categories-filter-order-e .orderblock {
    float: none;
    width: 100%;
  }
  .products-list.categories-list-tovar-e .product-item {
    margin-left: auto;
    margin-right: auto;
  }
  .categories-list-e {
    background: none;
  }
  .seo-block {
    padding-left: 15px;
    padding-right: 15px;
  }
  .contact-section .maps-block .conta-info {
    position: relative;
    left:auto;
    top: auto;
    width: auto;
    box-shadow: none;
    border: none;
  }
  .colections-list .colections-item {
    margin-left: auto;
    margin-right: auto;
  }
  .colections-list .colections-item:hover .colections-item-hover {
    display: none;
  }
}

@media (min-width: 768px) {
  header.v2 .mosaic-row .search-icon.hidden-xs, .mosaic-button-row.hidden-xs {
    display: none !important;
  }
}
