.clearfix{
  &:after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
  }
}

.main-h1 {
  h1 {
    font-family: inherit;
    color: #595959;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: none;
  }
}

.text-count-input {
  padding: 3px;
  line-height: 30px;
  max-width: 78px;
  border: 1px solid #d9d9d9;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  color: #4d4d4d;
  text-align: center;
  -moz-appearance: textfield;
  border-radius: 3px;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

.breadcrumbs{
  background: #f2f6f9;
  font-family: Roboto, sans-serif;
  margin-top: -21px;
  .container{
    padding-top: 13px;
    padding-bottom: 13px;
  }
  ul{
    list-style: none;
    font-size: 0;
  }
  li{
    display: inline-block;
    color: #595959;
    font-size: 14px;
    line-height: 18px;
    &:after{
      content: '/';
      color: #cccccc;
      display: inline-block;
      margin: 0 10px;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
    &:first-child{
      a{
        &:after{
          display: none;
        }
      }
    }
  }
  a{
    text-decoration: none;
    color: #808080;
    &:hover{
      text-decoration: underline;
    }
    &:after{
      display: none; // inline-block
      content: '';
      border: 5px solid transparent;
      border-top-color: #7f7f7f;
      margin-left: 5px;
      margin-bottom: -3px;
    }
  }
}

.zoomWindow{
  top: -1px !important;
  border: 1px solid #d7d7d7 !important;
  margin-left: 20px !important;
}

.rating-wrap{
  font-size: 0;
  .glyphicon{
    top: 0;
  }
  .glyphicon-star-empty{
    &:before{
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background: url("../../images/ico-star.png");
    }
  }
  .rating-symbol-foreground{
    &:before{
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background: url("../../images/ico-star-active.png");
    }
  }
}

.detail-section-01{
  background: #fff;
  border-bottom: 50px solid #f2f6f9;
  .container{
    padding-top: 30px;
    padding-bottom: 45px;
  }

  .product-viewer-wrap {
    .prod-photo {
      border: 1px solid #ebebeb;
      margin-bottom: 20px;
      position: relative;
      //text-align: center;

      img {
        display: inline-block;
      }

      .mark {
        position: absolute;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-weight: 500;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 11;

        &.gray {
          background-color: rgba(128,128,128,.7);
        }

        &.green {
          background-color: rgba(0,169,0,0.7);
        }
      }

    }
    .products-preview {
      ul{
        list-style: none;
        margin-bottom: -30px;
        .clearfix;
      }
      a{
        display: block;
        width: 67px;
        height: 67px;
        border: 1px solid #ebebeb;
        &.active{
          border-color: #ed7f2e;
        }
      }
      li{
        margin-bottom: 30px;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 30px;
        &:nth-child(4n){
          margin-right: 0;
        }
      }
    }
  }

  .top-info{
    margin-bottom: 30px;
    ul{
      list-style: none;
      color: #888888;
    }
    li{
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .paddbot20 {
      padding-bottom: 20px;
    }
  }
  h1{
    font-family: Roboto, sans-serif;
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 30px;
    color: #595959;
    font-size: 24px;
    text-transform: none;
  }
}

.buy-info{
  margin-left: -30px;
  .buy-head{
    background: #f2f2f2;
    text-align: center;
    padding: 15px 0;
    color: #888888;
    font-size: 12px;
    margin-bottom: 30px;
  }
  .rating-wrap{
    display: inline-block;
    vertical-align: middle;
  }
  .reviews{
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;
  }
  .view{
    color: #888888;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    &:hover{
      color: #ed7f2e;
    }
  }

  .price{
    color: #0f829f;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    span{
      vertical-align: text-top;
    }
    .small{
      font-size: 14px;
    }
  }

  .parameters{
    font-size: 0;
    margin-bottom: 20px;
    text-align: justify;
    -ms-text-justify: newspaper;
    text-justify: newspaper;
    &:after{
      content: '';
      display: inline-block;
      width: 100%;
    }
    .button{
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: #0f829f;
      width: 97px;
      line-height: 32px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      &:hover{
        background: #5593b3;
      }
    }
  }

  .units{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    ul{
      list-style: none;
      display: inline-block;
    }
    li{
      display: inline-block;
      color: #888888;
      line-height: 30px;
      font-size: 14px;
      width: 30px;
      text-align: center;
      margin-bottom: 0;
      border-right: 1px solid #d9d9d9;
      &:last-child{
        border-right: none;
      }
      &.active{
        color: #ee7f2d;
      }
    }
  }

  .buy{
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #0f829f;
    font-weight: 500;
    &:hover{
      color: #ee7f2d;
    }
  }
}

.buy-info-wrapper {
    border: 1px solid #ebebeb;
    .buy-info {
        margin: 15px;
    }
}

.share{
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  .old{
    font-size: 12px;
    color: #888888;
    text-decoration: line-through;
  }
  .discount{
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -9px;
    margin-left: 18px;
    font-size: 10px;
    color: #fff;
    background: #cb4629;
    line-height: 18px;
    white-space: nowrap;
    padding: 0 7px;
    &:before{
      content: '';
      border: 9px solid transparent;
      border-right-color: #cb4629;
      right: 100%;
      top: 0;
      position: absolute;
    }
  }
}


.jq-number {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 21px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  &__field{
    width: 34px;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    position: relative;
    input {
      line-height: 24px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      padding: 3px;
      border: none;
      outline: none;
      background: none;
      color: #4d4d4d;
      appearance: textfield;
    }
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }
  &__spin{
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 100%;
    background: #f7f7f7;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    &:after {
      content: '+';
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      line-height: 30px;
    }
    &:hover {
      background: #E6E6E6;
    }
    &:active {
      background: #F5F5F5;
    }
    &.minus {
      right: auto;
      left: 0;
      &:after {
        content: '-';
      }
      &:hover{
        &:after {
          border-top-color: #000;
        }
      }
    }
    .plus:hover:after {
      &:hover{
        &:after {
          border-bottom-color: #000;
        }
      }
    }
  }
}


.product-description{
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
  h4{
    margin-bottom: 0;
    display: block;
  }
  .title{
    display: block;
    padding: 17px 16px;
    color: #595959;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-transform: none;
    position: relative;
    &:after{
      content: '';
      border: 4px solid transparent;
      border-top-width: 6px;
      border-bottom-width: 6px;
      border-top-color: #595959;
      position: absolute;
      right: 19px;
      top: 50%;
      margin-top: -3px;
    }
    &:hover{
      color: #ee7f2d;
    }
    &.active{
      &:after{
        border-top-color: transparent;
        border-bottom-color: #595959;
        margin-top: -9px;
      }
    }
  }
  .text{
    display: none;
    padding: 5px 16px 20px;
    color: #595959;
    p{
      line-height: 18px;
      font-size: 14px;
      margin-bottom: 18px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.product-feature{
  h4{
    color: #595959;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    text-transform: none;
    margin-bottom: 15px;
  }
  table{
    width: 100%;
    font-size: 14px;
    th, td{
      padding: 9px 0;
    }
    td{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 10px;
    }
    th{
      width: 50%;
      color: #888888;
      overflow: hidden;
      span{
        position: relative;
        &:after{
          content: '';
          width: 1000px;
          position: absolute;
          border-bottom: 1px dotted #bfbfbf;
          bottom: 3px;
          left: 100%;
          margin-left: 5px;
        }
      }
    }
    td{
      color: #595959;
    }
  }
}

.products-list{
  background: #fff;
  border-bottom: 50px solid #f2f6f9;
  .container{
    padding-top: 28px;
    padding-bottom: 35px;
  }
  h3{
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: none;
    a{
      color: #595959;
      vertical-align: top;
      &:hover{
        color: #ee7f2d;
      }
    }
    .count{
      font-size: 11px;
      color: #d57e37;
      vertical-align: top;
    }
  }
  .product-item{
    border: 1px solid #ebebeb;
    position: relative;
    .remove{
      position: absolute;
      width: 12px;
      height: 12px;
      background: url("../../images/ico-close.png") center no-repeat;
      top: 9px;
      right: 9px;
      display: none;
      z-index: 99;
    }
    &:hover{
      box-shadow: 0 0 10px 1px rgba(255,165,0,.5);
      .remove{
        display: block;
      }
    }
  }
  .related-slider, .viewed-slider{
    margin: 0 -15px;
    .slick-prev, .slick-next{
      top: -25px;
      right: 15px;
    }
  }
  .product-images{
    display: inline-block;
    width: 100%;
    .slick-prev, .slick-next{
      top: 15px;
      right: 15px;
      opacity: 0;
    }
    &:hover {
      .slick-prev, .slick-next{
        opacity: 1;
      }
    }
  }
  .slide{
    padding: 15px;
  }
  .img-wrap{
    height: 190px;
    text-align: center;
    line-height: 190px;
    font-size: 0;
    position: relative;
    img{
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
      width: auto !important;
      max-height: 100%;
      height: auto !important;
    }
    .mark{
      position: absolute;
      line-height: 30px;
      text-align: center;
      font-size: 14px;
      color: #fff;
      font-weight: 500;
      left: 0;
      right: 0;
      bottom: 5px;
      // margin-top: -15px;
      &.gray{
        background: rgba(128, 128, 128, .7);
      }
    }
    .discount{
      position: absolute;
      left: 9px;
      top: 9px;
      width: 32px;
      height: 32px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #cb4629;
      color: #fff;
      text-align: center;
      line-height: 32px;
      font-size: 12px;
    }
  }
  .text-wrap{
    padding: 20px;
    padding-top: 0;
    h5{
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      a{
        max-height: 36px;
        overflow: hidden;
        display: inline-block;
        color: #4d4d4d;
        &:hover{
          color: #ee7f2d;
        }
      }
    }
  }
  .form-wrap-new {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
  }
  .rating-wrap{
    margin-bottom: 20px;
    .rating{
      display: inline;
    }
    .count{
      font-size: 12px;
      color: #888888;
      margin-left: 8px;
    }
  }
  .price{
    font-size: 24px;
    color: #0f829f;
    font-weight: 500;
    margin-bottom: 8px;
    .small{
      font-size: 12px;
      vertical-align: top;
    }
  }
}

.viewed-products{
  .img-wrap{
    height: 140px;
    line-height: 140px;
  }
}

.reviews-section{
  background: #fff;
  .container{
    padding-top: 28px;
    padding-bottom: 60px;
  }
  h3{
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-transform: none;
    margin-bottom: 35px;
    a{
      color: #595959;
      vertical-align: top;
      &:hover{
        color: #ee7f2d;
      }
    }
    .count{
      font-size: 11px;
      color: #d57e37;
      vertical-align: top;
    }
  }

  .review-item{
    margin-bottom: 55px;
  }

  .author{
    margin-bottom: 15px;
    h5{
      font-size: 16px;
      font-weight: 500;
      display: inline-block;
      a{
        color: #4d4d4d;
        &:hover{
          color: #ee7f2d;
        }
      }
    }
    .about{
      font-size: 12px;
      display: inline-block;
      color: #888888;
      margin-left: 18px;
    }
  }

  .rate{
    margin-bottom: 25px;
    .number{
      display: inline-block;
      vertical-align: middle;
      font-weight: 500;
      color: #4d4d4d;
      padding: 1px 8px;
      border: 2px solid;
      border-right: none;
      position: relative;
      &.orange{
        border-color: #d57e37;
        &:before{
          border-left-color: #d57e37;
        }
      }
      &.green{
        border-color: #83ca43;
        &:before{
          border-left-color: #83ca43;
        }
      }
      &:before{
        content: '';
        position: absolute;
        left: 100%;
        top: -2px;
        border: 11px solid transparent;
        border-left-width: 7px;
      }
      &:after{
        content: '';
        position: absolute;
        left: 100%;
        top: 1px;
        border: 8px solid transparent;
        border-left-width: 5px;
        border-left-color: #fff;
      }
    }

    ul{
      list-style: none;
      display: inline-block;
      vertical-align: middle;
      color: #b2b2b2;
      margin-left: 25px;
      li{
        display: inline-block;
        font-size: 12px;
        vertical-align: middle;
        margin-right: 12px;
      }
    }
  }

  .text{
    margin-bottom: 25px;
    .item{
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 21px;
      color: #888888;
      strong{
        display: inline-block;
        font-weight: 500;
        color: #4d4d4d;
        vertical-align: top;
      }
      span{
        display: inline-block;
        vertical-align: top;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .foot{
    .clearfix;
    .date{
      float: left;
      font-size: 12px;
      color: #b2b2b2;
    }
  }
  .likes-block{
    float: right;
    ul{
      list-style: none;
    }
    li{
      display: inline-block;
      margin-left: 10px;
    }
    a{
      text-decoration: none;
      font-size: 12px;
      &:before{
        content: '';
        display: inline-block;
        width: 16px;
        height: 18px;
        background-repeat: no-repeat;
        background-position: center center;
        margin-right: 5px;
      }
    }
    .dislike{
      color: #f81f1f;
      &:before{
        background-image: url("../../images/ico-dislike.png");
        margin-bottom: -8px;
      }
    }
    .like{
      color: #298800;
      &:before{
        background-image: url("../../images/ico-like.png");
      }
    }
  }

  .more{
    display: inline-block;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 7px 25px;
    color: #888888;
    &:hover{
      color: #ee7f2d;
    }
  }
}
